*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



video {


  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.shadow-cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  pointer-events: none;
}








