body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background: linear-gradient(151.12deg, #151166 1.31%, #0B5F9E 14.29%, #0399C8 69.71%, #00AFD8 84.39%);
    height: auto;
}

.wrapper {
    max-width: 1438px;
    margin: 0 auto;
}

.intro-back {
    width: 100%;
    height: 1344px;
}

.intro {
    background: url(../img/intro.png) no-repeat center top / cover;
    width: 100%;
    height: 1500px;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    min-width: 524px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro__content {
    margin-top: 80px;
}

.intro__conten-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro__conten-subtitle span {
    color: #3DE246;
}

.intro__conten-title {
    max-width: 608px;
    font-weight: 700;
    font-size: 64px;
    line-height: 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.intro__conten-desc {
    max-width: 508px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.intro__content-users {
    display: flex;
    margin-top: 62px;
}

.intro__content-img {
    margin-right: 49px;
}

.users__item {
    max-width: 165px;
}

.users-line {
    width: 39px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(90deg);
    position: relative;
    top: 40px;
    left: -13px;
}

.users__item-value {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.users__item-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.intro__content-btns {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.intro__content-download {
    width: 246px;
    height: 81px;
    background: #4CD8F9;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 25px 72px;
    margin-right: 58px;
}

.intro__content-faqs {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inrto__right-back {
    position: relative;
}

.img__phone {
    background: url(../img/img_phone.png) no-repeat right top / cover;
    width: 743px;
    height: 780px;
    position: absolute;
    right: 0;
    margin-top: 68px;
}

.bg__abstract {
    background: url(../img/bg_abstract.png) no-repeat right top;
    width: 1071px;
    height: 508px;
    position: absolute;
    right: -384px;
    top: 587px;
}

.intro__country {
    background: url('../img/contry-bg.png') no-repeat center top / cover;
    height: 229px;
    z-index: 99999;
    margin-top: 200px;
    position: relative;
    padding-top: 78px;
    padding-bottom: 78px;
    padding-left: 121px;
    display: flex;
    align-items: center;
}

.intro__country-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 98px;
}

.intro__country-input svg {
    position: relative;
    right: 27px;
}

.intro__country-search {
    width: 587px;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

.intro__country-search::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.5;
}

.intro__country-search::-moz-placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.5;
}

.intro__country-search:-ms-input-placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.5;
}

.intro__country-search::-ms-input-placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.5;
}

.intro__country-search::placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    opacity: 0.5;
}

.country__circle {
    background: url(../img/country-circle.png) no-repeat left top / cover;
    width: 204px;
    height: 500px;
    position: absolute;
    top: 995px;
    left: 0;
}

.benefits {
    padding-top: 280px;
}

.benefits .wrapper {
    position: relative;
    z-index: 999999999999;
}

.benefits-back {
    background: url(../img/benefits-back.svg) no-repeat;
    width: 215px;
    height: 215px;
    position: absolute;
    top: 184px;
    right: -56px;
}

.benefits .benefits-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.benefits-title-svg {
    margin-bottom: 17px;
}

.benefits-desc {
    width: 804px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits-item {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 4px 42px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(22.5px);
    backdrop-filter: blur(22.5px);
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 41px;
    padding-left: 50px;
    padding-right: 47px;
    max-width: 467px;
    margin-bottom: 33px;
}

.benefits-item h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 32px;
}

.benefits-item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.stages {
    padding-top: 240px;
    background: url(../img/stages-bg.png) no-repeat center top / cover;
    width: 100%;
    position: relative;
    bottom: 57px;
    height: 883px;
    z-index: 9999999;
}
.stages .wrapper {
    position: relative;
}

.stages__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stages-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.stages-title-svg {
    margin-bottom: 145px;
}

.stages-list {
    display: flex;
    justify-content: space-between;
}

.stages-item {
    position: relative;
}

.stages-content {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 4px 42px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(22.5px);
    backdrop-filter: blur(22.5px);
    border-radius: 8px;
    max-width: 467px;
    height: 380px;
    padding-top: 68px;
    padding-bottom: 49px;
    padding-left: 50px;
    padding-right: 80px;
}

.stages-stage {
    width: 114px;
    height: 114px;
    background: #4CD8F9;
    border-radius: 3px;
    font-weight: 600;
    font-size: 60px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    top: -70px;
    left: 54px;
}

.stages-item h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.stages-item p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.stages-item a {
    width: 246px;
    height: 81px;
    background: #4CD8F9;
    border-radius: 8px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 72px;
    padding-right: 72px;
    font-weight: 700;
    font-size: 20px;
    line-height: 137.52%;
    color: #FFFFFF;
    display: block;
}

.replenishment {
    padding-top: 245px;
    position: relative;
}

.replenishment-bag {
    background: url(../img/replenishment-back.png) no-repeat center top / cover;
    height: 1439px;
    width: 100%;
    position: absolute;
    bottom: -380px;
}

.replenishment__first {
    width: 1438px;
    height: 640px;
    background: rgba(249, 249, 249, 0.1);
    box-shadow: inset 0px 4px 55px rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    padding-top: 55px;
    padding-left: 46px;
    position: relative;
}

.replenishment__first h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 60px;
}

.replenishment__first-header {
    display: flex;
}

.replenishment-phone {
    position: absolute;
    top: -42px;
    right: 0;
    margin-right: 162px;
}

.replenishment__form {
    margin-top: 40px;
    max-width: 683px;
}

.input-first {
    margin-bottom: 30px;
}

.input-first p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.input-first .form-input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 32px;
    padding-right: 32px;
    width: 418px;
}

.input-first .form-value {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 32px;
    padding-right: 32px;
    width: 240px;
}


.input-first input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 154.52%;
    color: #000000;
    opacity: 0.3;
}


.input-first input::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 154.52%;
    color: #000000;
    opacity: 0.3;
}


.input-first input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 154.52%;
    color: #000000;
    opacity: 0.3;
}


.input-first input::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 154.52%;
    color: #000000;
    opacity: 0.3;
}


.input-first input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 154.52%;
    color: #000000;
    opacity: 0.3;
}

.form-flex {
    display: flex;
    justify-content: space-between;
}

.input-first .payment-method {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 64px;
    padding-right: 32px;
    width: 418px;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.52%;
    color: #01A2CE;
}

.payment {
    position: relative;
}

.payment .cart {
    position: absolute;
    top: 73px;
    left: 32px;
}

.more-pay {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 23px;
}

.more-pay span {
    font-weight: 400;
}

.replenishment-btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 137.52%;
    text-transform: uppercase;
    color: #C2C7CD;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 62px;
    padding-right: 62px;
    border: none;
    background: #EAEDF0;
    border-radius: 8px;
    margin-top: 20px;
}

.reviews__slider {
    position: relative;
}

.reviews {
    padding-top: 225px;
    position: relative;
}

.reviews .wrapper {
    position: relative;
}

.reviews-bg {
    background: url(../img/rev-back.png) no-repeat center top / cover;
    height: 1756px;
    width: 100%;
    position: absolute;
    top: 395px;
}

.reviews-bg-w {
    position: absolute;
    top: -98px;
    left: 100px;
}

.reviews h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.review__wrapper {
    display: flex;
    justify-content: space-around;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.review img {
    width: 79px;
    height: 80px;
    border-radius: 100%;
}

.review .name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.review .who {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 11px;
}

.review .rating {
    display: flex;
}

.reviwe-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.review .star.active {
    background: url(../img/mask.svg) no-repeat;
    width: 24px;
    display: block;
    height: 24px;
    position: relative;
    top: 2px;
    left: 3px;
}

.review .star {
    background: url(../img/star.svg) no-repeat;
    width: 24px;
    display: block;
    height: 24px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-pagination {
    top: 397px;
}


.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #4CD8F9 !important;
    opacity: 1;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.5;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #fff;

}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #fff;
}


.faq {
    padding-top: 200px;
    padding-bottom: 344px;
}

.faq h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 70px;
}


.faq__wrapper {
    display: flex;
    justify-content: space-between;
}

.faq__left {
    width: 467px;
    height: 494px;
    background: #01A2CE;
    border-radius: 15px;
    position: relative;
    padding: 55px 40px;
}

.faq-more {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 534px;
    left: 0;
}

.faq-more svg {
    margin-left: 23px;
}

.faq__left-list li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 35px;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
}

.faq__left-list li a::before {
    content: '';
    background: url(../img/plus.svg) no-repeat;
    height: 18px;
    width: 25px;
    display: block;
    position: relative;
    top: 2px;
    margin-right: 30px;
    transition: 0.3s;
}

.faq__left-list li a.act {
    opacity: 0.5;
    transition: 0.3s;
}

.faq__left-list li a.act::before {
    background: url(../img/minus.svg) no-repeat;
    height: 18px;
    width: 25px;
    display: block;
    position: relative;
    top: 10px;
    margin-right: 30px;
    transition: 0.3s;
}

.faq__right {
    width: 953px;
    height: 559px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 4px 79px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(38.5px);
    backdrop-filter: blur(38.5px);
    border-radius: 15px;
    padding: 110px 50px;
}

.faq__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;

}

.faq__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 30px;
}

#tabsWrap .tab {
    display: none;
    transition: 0.3s;
}

#tabsWrap .tab.act {
    display: block;
    transition: 0.3s;
}

.contacts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__header-social {
    display: flex;
    align-items: center;
}

.contacts__header-social a {
    margin-right: 28px;
}

.contacts h2 {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.contact__wrapper {
    display: flex;
    justify-content: space-between;
}

.contact-item {
    max-width: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conact-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.contact-email {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 18px;
}

.footer {
    padding-top: 257px;
    padding-bottom: 47px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-item {}

.footer-item h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__menu li {
    margin-bottom: 25px;
}

.footer__menu li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.app-list {
    display: flex;
    flex-direction: column;
}

.app-list .app {
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-form .form-input {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 467px;
}

.footer-form .form-input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer-form .form-input::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer-form .form-input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer-form .form-input::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer-form .form-input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.footer-form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.8;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #4CD8F9;
    border-radius: 4px;
    margin-right: 20px;
}

.custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("../img/chek.svg");
}


.form-btn {
    position: absolute;
    background: transparent;
    display: block;
    border: none;
    top: 13px;
    right: 0;
}

.footer__bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.priv-policy {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}

.dev {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
    position: relative;
    left: 70px;
}