
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), local('../fonts/Helvetica'),
        url('../fonts/Helvetica.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica-Bold'), local('../fonts/Helvetica-Bold'),
        url('../fonts/Helvetica-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: local('Helvetica-Light'), local('../fonts/Helvetica-Light'),
        url('../fonts/Helvetica-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}