html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.container {
  max-width: 83.333vw;
  margin: 0 auto;
}


h1 {
  font-weight: 700;
  font-size: 3.125vw;
  line-height: 3.611vw;
  text-transform: uppercase;
  color: #FFFFFF;
}



.date {
  font-size: 1.389vw;
  line-height: 1.667vw;
  color: #F9D462;
  margin-top: 0.694vw;
  margin-bottom: 2.778vw;
}

@keyframes SearchResultsAnonRestricted-module_message-fade-in-4XVrS {
  0% {
    opacity: 0;
    transform: scale(.95) translateY(1em)
  }
}