@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Helvetica';
    font-style: normal;
    overflow-x: hidden;
    position: relative;
    background: #000000;
}

.header {
    width: 100%;
    position: absolute;
    z-index: 999999;

    .container {
        max-width: 100%;
        padding: 0 2.431vw;
        padding-top: 3.125vw;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .link__list {
        display: flex;

        a {
            margin-right: 1.667vw;

            img {
                width: 1.25vw;
                height: 1.25vw;
            }
        }
    }

    &__logo {
        img {
            width: 13.472vw;
            height: 2.885vw;
        }
    }

    &__menu-wrap {
        display: flex;
        justify-content: center;
        margin-top: 2.778vw;

        ul {
            display: flex;

            li {
                margin-right: 2.083vw;
                display: flex;

                a {
                    font-size: 1.111vw;
                    line-height: 1.806vw;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                &:hover>a {
                    color: #EEC858;
                }
            }
            li.active {
                border-bottom: 0.139vw solid #EEC858;
            }
            li.active>a {
                color: #EEC858;
            }
        }
    }
}

.offer {
    background: linear-gradient(108.46deg, #000000 -10.36%, #000000 52.44%, #E0B84C 101.28%);
    width: 100%;
    height: 71.111vw;
    position: relative;
    padding-top: 27.083vw;


    &::after {
        content: '';
        background: url(../img/offer-bg.webp) no-repeat center top / cover;
        width: 52.917vw;
        height: 56.181vw;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__title-wrap {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: block;
            background: url(../img/title.svg) no-repeat center top / cover;
            width: 34.722vw;
            height: 7.435vw;
        }

        .subtitle {
            display: block;
            background: url(../img/subtitle.svg) no-repeat center top / cover;
            width: 27.778vw;
            height: 6.25vw;
            margin-top: 2.083vw;
        }
    }
}

/* music page */

.music {

}








.burger {
    display: none;
}

.mobile__menu {
    display: none;
}

@media screen and (max-width: 1215px) {
    .offer {
        height: 852px;
    }
}

@media screen and (max-width: 920px) {
    .container {
        max-width: 100%;
    }

    .offer {
        height: 216.794vw;
    }

    .header .container {
        padding: 0 5.089vw;
        padding-top: 4.58vw;
    }

    .link__list {
        display: none !important;
    }

    .header__menu-wrap {
        display: none;
    }

    .header__logo img {
        width: 24.682vw;
        height: 5.344vw;
    }

    .burger {
        display: block;
        cursor: pointer;

        svg {
            width: 5.089vw;
            height: 3.817vw;
        }
    }

    .mobile__menu {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(-150%);
        width: 100%;
        padding: 3.333vw 1.111vw 3.681vw;
        width: 100%;
        height: 263.444vw;
        background: #000000;
        z-index: 999999;
        transition: .3s;
        display: block;
    }

    .mobile__menu-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5.089vw;
        margin-bottom: 15.267vw;

        .burger-close {
            svg {
                width: 6.107vw;
                height: 6.107vw;
            }
        }
    }

    .mobile__menu-content {
        padding-right: 5.089vw;
        padding-left: 5.089vw;

        ul {
            li {
                border-bottom: 0.254vw solid #FFFFFF;
                padding: 4.58vw 0;

                a {
                    font-weight: 700;
                    font-size: 4.071vw;
                    line-height: 6.616vw;
                    text-transform: uppercase;
                    color: #DDDDDD;
                }
            }

            li.active {
                border-bottom: 0.254vw solid #EEC858;
            }

            li.active>a {
                color: #EEC858;
            }
        }
    }

    .mobile__menu-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        left: 4vw;
        margin-top: 32.221vw;
        margin-bottom: 5.486vw;

        a {
            margin-right: 6.361vw;
            margin-bottom: 7.125vw;
            img {
                width: 5.089vw;
                height: 5.089vw;
            }
        }
    }

    .mobile__menu.active {
        transform: translate(0%);
    }

    .offer {
        background: url(../img/offer-mobile-bg.webp) no-repeat center top / cover;
        width: 100vw;
        height: 216.794vw;
        display: flex;
        padding-top: 37.659vw;

        &::after {
            display: none;
        }

        .offer__title-wrap .title {
            width: 61.069vw;
            height: 13.076vw;
        }

        .offer__title-wrap .subtitle {
            width: 48.855vw;
            height: 11.277vw;
        }
    }
}