html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

* {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  outline: none;
  font-style: normal;
  line-height: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}


.footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 75vw;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 3.75vw;
  font-weight: 800;
  line-height: 4.792vw;
  letter-spacing: 0.075vw;
  text-transform: uppercase;
}

h2 {
  font-size: 2.708vw;
  font-weight: 700;
  line-height: 3.75vw;
}

h3 {
  font-size: 1.875vw;
  font-weight: 600;
  line-height: 2.708vw;
}

h4 {
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.667vw;
}

h5 {
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.667vw;
  letter-spacing: 0.021vw;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.042vw;
  margin-bottom: 2.604vw;

  h2 {
    color: var(--brand-dark, #081425);
    font-size: 2.708vw;
    font-weight: 700;
    line-height: 3.75vw;
    text-align: center;
    width: 62.188vw;
  }

  p {
    color: var(--gray-60, #6B727C);
    text-align: center;
    font-size: 1.042vw;
    font-weight: 400;
    line-height: 1.667vw;
    letter-spacing: 0.021vw;
    width: 62.188vw;
  }
}