@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

.header {
    width: 100%;
    height: 6.875vw;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        width: auto;
        display: flex;
        align-items: center;
        gap: 4.427vw;
    }

    &__logo {
        img {
            width: 8.439vw;
            height: 2.292vw;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.604vw;
    }

    &__menu-item {
        display: flex;

        a {
            color: var(--brand-dark, #081425);
            font-size: 0.833vw;
            line-height: 1.25vw;
        }
    }

    &__btns {
        display: flex;
        gap: 0.833vw;

        .login-btn {
            display: flex;
            padding: 0.833vw 1.25vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 0.521vw;
            border: 0.052vw solid var(--line-2, #C0DEE3);
            color: var(--brand-dark, #081425);
            font-size: 0.885vw;
            font-weight: 600;
            line-height: normal;

            &:hover {
                border: 0.052vw solid #D0F5FB;
            }
        }

        .started-btn {
            display: flex;
            padding: 0.833vw 1.25vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 0.521vw;
            background: var(--brand-blue, #24BBEB);
            color: var(--brand-white, #FFF);
            font-size: 0.885vw;
            font-weight: 600;
            line-height: normal;

            &:hover {
                background: #56D4FC;
            }
        }
    }
}

.hero {
    padding-top: 6.875vw;
    padding-bottom: 5.156vw;
    width: 100%;
    height: 62.344vw;
    position: relative;
    overflow: hidden;

    &__titles {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        color: var(--brand-blue, #24BBEB);
        text-align: center;
        font-family: Barlow;
        font-size: 0.938vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.458vw;
    }

    &__title {
        width: 67vw;
        color: var(--brand-dark, #081425);
        text-align: center;
        font-size: 3.75vw;
        font-weight: 800;
        line-height: 4.792vw;
        letter-spacing: 0.075vw;
        text-transform: uppercase;
        margin-top: 1.358vw;
        margin-bottom: 1.563vw;
    }

    &__desc {
        width: 48.271vw;
        color: var(--gray-60, #6B727C);
        text-align: center;
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.604vw;
    }

    &__start-btn {
        display: flex;
        width: 14.531vw;
        padding: 0.833vw 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        border-radius: 0.521vw;
        background: var(--brand-blue, #24BBEB);
        color: var(--brand-white, #FFF);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;

        &:hover {
            background: #56D4FC;
        }
    }

    &__reviews {
        display: flex;
        margin-top: 1.563vw;
    }

    &__rating {
        width: 3.692vw;
        height: 1.979vw;
        margin-right: 0.625vw;
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 0.417vw;
    }

    &__star {
        width: 0.833vw;
        height: 0.833vw;
    }

    &__review-text {
        color: var(--gray-60, #6B727C);
        font-size: 0.938vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.458vw;

        a {
            color: var(--brand-blue, #24BBEB);
        }
    }

    &__illustration-wrap {
        position: absolute;
        top: 0vw;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }

    &__illustration-left {
        padding-left: 5.052vw;
        position: relative;
        top: 17.396vw;

        img {
            width: 35.365vw;
            height: auto;
        }
    }

    &__illustration-right {
        padding-right: 8.177vw;
        position: relative;
        top: 22.917vw;

        img {
            width: 29.167vw;
            height: auto;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 14.063vw;
    }

    &__bottom-wrap {
        display: flex;
        align-items: center;
        gap: 1.667vw;
    }

    &__bottom-text {
        color: var(--gray-80, #394351);
        font-size: 1.042vw;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
    }

    &__bottom-btn {
        border-radius: 0.521vw;
        border: 0.052vw solid var(--line-2, #C0DEE3);
        display: flex;
        padding: 0.833vw 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        color: var(--brand-blue, #24BBEB);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;

        &:hover {
            border: 0.052vw solid #D0F5FB;
        }
    }
}


.product {
    padding: 4.167vw 0;
    position: relative;

    .container {
        display: flex;
    }

    &__menu {
        width: 10.781vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        margin-right: 2.083vw;

        .item {
            color: var(--gray-40, #9CA1A8);
            font-size: 0.938vw;
            font-weight: 600;
            line-height: 1.458vw;
        }

        .item.active {
            color: var(--brand-blue, #24BBEB);
        }
    }

    &__titles {
        width: 30.052vw;
    }

    &__icon {
        width: 4.323vw;
        height: 4.323vw;
        border: 0.052vw solid #EEEEEE;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2.292vw;
            height: 2.292vw;
        }
    }

    &__title {
        color: var(--brand-dark, #081425);
        font-size: 3.75vw;
        font-weight: 800;
        line-height: 4.792vw;
        letter-spacing: 0.075vw;
        text-transform: uppercase;
        margin-top: 1.042vw;

        span {
            font-weight: 800;
            color: var(--gray-40, #9CA1A8);
        }
    }

    &__desc {
        color: var(--gray-60, #6B727C);
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
        margin-top: 1.042vw;
    }

    &__illustration {
        width: 26.094vw;
        height: 30.729vw;
        margin-left: 5.99vw;
        position: relative;

        img {
            position: absolute;
            right: 0;
            width: 100%;
            height: auto;
        }
    }

    &__cta {
        display: inline-flex;
        padding: 0.833vw 2.083vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        border-radius: 0.521vw;
        background: var(--brand-blue, #24BBEB);
        color: var(--brand-white, #FFF);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.604vw;

        &:hover {
            background: #56D4FC;
        }
    }

    
}