@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

.header {
    width: 100%;
    height: 6.875vw;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        width: auto;
        display: flex;
        align-items: center;
        gap: 4.427vw;
    }

    &__logo {
        img {
            width: 8.439vw;
            height: 2.292vw;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.604vw;
    }

    &__menu-item {
        display: flex;

        a {
            color: var(--brand-dark, #081425);
            font-size: 0.833vw;
            line-height: 1.25vw;
        }
    }

    &__btns {
        display: flex;
        gap: 0.833vw;

        .login-btn {
            display: flex;
            padding: 0.833vw 1.25vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 0.521vw;
            border: 0.052vw solid var(--line-2, #C0DEE3);
            color: var(--brand-dark, #081425);
            font-size: 0.885vw;
            font-weight: 600;
            line-height: normal;

            &:hover {
                border: 0.052vw solid #D0F5FB;
            }
        }

        .started-btn {
            display: flex;
            padding: 0.833vw 1.25vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 0.521vw;
            background: var(--brand-blue, #24BBEB);
            color: var(--brand-white, #FFF);
            font-size: 0.885vw;
            font-weight: 600;
            line-height: normal;

            &:hover {
                background: #56D4FC;
            }
        }
    }
}

.hero {
    padding-top: 6.875vw;
    padding-bottom: 5.156vw;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__titles {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        color: var(--brand-blue, #24BBEB);
        text-align: center;
        font-family: Barlow;
        font-size: 0.938vw;
        font-style: normal;
        font-weight: 600;
        line-height: 1.458vw;
    }

    &__title {
        width: 67vw;
        color: var(--brand-dark, #081425);
        text-align: center;
        font-size: 3.75vw;
        font-weight: 800;
        line-height: 4.792vw;
        letter-spacing: 0.075vw;
        text-transform: uppercase;
        margin-top: 1.358vw;
        margin-bottom: 1.563vw;
    }

    &__desc {
        width: 48.271vw;
        color: var(--gray-60, #6B727C);
        text-align: center;
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.604vw;
    }

    &__start-btn {
        display: flex;
        width: 14.531vw;
        padding: 0.833vw 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        border-radius: 0.521vw;
        background: var(--brand-blue, #24BBEB);
        color: var(--brand-white, #FFF);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;

        &:hover {
            background: #56D4FC;
        }
    }

    &__reviews {
        display: flex;
        margin-top: 1.563vw;
    }

    &__rating {
        width: 3.692vw;
        height: 1.979vw;
        margin-right: 0.625vw;
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 0.417vw;
    }

    &__star {
        width: 0.833vw;
        height: 0.833vw;
    }

    &__review-text {
        color: var(--gray-60, #6B727C);
        font-size: 0.938vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.458vw;

        a {
            color: var(--brand-blue, #24BBEB);
        }
    }

    &__illustration-wrap {
        position: absolute;
        top: 0vw;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }

    &__illustration-left {
        padding-left: 5.052vw;
        position: relative;
        top: 17.396vw;

        img {
            width: 35.365vw;
            height: auto;
        }
    }

    &__illustration-right {
        padding-right: 8.177vw;
        position: relative;
        top: 22.917vw;

        img {
            width: 29.167vw;
            height: auto;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 14.063vw;
    }

    &__bottom-wrap {
        display: flex;
        align-items: center;
        gap: 1.667vw;
    }

    &__bottom-text {
        color: var(--gray-80, #394351);
        font-size: 1.042vw;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
    }

    &__bottom-btn {
        border-radius: 0.521vw;
        border: 0.052vw solid var(--line-2, #C0DEE3);
        display: flex;
        padding: 0.833vw 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        color: var(--brand-blue, #24BBEB);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;

        &:hover {
            border: 0.052vw solid #D0F5FB;
        }
    }
}


.product {
    padding: 4.167vw 0;
    position: relative;

    .container {
        display: flex;
    }

    &__menu {
        width: 10.781vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        margin-right: 2.083vw;

        .item {
            color: var(--gray-40, #9CA1A8);
            font-size: 0.938vw;
            font-weight: 600;
            line-height: 1.458vw;
        }

        .item.active {
            color: var(--brand-blue, #24BBEB);
        }
    }

    &__titles {
        width: 30.052vw;
    }

    &__icon {
        width: 4.323vw;
        height: 4.323vw;
        border: 0.052vw solid #EEEEEE;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2.292vw;
            height: 2.292vw;
        }
    }

    &__title {
        color: var(--brand-dark, #081425);
        font-size: 3.75vw;
        font-weight: 800;
        line-height: 4.792vw;
        letter-spacing: 0.075vw;
        text-transform: uppercase;
        margin-top: 1.042vw;

        span {
            font-weight: 800;
            color: var(--gray-40, #9CA1A8);
        }
    }

    &__desc {
        color: var(--gray-60, #6B727C);
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
        margin-top: 1.042vw;
    }

    &__illustration {
        width: 26.094vw;
        height: 30.729vw;
        margin-left: 5.99vw;
        position: relative;

        img {
            position: absolute;
            right: 0;
            width: 100%;
            height: auto;
        }
    }

    &__cta {
        display: inline-flex;
        padding: 0.833vw 2.083vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        border-radius: 0.521vw;
        background: var(--brand-blue, #24BBEB);
        color: var(--brand-white, #FFF);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.604vw;

        &:hover {
            background: #56D4FC;
        }
    }
}


.trusted {
    padding-top: 4.167vw;

    .container {
        padding: 4.167vw 0;
        border-top: 0.052vw solid #CED0D3;
    }

    &__titles {
        p {
            color: var(--brand-blue, #24BBEB);
            text-align: center;
            font-size: 0.938vw;
            font-weight: 600;
            line-height: 1.458vw;
            margin-bottom: 1.042vw;
        }

        h2 {
            color: var(--brand-dark, #081425);
            text-align: center;
            font-size: 2.708vw;
            font-weight: 700;
            line-height: 3.75vw;
        }
    }

    &__logos-list {
        display: flex;
        align-items: center;
        gap: 4.531vw;
        margin-top: 3.958vw;
    }

    &__logos-item {
        height: 2.292vw;

        img {
            width: 100%;
            height: auto;
        }
    }
}


.banner {
    background: url(../img/banner.png) no-repeat center top / cover;
    height: 11.458vw;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    h2 {
        color: var(--brand-white, #FFF);
        font-size: 2.708vw;
        font-weight: 700;
        line-height: 3.75vw;
        margin-bottom: 1.042vw;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 2.083vw;

        li {
            color: var(--gray-20, #CED0D3);
            font-size: 0.938vw;
            font-weight: 600;
            line-height: 1.458vw;
            display: flex;
            align-items: center;
            gap: 0.521vw;

            &::before {
                content: '';
                background: url(../img/banner-icon.svg) no-repeat center top / cover;
                width: 1.667vw;
                height: 1.667vw;
            }
        }
    }
}

.stories {
    background: #0D1A26;
    height: 37.344vw;
    padding-top: 6.25vw;
    padding-bottom: 4.167vw;

    .container {
        max-width: 100%;
        position: relative;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12.5vw;
    }

    &__titles {
        p {
            color: var(--brand-blue, #24BBEB);
            font-size: 0.938vw;
            font-weight: 600;
            line-height: 1.458vw;
            margin-bottom: 0.833vw;
        }

        h2 {
            color: var(--brand-white, #FFF);
            font-size: 2.708vw;
            font-weight: 700;
            line-height: 3.75vw;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 0.417vw;
    }

    &__star {
        width: 0.833vw;
        height: 0.833vw;
    }

    &__rating-text {
        color: var(--brand-white, #FFF);
        font-size: 0.938vw;
        font-weight: 600;
        line-height: 1.458vw;
        margin-top: 0.521vw;
    }

    &__list {
        margin-top: 1.667vw;
        padding-left: 12.5vw;
    }

    &__list-item {
        width: 24.542vw !important;
        height: 12.417vw;
        padding: 2.083vw;
        padding-bottom: 1.406vw;
        border-radius: 0.417vw;
        background: #172532;
        box-shadow: 0vw 0.104vw 0.625vw 0vw rgba(0, 0, 0, 0.02);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:last-child {
            margin-right: 12.5vw;
        }
    }

    &__item-name {
        color: var(--brand-white, #FFF);
        font-size: 1.25vw;
        font-weight: 600;
        line-height: 1.667vw;
        margin-bottom: 0.781vw;
    }

    &__item-text {
        color: var(--gray-20, #CED0D3);
        font-size: 0.938vw;
        font-weight: 400;
        line-height: 1.458vw;
    }


    &__item-author {
        display: flex;
        align-items: center;
        gap: 0.781vw;
    }

    &__author-img {
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 100%;
    }

    &__author-name {
        color: var(--brand-white, #FFF);
        font-size: 0.833vw;
        font-weight: 600;
        line-height: 1.25vw;
    }

    &__author-position {
        color: var(--gray-20, #CED0D3);
        font-size: 0.729vw;
        font-weight: 400;
        line-height: 0.938vw;
    }

    .swiper-pagination {
        top: 26vw !important;
    }

    .swiper-pagination-bullet {
        background: transparent !important;
        border: 0.104vw solid #1e3041;
    }

    .swiper-pagination-bullet-active {
        background: #24BBEB !important;
        border: none;
    }
}

.countrys {
    padding: 4.167vw 0;
    padding-bottom: 8.333vw;
    background: #0D1A26;


    &__titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25vw;

        h2 {
            width: 62.188vw;
            color: var(--brand-white, #FFF);
            text-align: center;
            font-size: 2.708vw;
            font-weight: 700;
            line-height: 3.75vw;

            span {
                color: var(--brand-blue, #24BBEB);
                font-weight: 700;
            }
        }

        p {
            width: 62.188vw;
            color: var(--gray-60, #6B727C);
            text-align: center;
            font-size: 1.042vw;
            font-weight: 400;
            line-height: 1.667vw;
            letter-spacing: 0.021vw;
        }
    }

    &__map {
        display: flex;
        justify-content: center;

        img {
            width: 60.938vw;
            height: auto;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;

    }

    &__cards-item {
        width: 17.188vw;
        height: 6.458vw;
        border-radius: 0.313vw;
        background: #172532;
        box-shadow: 0vw 0.104vw 0.625vw 0vw rgba(0, 0, 0, 0.02);
        padding: 1.042vw 1.667vw;

        .title {
            color: var(--brand-white, #FFF);
            font-size: 1.875vw;
            font-weight: 600;
            line-height: 2.708vw;
            display: flex;
            align-items: center;
            gap: 0.781vw;

            img {
                width: 1.25vw;
                height: 1.25vw;
            }
        }

        .desc {
            color: var(--brand-white, #FFF);
            font-size: 0.833vw;
            font-weight: 400;
            line-height: 1.25vw;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 1.667vw;
        justify-content: center;
        margin-top: 4.167vw;
    }

    &__bottom-text {
        color: var(--brand-white, #FFF);
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
    }

    &__bottom-btn {
        display: flex;
        padding: 0.833vw 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.521vw;
        border-radius: 0.521vw;
        border: 0.052vw solid var(--gray-80, #394351);
        color: var(--brand-blue, #24BBEB);
        font-size: 0.885vw;
        font-weight: 600;
        line-height: normal;
    }
}

.price {
    padding: 8.333vw 0;

    &__titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.042vw;
        margin-bottom: 2.656vw;

        h2 {
            color: var(--brand-dark, #081425);
            font-size: 2.708vw;
            font-weight: 700;
            line-height: 3.75vw;
            text-align: center;
            width: 62.188vw;
        }

        p {
            color: var(--gray-60, #6B727C);
            text-align: center;
            font-size: 1.042vw;
            font-weight: 400;
            line-height: 1.667vw;
            letter-spacing: 0.021vw;
            width: 62.188vw;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.563vw;
    }

    &__filter-text {
        color: var(--brand-gray, #A3ABB8);
        font-size: 1.042vw;
        font-weight: 400;
        line-height: 1.667vw;
        letter-spacing: 0.021vw;
        transition: 0.2s;
    }

    &__filter-text.active {
        color: var(--brand-dark, #081425);
    }

    &__filter-btn {
        border: none;
        display: flex;
        align-items: center;
        width: 4.323vw;
        height: 2.292vw;
        border-radius: 26.042vw;
        background: var(--gray-10, #E6E8E9);
        cursor: pointer;

        .layer {
            width: 1.563vw;
            height: 1.563vw;
            background: #24BBEB;
            border-radius: 100%;
            transition: 0.2s;
            position: relative;
            left: 0;
        }
    }

    &__filter-btn.active {
        .layer {
            left: 53%;
        }
    }

    &__cards {
        justify-content: center;
        gap: 2.083vw;
        margin-top: 3.958vw;
        display: none;
    }

    &__cards.active {
        display: flex;
    }

    &__cards-item {
        width: 17.188vw;
        height: 17.865vw;
        flex-shrink: 0;
        border-radius: 0.417vw;
        border: 0.052vw solid var(--line-1, #EEE);
        background: var(--brand-white, #FFF);
        box-shadow: 0vw 1.302vw 5.208vw 0vw rgba(0, 0, 0, 0.07);
        padding: 1.563vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1.042vw;
            border-bottom: 1px solid #EEE;
        }

        .price-value {
            color: #081425;
            font-size: 2.292vw;
            font-weight: 600;
            line-height: 2.708vw;

            span {
                font-size: 1.25vw;
                font-weight: 600;
            }
        }

        .start {
            display: none;
            padding: 0.313vw 0.833vw 0.417vw 0.833vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 2.604vw;
            background: #FFA8A7;
            color: #FFF;
            font-size: 0.729vw;
            font-weight: 500;
            line-height: 0.833vw;
        }

        .popular {
            display: none;
            padding: 0.313vw 0.833vw 0.417vw 0.833vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            color: #FFF;
            font-size: 0.729vw;
            font-weight: 500;
            line-height: 0.833vw;
            border-radius: 2.604vw;
            background: #F90;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 0.521vw;


            li {
                display: flex;
                align-items: center;
                gap: 0.521vw;
                color: var(--brand-dark, #081425);
                font-size: 0.938vw;
                font-weight: 400;
                line-height: 1.458vw;

                &::before {
                    content: '';
                    background: url(../img/tick.svg) no-repeat center top / cover;
                    width: 1.042vw;
                    height: 1.042vw;
                }
            }
        }

        .price-btn {
            width: 100%;
            height: 2.708vw;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            border-radius: 0.521vw;
            background: var(--brand-blue, #24BBEB);
            color: var(--brand-white, #FFF);
            font-size: 0.885vw;
            font-weight: 600;
            line-height: normal;

            &:hover {
                background: #56D4FC;
            }
        }
    }

    &__cards-item.start {
        .start {
            display: inline-flex;
        }
    }

    &__cards-item.popular {
        background: linear-gradient(196deg, #151A2E 0.74%, #004A74 100%);

        .popular {
            display: inline-flex;
        }

        .price-value {
            color: #FFF;
        }

        .list {
            li {
                color: var(--brand-white, #FFF);
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2.604vw;

        p {
            width: 43.958vw;
            color: var(--gray-80, #394351);
            font-size: 1.042vw;
            font-weight: 400;
            line-height: 1.667vw;
            letter-spacing: 0.021vw;
            text-align: center;

            span,
            a {
                color: var(--brand-blue, #24BBEB);
            }
        }
    }
}

.footer {
    border-top: 1px solid #EEE;
    padding-top: 3.125vw;
    padding-bottom: 2.448vw;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 8.439vw;
        height: 2.292vw;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 1.042vw;

        .text {
            color: var(--brand-dark, #081425);
            font-size: 0.833vw;
            font-weight: 400;
            line-height: 1.25vw;
        }

        a {
            img {
                width: 1.667vw;
                height: 1.667vw;
            }
        }
    }

    &__content {
        display: inline-flex;
        align-items: flex-start;
        gap: 15.99vw;
        padding-top: 3.542vw;
        padding-bottom: 7.292vw;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.25vw;

            li {
                display: flex;

                a {
                    color: var(--gray-60, #6B727C);
                    font-size: 0.833vw;
                    font-weight: 400;
                    line-height: 1.25vw;
                }
                &:nth-child(1) {
                    a {
                        color: var(--brand-dark, #081425);
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__copyright {
        color: var(--gray-60, #6B727C);
        font-size: 0.833vw;
        font-weight: 400;
        line-height: 1.25vw;
    }
}