@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background: #171717;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.header {
    padding-top: 116px;
    width: 100%;

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 1170px;
    }

    &__menu-link {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        background: linear-gradient(90deg, #CB99FE 0%, #FABF79 25.68%, #DC27EC 55.03%, #F82D8E 83.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
}

.intro .container {
    display: flex;
    position: relative;
    max-width: 1360px;
}

.sidebar__right {
    background: #242424;
    display: flex;
    justify-content: center;
    width: 129px;
    height: 100%;
    float: right;
    z-index: 1;
    top: 0;
    right: 0;
    position: -webkit-sticky;
    position: fixed;
    overflow-x: hidden;
}

.sidebar__right-cart {
    margin-top: 116px;
}

.intro {
    padding-bottom: 87px;

    &__left {
        margin-top: 192px;
        margin-left: 83px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 135.6%;
        letter-spacing: -0.01em;
        color: #F00283;
    }

    &__title span {
        color: #FF99E2;
    }

    &__desc {
        font-size: 23px;
        line-height: 31px;
        color: #FFCCF1;
        max-width: 680px;
        margin-top: 24px;
    }

    &__desc-vertical {
        font-weight: 300;
        font-size: 25px;
        line-height: 135.6%;
        letter-spacing: 0.155em;
        color: #FFCCF1;
        transform: rotate(-90deg);
        position: absolute;
        left: -20px;
        top: 31em;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 931px;
        margin-top: 91px;
    }

    &__btns-btn {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #F77DA9;
        width: 220px;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__inst-bg {
        background: url(../images/inst-bg.png) no-repeat right top / cover;
        width: 303px;
        height: 441px;
        position: absolute;
        right: 0;
        top: 95px;
    }

    &__stone-right {
        background: url(../images/intro__stone-right.png) no-repeat;
        position: absolute;
        width: 256.38px;
        height: 253px;
        right: -220px;
        top: -70px;
        z-index: -1;
    }

    &__stone-wrapper {
        max-width: 2300px;
        margin: 0 auto;
        position: relative;
        top: -200px;
        left: -41px;
    }

    &__stone-left {
        background: url(../images/sphere-gold.png) no-repeat;
        position: absolute;
        width: 185px;
        height: 198px;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__question {
        margin-top: 734px;
        position: relative;
        left: 370px;
    }
}

.working .container {
    border-top: 2px solid #262525;
    padding-top: 93px;
}

.working {
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-left: 196px;
    }

    &__title::after {
        content: '';
        width: 160px;
        height: 2px;
        background: #EB8BAD;
        display: block;
        position: relative;
        left: 200px;
    }

    &__info {
        font-weight: 400;
        font-size: 35px;
        line-height: 57px;
        letter-spacing: 0.01em;
        color: #FFCCF1;
        margin-top: 54px;
        display: flex;
        align-items: center;
    }

    &__info::before {
        content: url(../images/working-like.png);
        margin-right: 68px;
    }

    &__text {
        font-weight: 400;
        font-size: 35px;
        line-height: 57px;
        letter-spacing: 0.01em;
        color: #FFCCF1;
        margin-left: 75px;
    }
}


.options {
    padding-top: 110px;

    &__header {
        margin-left: 123px;
        margin-bottom: 115px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 35px;
    }

    &__desc {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.09em;
        color: #FFCCF1;
        max-width: 1245px;
    }

    &__form-wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__form-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-img {
        width: 421px;
        height: 421px;
    }

    &__form-desc {
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: 0.17em;
        color: #FF66D4;
        margin-top: 30px;
    }

    &__form-right {
        width: 600px;
        height: 491px;
        padding-top: 90px;
        padding-bottom: 81px;
        padding-left: 43px;
        padding-right: 72px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        position: relative;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__form-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-input {
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #A0538B;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        padding-bottom: 11px;
        padding-top: 11px;
        width: 485px;
    }

    &__form-input:nth-child(2) {
        margin-top: 124px;
    }

    &__form-input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form-btn {
        width: 222px;
        height: 64px;
        background: #EB8BAD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: 0.09em;
        color: #CC0093;
        margin-top: 66px;
        cursor: pointer;
    }

    &__form-rigth-desc {
        position: absolute;
        bottom: -31px;
        right: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 204, 241, 0.42);
    }
}

.stages .container {
    padding-left: 160px;
}

.stages {
    padding-top: 222px;
    padding-bottom: 178px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 46px;
    }

    &__desc {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #FFCCF1;
    }

    &__img-one {
        margin-top: 60px;
    }

    &__img-two {
        margin-top: 44px;
        margin-left: 573px;
    }

    &__img-desc {
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: 0.17em;
        color: #FF66D4;
        margin-top: 27px;
    }

    &__stages-item:nth-child(2) {
        margin-top: 144px;
        position: relative;
    }
}


.implementation {
    &__info {
        margin-left: 160px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 26px;
    }

    &__title::after {
        content: '';
        width: 260px;
        height: 2px;
        background: #EB8BAD;
        display: block;
        position: relative;
        left: 486px;
        margin-top: 5px;
    }

    &__desc {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        color: #FFCCF1;
    }

    &__list {
        padding-top: 116px;
        padding-bottom: 93px;
    }

    &__list-item {
        margin-left: 160px;
    }

    &__list-item:nth-child(2) {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 0;
    }

    &__list-item:nth-child(2)::before {
        content: url(../images/likes.png);
        width: 319px;
        height: 319px;
        margin-right: 125px;
        position: relative;
        top: 20px;
    }

    &__list-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #E85A8D;
        margin-bottom: 29px;
    }

    &__list-desc {
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        color: #FFCCF1;
        margin-left: 48px;
    }

    &__list-item:nth-child(2) .implementation__list-desc {
        margin-left: 0;
    }

    &__list-item:nth-child(3) {
        margin-top: 90px;
    }
}

.reviews .container {
    max-width: 1180px;
}

.reviews {
    padding-bottom: 145px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 46px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {

        display: flex;
    }

    &__author-img {
        width: 72px;
        height: 72px;
        border-radius: 100%;
    }

    &__author-name {
        font-weight: 600;
        font-size: 22px;
        line-height: 160.9%;
        color: #FFCCF1;
    }

    &__content {
        max-width: 72%;
        margin-left: 18px;
    }

    &__content-text {
        font-weight: 400;
        font-size: 30px;
        line-height: 48px;
        color: #C57CF1;
    }

    &__content-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    &__content-star {
        content: url('../images/star.svg');
        height: 30px;
        width: 30px;
        display: block;
        margin-right: 2px;
    }

    &__start {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    &__start-btn {
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: 605px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 28px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }
}

.footer .container {
    max-width: 1547px;
}

.footer {
    width: 100%;
    background: #282828;
    padding-top: 41px;
    padding-bottom: 63px;
    z-index: 999999;
}

.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__col {}

    &__menu-item {
        margin-bottom: 15px;
    }

    &__menu-link {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        background: linear-gradient(90deg, #CB99FE 0%, #FABF79 25.68%, #DC27EC 55.03%, #F82D8E 83.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__btns {
        display: flex;
        position: relative;
        top: 125px;
    }

    &__btns-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        height: 37.83px;
        border: 1px solid #F77DA9;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 204, 241, 0.42);
        margin-right: 5px;
    }

    &__pay {
        margin-left: 90px;
    }

    &__copyright {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: rgba(255, 204, 241, 0.32);
        margin-top: 55px;
        margin-left: 90px;
    }
}