/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box; /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
   font-family: 'Montserrat', sans-serif !important;
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus, a:visited{
   outline: none;
}
.wrapper{
   max-width: 1236px;
   margin: 0 auto;
}



/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========HEADER========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.header{
   width: 100%;
   background-color: #F9F9F9;
   padding: 20px 0;
}
.header-mobile{
   display:none;
}
.header__items{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.header_nav-two, .header_nav-one{
   display: flex;
}
.nav-one_item{
   margin-right: 25px;
   white-space: nowrap;
}
.nav-one_item_link{
   color: black;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   padding: 20px 11px 14px;
   transition-duration: .3s;
   border-bottom: 0px solid #FFF738;
   position: relative;
   white-space: nowrap;
}
.nav-one_item_link:hover{
   border-bottom: 7px solid #FFF738;
}
.nav-two_item{
   margin-left: 33px;
   white-space: nowrap;
}
.nav-two_item_link{
   color: black;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   transition-duration: .3s;
   padding:20px 0;
   white-space: nowrap;
}
.under-text-menu{
   position: absolute;
   z-index: 3;
   background: white;
   display: flex;
   justify-content: space-between;
   padding: 24px 0px 25px 52px;
   margin-top: 20px;
}
.under-text-menu_items-title{
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
}
.under-text-menu_items-list{
   margin-top: 24px;
}
.under-text-menu_item{
   padding: 0px 28px 12px 0;
   width: fit-content;
   
   
}
.under-text-menu_item:hover{
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat;
   background-position: 97% 6px;
}
.under-text-menu_item-link{
   padding: 0px 0 12px 0;
   width: fit-content;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   position: relative;
   transition-duration: .3s;
}
.under-text-menu_item-link:hover::after{
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   left: 0;
   bottom: 8px;
   background: #FFF738;;
}
.under-text-menu_items:nth-child(2){
   margin-left: 174px;
}
.under-text-menu_items:nth-child(2) .under-text-menu_items-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 240px;
}

.under-text-menu{
   display: none;
}
.nav-one_item:hover .under-text-menu{
   display: flex;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INTRO========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro{
   background:url(../images/intro-bg.webp) no-repeat,rgba(0, 0, 0, 0.5);
   background-blend-mode: overlay;
   background-size: cover;
   min-height: 200px;
   width: 100%;
   z-index: 1;
}
.intro .wrapper{
   position: relative;
}
.intro__top{
   padding-top: 38px;
   position: relative;
   width: 100%;
   display: flex;
}
.intro_tel, .intro_order-call{
   color: white;
   height: fit-content;
}
.intro_tel{
   margin-left: auto;
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
}
.intro_order-call{
   margin-left: 41px;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   padding-right: 29px;
   background: url(../images/svg/arrow-right.svg) no-repeat center right;
   position: relative;
   transition-duration: .3s;   
   padding-top: 3px;
}
.intro_order-call:after{
   position: absolute;
   top:27px;
   left: 0;
   content: "";
   width: 0%;
   height: 3px;
   background: #FFF738;
   border-radius: 2px;
   transition-duration: .3s;
}
.intro_order-call:hover:after{
   width: 85%;
}

.intro__bottom{
   width: 100%;
   padding-bottom: 30px;
}
.intro_title{
   margin-top: 38px;
   font-weight: 800;
   font-size: 53px;
   line-height: 50px;
   letter-spacing: 0.02em;
   color: white;
   width: 30vw;
}
.intro_dest-links{
   margin-top: 35px;
}
.intro_dest-link{
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   letter-spacing: 0.1em;
}
.intro_dest-link span{
   color: rgb(223, 225, 38);
}
.intro__weekly{
   background-color: #F9F9F9;;
   padding-top: 30px;
}
.weekly_items{
   padding-left: 75px;
   padding-bottom: 25px;
}
.weekly_text:first-child{
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   color: rgb(176,176,176);
   letter-spacing: .03em;
}
.weekly_text:last-child{
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #363636;
   padding-top: 6px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----=======COMPANY DESC=======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.company-desc{
   z-index: 2;
   position: relative;
   padding-bottom: 41px;
   padding-top: 20px;
}
.company-desc__sale{
   position: relative;
   width: 399px;
   height: 399px;
   float: right;
   background: url(../images/info__sale-bg.webp);
   background-size: cover;
   margin-top: -300px;
   transition-duration: .3s;
   border-bottom: 7px solid #FFF738;
}
.company-desc__sale-mobile{
   display: none;
}
.sale_sale-btn{
   position: absolute;
   padding: 19px 69px 19px 42px;
   border: none;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat,#FFF738;
   background-position: 160px center;
   background-blend-mode: multiply;
   transition-duration: .3s;
   bottom: 31px;
   left: 50%;
   transform: translateX(-50%);
}
.sale_sale-btn:hover{
   background-position: 165px center;
}
.company-desc_text{
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 151.9%;
   letter-spacing: 0.03em;
}
.company-desc_show-all-btn{
   display: none;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INFO========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.info{
   padding-bottom: 52px;
}
.info__nav{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.info__nav_items{
   display: flex;
}
.info__nav_item-link{
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   padding: 10px 31.5px;
}
.info__nav_item:first-child .info__nav_item-link{
   padding: 10px 31.5px 10px 0;
}
.info__nav_item-link-active{
   font-weight: 600 !important;
}
.info__nav_ask-q-btn{
   padding: 19px 66px 19px 27px;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   border: none;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat,#FFF738;
   background-position: 150px center;
   background-blend-mode: multiply;
   transition-duration: .3s;
}
.info__nav_ask-q-btn:hover{
   background-position: 155px center;
}
.info__nav_item-link_qa-mob{
   display: none;
}
.info__nav_blocks{
   margin-top: 18px;
}
.nav__blocks_block{
   width: 100%;
}
.serv_header,.serv_header-mobile, .qa-block_header{
   width: 100%;
   height: 41px;
   padding-left: 28px;
   padding-right: 51px;
   background: #202020;
   font-weight: 600;
   color: white;
   display: flex;
   align-items: center;
   letter-spacing: 0.03em;
   position: relative;
}
.serv_header:after,.serv_header-mobile:after, .qa-block_header:after{
   background: url(../images/svg/serv_price_block_arrow.svg) no-repeat;
   content: "";
   background-position: center right;
   width: 15px;
   height: 15px;
   position: absolute;
   right: 35px;
   top:50%;
   transform: translateY(-50%);
   transition: .3s;
}
.serv_header-active:after,.serv_header-mobile-active:after,.qa-block_header-active:after{
   transform: rotate(90deg) translateX(-50%);
}
.serv_main{
   height: 0;
}
.serv_main-active{
   height: unset;
}
.serv-price_block_item{
   display: flex;
   justify-content: space-between;
   padding: 12px 0 12px 0;
   margin: 0 22px 0 28px;
   box-shadow: -3px 4px 1px -4px rgba(0, 0, 0, 0.1);
}
.serv-price_block_item:first-child,.serv-price_block_item:last-child{
   box-shadow:none
}
.serv_main .serv-price_block_item:first-child{
   font-weight: 600;
}
.serv_main .serv-price_block_item:first-child .counter{
   width: fit-content;
}
.serv_column-values{
   display: grid;
   grid-template-columns: 80px 70px 70px;
   text-align: center;
}
.counter{
   display: flex;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   width: 80px;
}
.serv-price,.serv-summ{
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
}
.serv-price-block:focus{
   outline: none;
}
.serv-price-block,.qa-block{
   overflow: hidden;
   margin-bottom: 3px;
   cursor: pointer;
   transition-duration: .3s;
}
.serv-price-block-mobile{
   display: none;
}
.serv-price_block_calc_summ{
   width: 100%;
   padding-left: 11px;
}
.counter_plus,.counter_minus{
   background-color: #FFF738;
   width: 19px;
   height: 19px;
   border-radius: 20px;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
}
.counter_plus{
   padding-top: 1px;
}
.calc_summ_price{
   display: flex;
   margin-top: 30px;
}
.price_price{
   font-weight: 600;
   font-size: 55px;
   color: black;
}
.price_sale{
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.03em;
   color: #747474;
   margin-left: 19px;
}
.calc_summ_text{
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #747474;
   width: 19vw;
}
.qa-block_main{
   height: 0;
}
.qa-block_main-active{
   padding:8px 6px 4px 18px;
   height: unset;
}
.qa-block_text{
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.03em;
}
.ex_items{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 32px;
}
.ex_example{
   position: relative;
}
.examle_image{
   width: 100%;
   height: auto;
}
.img_desc{
   position: absolute;
   height: 32.68%;
   width: 100%;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background: rgba(0, 0, 0, 0.6);
   text-align: center;
   bottom: 0;
}
.img_desc_text{
   width: 14vw;
}
.example_more{
   width: 100%;
   border: 0;
   text-decoration: none;
   padding: 18px 0;
   background: url(../images/svg/arrow-rigt-blk.svg) center right no-repeat;
   background-color: #FFF738;
   background-position: 70% center;
   transition-duration: .3s;
}
.example_more:hover{
   background-position: 72% center;
}
.nav__blocks_block{
   display: none;
}
.block-active{
   display: block;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======ASK QUESTION======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.ask-q .wrapper{
   border: 12px solid #F9F9F9;
   display: flex;
   justify-content: flex-end;
   position: relative;
   padding-bottom: 145px;
}
.q_img{
   width: 100%;
   height: 100%;
   background: url(../images/q-bg.webp) no-repeat;
   min-height: 200px;
   position: absolute;
   left: -30%;
   top: 0;
   
}
.q__form{
   width: fit-content;
   margin-top: 75px;
   margin-right: 9.5vw;
   z-index: 2;
}
.q_title{
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 102.4%;
   letter-spacing: 0.03em;
   width: 30vw;
   color: black;
}
.q_title-desc{
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   width: 25vw;
   color: #000000;
}
.q_forms{
   margin-top: 40px;
}
.q_forms_number-form{
   background: #FFFFFF;
   mix-blend-mode: normal;
   border: 1px solid #A3A3A3;
   height: 55px;
   padding-right: 62px;
   padding-left: 37px;
}
.q_forms_number-form::placeholder{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 0.03em;
   color: #DBDBDB;
}
.q_forms_send-btn{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   color: #000000;
   border: none;
   height: 55px;
   padding-right: 49px;
   padding-left: 31px;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat ,#FFF738;
   background-position: 92% center;
   background-blend-mode: multiply;
   transition-duration: .3s;
}
.q_forms_send-btn:hover{
   background-position: 95% center;
}
.q_form-desc{
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   color: #000000;
   max-width: 544px;
   margin-top:40px;
}
.q_form-desc span{
   font-weight: 600;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FOOTER========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.footer{
   background: #202020;
   padding:75px 0 46px 0;
}
.footer__items{
   display:flex;
   justify-content: space-between;
   border-bottom: 1px solid #313131;
   padding-bottom: 31px;
}
.footer_logo_block{
   display: flex;
}
.footer_logo{
   border-right: 1px solid #313131;
   padding-right: 20px;
   height: 48px;
   width: auto;
}
.footer_logo_desc{
   padding-left: 20px;
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #ABABAB;
   max-width: 174px;
}
.footer_adress{
   display: flex;
   justify-content: space-between;
   margin-top:54px;
}
.adress_number{
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   white-space: nowrap;
}
.adress_street, .street_link,.number-link{
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   white-space: nowrap;
}
.number-link{
   font-weight: 600;
   text-align: right;
   white-space: nowrap;
}
.footer_nav-title,.footer_social-title{
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 0.03em; 
   color: #FFFFFF;
   margin-bottom:28px;
}

.footer_nav_item-link{
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
   letter-spacing: 0.03em;
   color: #ABABAB;
   transition-duration: .3s;
}
.footer_nav_item-link:hover{
   color: #FFF738;
}
.social_links{
   display: flex;
}
.social_link{
   margin-right: 5px;
}
.social_links-mobile{
   display: none;
}
.footer_item:nth-child(3){
   margin-right: 91px;
}
.footer_item:nth-child(2){
   margin-left: 3px;
}
.reserverd_text{
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #ABABAB;
   width: 993px;
   margin-top: 17px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========MEDIA========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@media screen and (max-width: 1280px){
   .wrapper{
      max-width: 1230px;
      padding-left:15px;
      padding-right:15px;
   }
}
@media screen and (max-width: 1200px){
   .wrapper{
      max-width: 1045px;
      padding-left:15px;
      padding-right:15px;
   }
   .company-desc__sale{
      width: 358px;
      height: 358px;
      margin-top: -295px;
   }
   .q__form{
      margin-top: 63px;
      margin-right: 10px;
   }
   .q_title{
      font-size: 39px
   }
   .q_form-desc{
      max-width: 424px;
   }
   .q_img{
      left: -35%;
      transition-duration: .3s;
   }
   .example_more{
      background-position: 75% center;
   }
   .example_more:hover{
      background-position: 80% center;
   }
}
@media screen and (max-width: 998px){
   .wrapper{
      max-width: 850px;
      padding-left:15px;
      padding-right:15px;
   }
   .nav-one_item_link,.nav-two_item_link{
      font-size: 13px;
      line-height: 16px;
   }
   .nav-one_item{
      margin-right: 18px;
   }
   .nav-two_item{
      margin-left: 18px;
   }
   .intro_title{
      font-weight: 800;
   font-size: 40px;
   line-height: 37px;
   }
   .intro_dest-link,.intro_dest-link{
      font-size: 11px;
      line-height: 13px;
   }
   .weekly_text:first-child{
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
   }
   .weekly_text:last-child{
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
   }
   .sale_sale-btn{
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      padding-top: 11px;
      padding-bottom: 11px;
   }
   .company-desc_text{
      font-weight: normal;
      font-size: 13px;
      line-height: 151.9%;
   }
   .company-desc_show-all-btn{
      display: block;
      background: 0;
      border: 0;
      color: #94979A;
      padding: 10px 35px 10px 0;
      background: url(../images/svg/arrow-rigt-blk.svg) no-repeat right center;
      transition-duration: .3s;
      margin-top: 5px;
   }
   .company-desc_show-all-btn-active{
      background-image: none;
   }
   .company-desc_show-all-btn:hover{
      padding: 10px 40px 10px 0;
   }
   .info__nav_item-link{
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
   }
   .info__nav_item-link {
      padding: 10px 15px
   }
   .info__nav_ask-q-btn{
      font-size: 13px;
      line-height: 16px;
   }
   .serv_header_text,.qa-block_header_text{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
   }
   .serv-price,.serv-summ{
      font-size: 14px;
      line-height: 17px;
   }
   .serv_name,.qa-block_text{
      font-size: 13px;
      line-height: 16px;
   }
   .img_desc_text,.example_more{
      font-size: 14px;
      line-height: 17px;
   }
   .example_more{
      background-position: 75% center;
   }
   .example_more:hover{
      background-position: 80% center;
   }
   .calc_summ_text{
      width: 286px;
   }
   .q_title,.q_title-desc{
      margin: 0 auto;
      width: 282px;
   }
   .q_title-desc{
      margin-top:23px;
   }
   .q_forms_number-form{
      height: 50px;
      padding: 17px 25px;
      width: 200px;
   }
   .q_forms_number-form::placeholder{
      font-size: 13px;
      line-height: 16px;
   }
   .q_forms_send-btn{
      height: 50px;
      padding: 17px 43px 17px 19px;
      font-size: 13px;
      line-height: 16px;
   }
   .q_form-desc{
      margin-right: 0;
      font-size: 13px;
      line-height: 16px;
      width: 409px;
   }
   .q_img{
      left: -53%;
      transition-duration: .3s;
      background-size: cover;
   }
   .reserverd_text{
      width: 800px;
   }
}
@media screen and (max-width: 855px){
   .header,.intro_tel,.intro_order-call{
      display: none;
   }
   
   .header-mobile{
      display: block;
      width: 100%;
      background: #202020;
      height: 40px;
   }
   .header-mobile .wrapper{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: white;
      height: fit-content;
      padding-top: 11px;
   }
   .header-mobile__tel,.header-mobile__order-call{
      height: fit-content;
      color: white;
   }
   .mobile__nav-list-item-link{
      color: white;
      text-transform: uppercase;
      transition-duration: .3s;
   }
   .mobile__nav-list-item-link:hover,.mobile__nav-list-item-link:focus{
      color: #FFF738;
   }
   .header-mobile__tel{
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
   }
   .header-mobile__order-call{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      margin-left: 80px;
      padding-right: 32px;
      background: url(../images/svg/arrow-right.svg) no-repeat;
      background-position: 98% 3px;
      transition-duration: .3s;
   }
   .header-mobile__order-call:hover{
      background-position: 100% 3px;
   }
   .header-mobile__nav{
      margin-left: auto;
      z-index: 3;
   }
   .mobile__nav_burger{
      position: relative;
      display: inline-block;
      width: 30px;
      height: 16px;
   }
   .mobile__nav_burger span{
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 50px;
      left: 0;
   }
   .mobile__nav_burger span:nth-child(1){
      top:0;
   }
   .mobile__nav_burger span:nth-child(2){
      top:50%;
   }
   .mobile__nav_burger span:nth-child(3){
      top:100%
   }
   .mobile__nav-list{
      position: fixed;
      transform: translateX(100%);
      left: 0;
      top: 0;
      padding: 75px;
      font-size: 42px;
      line-height: 48px;
      width: 100%;
      min-height: 100%;
      background: #202020;
      transition-duration: .2s;
      overflow: visible;
   }
   .mobile__nav-list-item{
      margin-bottom: 10px;
   }
   .mobile__nav-list_burger-close{
      width: 40px;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 11px;
   }
   .mobile__nav-list-active{
      transform: translateX(0%);
   }
   .mobile__nav-list_burger-close span{
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 50px;
      left: 0;
   }
   .mobile__nav-list_burger-close span:first-child{
      position: absolute;
      top:50%;
      
      transform: rotate(45deg);
   }
   .mobile__nav-list_burger-close span:last-child{
      position: absolute;
      transform: rotate(-45deg);
      top:50%;
   }
   
   .company-desc__sale{
      margin-top:-350px;
   }

   .reserverd_text{
      width: 90%;
      padding-left: 15px;
   }
   
   .ask-q .wrapper{
      padding-bottom: 35px;
   }
   .q__form{
      width: 319px;
   }
   
   .q_forms{
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
      margin-top:19px;
   }
   .q_forms_send-btn{
      max-width: 200px;
      margin-top: 24px;
   }
   .q_form-desc{
      max-width: 319px;
   }
   .q_title,.q_title-desc{
      margin: 0;
   }
   .q_title-desc{
      margin-top: 30px;
      width: 300px;
   }
   .q_img{
      left: -50%;
      width: 100%;
   }
   
   .footer .wrapper{
      padding: 0;
   }
   .footer_item:nth-child(3){
      margin-right: 37px;
   }
   .footer_item:nth-child(1){
      margin-left: 41px;
   }

}
@media screen and (max-width: 790px){
   .info__nav_ask-q-btn{
      display: none;
   }
   .info__nav_items{
      margin: 0 auto;
      width: fit-content;
   }
   .footer_item:nth-child(3){
      display: none;
   }
   .footer_logo_block{
      flex-wrap: wrap;
      width: 300px;
   }
   .social_links-mobile{
      display: block;
      margin-top:10px;
      margin-left: 130px;
   }
   .footer_item:nth-child(2){
      margin-right: 37px;
      width: 300px;
   }
   .footer_adress{
      margin-top:30px;
      width: 310px;
   }
   .q_img{
      left: -50%;
      width: 100%;
   }
   .footer_nav-title{
      width: fit-content;
   }
   .footer_nav_item{
      width: 200px;
   }
}
@media screen and (max-width: 770px){
   .q_img{
      left: -58%;
      width: 106%;
   }
   .ex_items{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .ex_example{
      width: 90%;
      max-width: 382px;
      margin-bottom: 20px;
      text-align: center;
   }
   .img_desc_text{
      width: 60%;
   }
}
@media screen and (max-width: 720px){
   .q_img{
      left: -65%;
      width: 112%;
   }
   .company-desc__sale{
      margin-top: -160px;
      width: 250px;
      height: 250px;
   }
   .weekly_text:first-child{
      font-size: 12px
   }
   .weekly_text:last-child{
      font-size: 13px
   }
   .q_title{
      font-weight: bold;
      font-size: 20px;
      line-height: 102.4%;
      letter-spacing: 0.03em;
   }
   .q_img{
      background-size: 60%;
      background-position-y: bottom;
      left: -20%;
   }
   .q_title-desc,.q_form-desc{
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.03em;
      margin-top: 13px;
   }
   .footer_item:nth-child(2){
      margin-left: 10px;
   }
}
@media screen and (max-width: 622px){
   .q_img{
      background-size: 64%;
      background-position-y: bottom;
      left: -31%;
   }
   .footer_adress{
      max-width: 264px;
   }
   .footer_logo_desc{
      font-size: 12px;
      padding-left: 10px;
      max-width: 148px;
   }
   .footer_nav-title{
      font-size: 16px;
   }
   .footer_nav_item-link{
      font-size: 14px;
   }
   .street_link{
      font-size:12px;
   }
   .number-link{
      font-size: 12px;
   }
   .footer_item{
      margin-right: 20px;
   }
   
   .info__nav_item-link{
      padding: 10px 15px 10px 15px;
      font-size: 12px;
   }
   .info__nav_item:first-child .info__nav_item-link{
      padding: 10px 15px 10px 0px;
   }
   .info__nav_item:last-child .info__nav_item-link{
      padding: 10px 0px 10px 15px;
   }
   
}

@media screen and (max-width: 550px){
   .mobile__nav-list-item{
      width: fit-content;
   }
   .mobile__nav-list-item-link{
      font-size: 5vw;
      line-height: 3vw;
   }
   .weekly_items{
      padding-left: 60px;
   }
   .company-desc__sale{
      display: none;
   }
   .company-desc__sale-mobile{
      display: block;
      position: relative;
      width: 284px;
      height: 284px;
      background: url(../images/info__sale-bg.webp);
      background-size: cover;
      transition-duration: .3s;
      border-bottom: 7px solid #FFF738;
      margin:20px auto;
   }
   .serv-price-block{
      display: none;
   }
   .serv-price-block-mobile{
      display: block;
      margin-bottom: 3px;
      cursor: pointer;
      transition-duration: .3s;
   }
   .serv_header_text, .qa-block_header_text {
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
   }
   .serv_main-mobile{
      height: 0;
      overflow: hidden;
   }
   .serv_main-mobile-active{
      height: unset;
   }
   
   .serv-price_block_item{
      padding-right: 15px;
      display: flex;
      justify-content: space-between;
      padding:12px 21px 12px 10px;
      margin: 0;
   }
   .serv-price_block_item:nth-child(even){
      background: #F9F9F9;
   }
   .serv-price_block_item_amount-text{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: #808080;
      padding:6px 33px 0px 0px;
      text-align: right;
   }
   .serv-price_block_item{
      display: flex;
      justify-content: space-between;
   }
   .serv-name,.qa-block_text{
      font-weight: 500;
      font-size: 13px;
      line-height: 126.4%;
   }
   .serv-price_block_item-left{
      display: flex;
      flex-direction: column;
      margin-right: 47px;
   }
   .serv-price,.serv-summ{
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px ;
      letter-spacing: 0.03em;
      color: #808080;
      height: fit-content;
      width: 117px;
   }
   .serv-price{
      margin-top: 18px;
   }
   .serv-price_summ-num,.serv-price_price-num{
      color:black;
   }
   .counter{
      max-width: 121px;
      width: 95px;
   }
   .qa-block_main-active{
      padding:12px 10px;
   }
   .counter_btn{
      width: unset;
      height: unset;
      border: none;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 50%;
      position: relative;
   }
   .counter_plus::after,.counter_minus::after{
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      content: "+";
   }
   .counter_minus::after{
      content: "-";
      top: 5px;
   }
   
   .q_img{
      display: none;
   }
   .q__form{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .q_title{
      font-size: 20px;
      line-height: 102.4%;
      text-align: center;
      letter-spacing: 0.03em;
      width: 220px;
   }
   .q_title-desc{
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.03em;
      width: 273px;
   }
   .q_form-desc{
      width: 235px;
      font-style: normal;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.03em;
      text-align: left;
   }
   .footer .wrapper{
      padding: 0 15px;
   }
   .footer_item:first-child{
      margin: 0 auto;
   }
   .footer_nav_item{
      width: 150px;
   }
   .footer__items{
      flex-direction: column;
      align-items: center;
   }
   .footer_item{
      width: 100%;
      margin: 0 auto;
   }
   .footer_logo_block{
      width: 100%;
      flex-wrap: nowrap;
   }
   .social_links-mobile{
      margin-left: auto;
   }
   .footer_item:nth-child(2){
      margin: 0 auto;
      margin-top: 21px;
      width: 100%;
   }
   .footer_nav{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 130px;
      overflow: hidden;
   }
   .reserverd_text{
      font-size: 11px;
   }
   
}
@media screen and (max-width: 513px){
   .info__nav_item-link-active{
      color: black !important;
      border-bottom: 2px solid black;
   }
   .info__nav_item-link{
      font-size: 14px;
      color:#94979A;
   }
   .info__nav_item-link_qa-desc{
      display: none;
   }
   .info__nav_item-link_qa-mob{
      display: inline-block;
      
   }
   .info__nav_item-link{
      padding: 10px 15px 10px 15px;
   }
   .info__nav_item:first-child .info__nav_item-link{
      padding: 10px 15px 10px 15px;
   }
   .info__nav_item:last-child .info__nav_item-link{
      padding: 10px 15px 10px 15px;
   }
}

@media screen and (max-width: 420px){
   .serv_header_text,.qa-block_header_text{
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
   }
   .intro_title{
      font-size: 27px;
   }
   .header-mobile__order-call{
      background: none;
      padding: 0;
      margin-left: auto;
   }
   .social_links-mobile{
      display: flex;
      flex-direction: column;
      margin-top: 0px;
   }
   .social_links-mobile a:first-child{
      margin-bottom: 5px;
   }
   .info__nav_blocks{
      margin-top: 37px;
   }
}

@media screen and (max-width: 330px){
   .info__nav_item-link{
      padding: 10px 10px 10px 10px;
   }
   .info__nav_item-link:first-child,.info__nav_item-link:first-child:last-child{
      padding: 10px 10px 10px 10px;
   }
   .serv_header_text,.qa-block_header_text{
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
   }
   .ex_example{
      width: 95%;
   }
   .footer_nav{
      grid-template-columns: 1fr;
   }
   .footer_nav_item-link{
      font-weight: 500;
      font-size: 12px;
      line-height: 165.9%;
   }
}