/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-v14-latin_cyrillic-regular.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/rubik-v14-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v14-latin_cyrillic-regular.woff") format("woff"), url("../fonts/rubik-v14-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/rubik-v14-latin_cyrillic-regular.svg#Rubik") format("svg");
    /* Legacy iOS */ }
  
  /* rubik-500 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/rubik-v14-latin_cyrillic-500.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/rubik-v14-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v14-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v14-latin_cyrillic-500.woff") format("woff"), url("../fonts/rubik-v14-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/rubik-v14-latin_cyrillic-500.svg#Rubik") format("svg");
    /* Legacy iOS */ }
  
  /* rubik-700 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-v14-latin_cyrillic-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/rubik-v14-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v14-latin_cyrillic-700.woff") format("woff"), url("../fonts/rubik-v14-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/rubik-v14-latin_cyrillic-700.svg#Rubik") format("svg");
    /* Legacy iOS */ }
  
  html {
    scroll-behavior: smooth; }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 400;
  }

  section {
    padding: 90px 0;
}
  
  a {
    color: #1168DF; }
  
  input, textarea {
    background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 130%;
    padding: 8px 0;
    letter-spacing: 0.5px;
    resize: 0;
    font-weight: 400 !important;
    resize: none; }
  
  .wrapper {
    max-width: 1200px;
    padding: 0 80px 0 78px;
    margin: 0 auto; }
  
  p, li {
    font-size: 24px;
    line-height: 31px; 
}

.loading {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
}
.loading.disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
 }
.loading svg {
    display: none;
}
.blobs {
    filter: url(#goo);
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 70px;
    transform-style: preserve-3d;
}
.blobs .blob-center {
    transform-style: preserve-3d;
    position: absolute;
    background: #033fff;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform-origin: left top;
    transform: scale(0.9) translate(-50%, -50%);
    animation: blob-grow linear 3.4s infinite;
    border-radius: 50%;
    box-shadow: 0 -10px 40px -5px #033fff;
}
.blob {
    position: absolute;
    background: #033fff;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: blobs ease-out 3.4s infinite;
    transform: scale(0.9) translate(-50%, -50%);
    transform-origin: center top;
    opacity: 0;
}
.blob:nth-child(1) {
    animation-delay: 0.2s;
}
.blob:nth-child(2) {
    animation-delay: 0.4s;
}
.blob:nth-child(3) {
    animation-delay: 0.6s;
}
.blob:nth-child(4) {
    animation-delay: 0.8s;
}
.blob:nth-child(5) {
    animation-delay: 1s;
}
@keyframes blobs {
    0% {
        opacity: 0;
        transform: scale(0) translate(calc(-330px - 50%), -50%);
   }
    1% {
        opacity: 1;
   }
    35%, 65% {
        opacity: 1;
        transform: scale(0.9) translate(-50%, -50%);
   }
    99% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        transform: scale(0) translate(calc(330px - 50%), -50%);
   }
}
@keyframes blob-grow {
    0%, 39% {
        transform: scale(0) translate(-50%, -50%);
   }
    40%, 42% {
        transform: scale(1, 0.9) translate(-50%, -50%);
   }
    43%, 44% {
        transform: scale(1.2, 1.1) translate(-50%, -50%);
   }
    45%, 46% {
        transform: scale(1.3, 1.2) translate(-50%, -50%);
   }
    47%, 48% {
        transform: scale(1.4, 1.3) translate(-50%, -50%);
   }
    52% {
        transform: scale(1.5, 1.4) translate(-50%, -50%);
   }
    54% {
        transform: scale(1.7, 1.6) translate(-50%, -50%);
   }
    58% {
        transform: scale(1.8, 1.7) translate(-50%, -50%);
   }
    68%, 70% {
        transform: scale(1.7, 1.5) translate(-50%, -50%);
   }
    78% {
        transform: scale(1.6, 1.4) translate(-50%, -50%);
   }
    80%, 81% {
        transform: scale(1.5, 1.4) translate(-50%, -50%);
   }
    82%, 83% {
        transform: scale(1.4, 1.3) translate(-50%, -50%);
   }
    84%, 85% {
        transform: scale(1.3, 1.2) translate(-50%, -50%);
   }
    86%, 87% {
        transform: scale(1.2, 1.1) translate(-50%, -50%);
   }
    90%, 91% {
        transform: scale(1, 0.9) translate(-50%, -50%);
   }
    92%, 100% {
        transform: scale(0) translate(-50%, -50%);
   }
}


/* header */
.header {
    padding: 15px 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    transition: .3s;
}
header .wrapper {
    padding: 0 67px;
    display: flex;
    align-items: center;
}
.header .wrapper .menu {
   display: flex;
}
.header .wrapper .menu li {
    margin-right: 33px;
}
.header .wrapper .menu li a {
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
    color: #000000;
    transition: .3s;
}
.header .wrapper .menu li a:hover {
    color: #1168DF;
}
.header .wrapper .header__write-me {
    border-radius: 5px;
    border: 1px solid #033fff;
    border-radius: 26px;
    line-height: 51px;
    text-align: center;
    display: inline-block;
    padding: 0 35px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.02em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #033fff;
    cursor: pointer;
    margin-left: auto;
}
.header .wrapper .header__write-me:hover {
    background: #fff;
    color: #1168DF;
    -webkit-box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
    box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
}
header.not-at-top {
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
}

/* intro */
.intro {
    width: 100%;
}
.intro .wrapper {
    max-width: 1500px;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}
.intro__img {
    width: 570px;
}
.intro .wrapper .intro__title {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 65px;
    font-weight: 700;
    width: max-content;
    max-width: 100%;
    line-height: 1.2em;
    color: #10233e;
}

.line {
    background: linear-gradient( 270deg ,#13ADC7 0%,#945DD6 100%);
    margin: 5rem 0;
    width: 64px;
    height: 6px;
    border-radius: 10px;
}

.intro .wrapper .intro__subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    max-width: 800px;
}
.intro .wrapper .first__write-me {
    margin-top: 40px;
}
.intro .wrapper .first__write-me .intro__write-me:first-of-type {
    border-radius: 5px;
    border: 1px solid #033fff;
    border-radius: 26px;
    line-height: 51px;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.02em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #033fff;
    cursor: pointer;
}
.intro .wrapper .first__write-me .intro__write-me:first-of-type:hover {
    -webkit-box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
    box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
}
.intro .wrapper .first__write-me .intro__write-me:nth-of-type(2) {
    border-radius: 5px;
    border: 1px solid #033fff;
    border-radius: 26px;
    line-height: 51px;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
    color: #033fff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.02em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #fff;
    cursor: pointer;
    margin-left: 27px;
}
.intro .wrapper .first__write-me .intro__write-me:nth-of-type(2):hover {
    background-color: #033fff;
    color: #fff;
    -webkit-box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
    box-shadow: 0 5px 19px rgba(3, 63, 255, 0.3);
}


/* services */
.services {
    margin-bottom: 60px;
    padding-top: 20px;
}
.services .wrapper {
    max-width: 1520px;
} 
.services .wrapper .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
.services .wrapper .services__heading {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.15em;
    text-align: center;
    margin-bottom: 60px;
}
.services__item {
    max-width: 269px;
    min-height: 230px;
    -webkit-box-shadow: 0 15px 30px rgb(202 203 206 / 25%);
    box-shadow: 0 15px 30px rgb(202 203 206 / 25%);
    border-radius: 20px;
    background-color: #ffffff;
    margin: 0 35px 35px;
    padding: 115px 30px 25px;
    text-align: center;
    background-position: center 45px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.services__item:first-of-type {
    background-image: url(../img/offer-icon3.svg);
}
.services__item:nth-of-type(2) {
    background-image: url(../img/offer-icon1.svg);
}
.services__item:nth-of-type(3) {
    background-image: url(../img/offer-icon2.svg);
}
.services__item:nth-of-type(4) {
    background-image: url(../img/offer-icon4.svg);
}
.services .wrapper .services__list .services__item .services__title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
}
.services .wrapper .services__list .services__item .services__text {
    color: #60738e;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.services .wrapper .services__list .services__item .services__price {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.footer__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* benefits */
.benefits {
    background: url(../img/benefits-bg.jpg) no-repeat center top;
}
.benefits .wrapper {

}
.benefits .wrapper .benefits__heading {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.15em;
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
}
.benefits .wrapper .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.benefits__item {
    text-align: center;
    margin: 0 25px 30px;
    max-width: 248px;
    width: 100%;
    min-height: 231px;
    -webkit-box-shadow: 0 20px 40px rgb(202 203 206 / 25%);
    box-shadow: 0 20px 40px rgb(202 203 206 / 25%);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 115px 35px 45px;
    background-position: center 45px;
    background-repeat: no-repeat;
}
.benefits__item:first-of-type {
    background-image: url(../img/offer-icon3.svg);
    background-size: 48px 48px;
}
.benefits__item:nth-of-type(2) {
    background-image: url(../img/offer-icon1.svg);
    background-size: 48px 48px;
}
.benefits__item:nth-of-type(3) {
    background-image: url(../img/offer-icon4.svg);
    background-size: 48px 48px;
}
.benefits__item .benefits__title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.benefits__item .benefits__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 240px;
    margin: 0 auto;
    color: #60738e;
}

/* about-me */
.about-me {
   padding: 0;
}
.about-me .wrapper {
    max-width: 1500px;
    padding: 0 50px 0 48px;
}
.about-me .wrapper .about-me__title {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.15em;
    text-align: left;
    margin-bottom: 50px;
}

.pre-title__line {
    width: 53px;
    height:1px;
    background: #000;
    float: left;
    margin-right: 25px;
    margin-top: 20px;
}
.about-me .wrapper .about-me__content {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}
.about-me .wrapper .about-me__content .about__img {
    margin-right: 50px;
}
.about-me .wrapper .about-me__content .about-me__text {
    max-width: 649px;
    margin-bottom: 34px;
    padding-left: 3px;
    font-size: 22px;
}
.about-me .wrapper .about-me__content .about-me__subtitle {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-top: 60px;
}
.about-me .wrapper .about-me__content .program__content {
    display: flex;
    margin-bottom: 50px;
    justify-content: center !important;
    margin-top: 40px;
    align-content: center;
    flex-wrap: wrap;
}
.program__tip {
    font-size: 16px;
    font-weight: 900;
    line-height: 31px;
    margin: 0 14px 15px;
    padding-left: 35px;
}
.program__tip:first-of-type {
    background: url(../img/html.png) no-repeat left center/22px 31px;
} 
.program__tip:nth-of-type(2) {
    background: url(../img/css.png) no-repeat left center/22px 31px;
}
.program__tip:nth-of-type(3) {
    background: url(../img/bootstrap.png) no-repeat left center/28px 29px;
}
.program__tip:nth-of-type(4) {
    background: url(../img/jquery.png) no-repeat left center/26px 31px;
}
.program__tip:nth-of-type(5) {
    background: url(../img/grid.png) no-repeat left center/22px 31px;
}
.program__tip:nth-of-type(6) {
    background: url(../img/node.png) no-repeat left center/26px 31px;
}
.program__tip:nth-of-type(7) {
    background: url(../img/sass.png) no-repeat left center/22px 31px;
}
.program__tip:nth-of-type(8) {
    background: url(../img/php.png) no-repeat left center/22px 31px;
}
.program__tip:nth-of-type(9) {
    background: url(../img/mysql.png) no-repeat left center/22px 31px;
}
.program__tip:nth-of-type(10) {
    background: url(../img/wordpess.png) no-repeat left center/26px 26px;
}
.program__tip:nth-of-type(11) {
    background: url(../img/React-icon.svg.png) no-repeat left center/30px 26px;
}

/* portfolio */
.portfolio {
    padding-top: 0;
}
.portfolio .line {
    margin: 2rem 0;
}
.portfolio .wrapper {
    max-width: 1500px;
}
.portfolio .wrapper .portfolio__heading{
    font-family: "SF-UI-Display", sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.15em;
    text-align: left;
    margin-bottom: 60px;
}
.portfolio__first {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
.portfolio__link {
    cursor: grab;
}
.swiper-slide {
    max-width: 600px;
    border-radius: 20px;
    transition: 0.3s ease;
    border-radius: 20px;
}
.swiper-slide:hover {
    opacity: 1;
    -webkit-box-shadow: 0 5px 19px rgba(0, 0, 0, 0.3);
    box-shadow: 0 9px 30px rgba(0, 0, 0, 0.3);
}
.portfolio__item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.portfolio__hover-block {
    background:rgba(0, 0, 0, 0.4392156862745098);
    font-size:20px;
    color: white;
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    transition: 0.5s;
    animation: show 3s 1; 
    animation-fill-mode: forwards; 
    border-radius: 10px;
}
.portfolio__hover-block p {
    text-align: center;
    margin: 0;
    position: absolute;               
    top: 47%;                   
    left: 10%;
}
.portfolio__link:hover .portfolio__hover-block {
    visibility:visible;  
    opacity:1;
}

/* footer */
.footer {
    background-color: #F8F8F8;
    padding: 100px 0;
}
.footer .wrapper {
    max-width: 1400px;
}
.footer .wrapper .footer_heading-title {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.15em;
    text-align: center;
    margin-bottom: 60px;
}
.footer .wrapper .footer__first {
    display: flex;
    flex-wrap: wrap;
}
.footer .wrapper .footer__first .footer__left {
    max-width: 650px;
}
.footer .wrapper .footer__first .footer__left .contact-info-box {
    display: flex;
    margin: 0 0 32px 0px;
    align-items: center;
}
.footer .wrapper .footer__first .footer__left .contact-info-box h3 {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 19px;
    font-weight: 800;
    margin-right: 18px;
}
.footer .wrapper .footer__first .footer__left .contact-info-box span {
    font-family: "SF-UI-Display", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.footer .wrapper .footer__first .footer__right {
    height: 100%;
    
}

.footer .wrapper .footer__first .footer__right .footer__contact-form {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .wrapper .footer__first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer .wrapper .footer__first .footer__right .footer__contact-form input{
    -webkit-border-radius: 5px !important;
    height: 61px;
    border-radius: 5px;
    background-color: #fff;
    width: 400px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    line-height: 41px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid;
    margin-top: 8px;
}
.footer .wrapper .footer__first .footer__right .footer__contact-form textarea {
    -webkit-border-radius: 5px !important;
    border-radius: 5px;
    background-color: #fff;
    border: 0;
    font-size: 16px;
    height: 140px;
    font-weight: 400;
    padding: 10px 20px;
    line-height: 41px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid;
    margin-top: 8px;
    width: 400px;
}
.footer .wrapper .footer__first .footer__right .footer__contact-form .form-btn {
    border-radius: 5px;
    border: 1px solid #033fff;
    border-radius: 26px;
    line-height: 51px;
    text-align: center;
    display: inline-block;
    padding: 0 35px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.02em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #033fff;
    cursor: pointer;
    margin-top: 10px;
}


@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1300px;
    }
    .intro .wrapper {
        justify-content: initial;
    }
    .intro__img {
        width: 440px;
    }
    .about-me .wrapper .about-me__content .about__img {
        height: 440px;
    }
}

@media screen and (max-width: 905px) {
    section {
        padding: 70px 0;
    }
    .wrapper {
        padding: 0 18px 0 18px;
    }
    header .wrapper {
        padding: 0px;
        margin: inherit;
        justify-content: center;
    }

    
    .header .wrapper .menu li {
        margin-right: 0px;
    }
    .header .wrapper .menu li a {
        font-size: 14px;
        line-height: 1.3;
        padding: 0px 8px;
        white-space: nowrap;
    }
    .header .wrapper .header__write-me {
        display: none;
    }
    .intro {
        min-height: 0px;
    

    }
    .intro .wrapper {
        flex-direction: column;
    }
    .intro__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .intro .wrapper .intro__title {
        text-align: center;
        font-size: 35px;
    }
    .intro .wrapper .intro__subtitle {
        text-align: center;
        margin-bottom: 25px;
        font-size: 17px;
        line-height: 1.4;
    }
    .intro .wrapper .first__write-me {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .intro .wrapper .first__write-me .intro__write-me:nth-of-type(2) {
        margin: 0;
        margin-top: 10px;
    }
    .intro__img {
        display: none;
    }
    
    .about-me .wrapper .about-me__content .about__img {
        height: 340px;
        margin-bottom: 40px;
    }
    .services .wrapper .services__heading {
        font-size: 30px;
    }
    .benefits .wrapper .benefits__heading {
        font-size: 30px;
    }
    .about-me .wrapper .about-me__title {
        font-size: 30px;
    }
    .portfolio .wrapper .portfolio__heading {
        font-size: 30px;
    }
    .footer .wrapper .footer_heading-title {
        font-size: 30px;
    }
    .services {
        margin: 0px;
    }
    .about-me {
        padding: 0;
    }
    .about-me .wrapper .about-me__content .about-me__text {
        margin: 0;
        font-size: 20px;
        line-height: 1.5;
    }
    .about-me .wrapper .about-me__content .about-me__subtitle {
        line-height: 1.3;
    }

    .benefits .wrapper .benefits__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-me .wrapper .about-me__content {
        flex-direction: column;
    }
    .portfolio__slider {
        overflow: hidden;
    }
    .footer .wrapper .footer__first .footer__left .contact-info-box {
        margin: 0 0 25px 0px;
    }
    .footer__contact-form {
        margin-top: 40px;
    }
    .footer .wrapper .footer__first .footer__right .footer__contact-form input {
        max-width: 300px;
    }
    .footer .wrapper .footer__first .footer__right .footer__contact-form textarea {
        max-width: 300px;
    }
    .footer__left {
        justify-content: center;
    }
}
