$header-padding: 20px;
$header-menu-item-padding: 22px 25px;
$header-menu-item-font-size: 20px;
$header-menu-item-hover-background: #3b3b3b;
$header-menu-item-active-background: $header-menu-item-hover-background;
$header-menu-item-active-color: #fff;

$color-white: #fff;
$color-grey: #edf2f6;
$color-border: #ede9e9;
$color-grey-dark: #5f5f5f;
$color-text: #515365;
$color-accent: #fa6342;
$color-background: #272727;