@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Outfit Regular'), local('Outfit-Regular'),
    url('https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XBaRk.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Outfit Medium'), local('Outfit-Medium'),
    url('https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObq2JXBaRk.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Outfit SemiBold'), local('Outfit-SemiBold'),
    url('https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGOBo6NXBaRk.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Outfit Bold'), local('Outfit-Bold'),
    url('https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGOBo-dXBaRk.woff2') format('woff2');
}



