:root {
  /* Colors */
  --color-dark: #03271e; /* Dark Green */
  --color-accent-1: #a3e625; /* Accent Green 1 */
  --color-accent-1-hover: #b5eb50; /* Accent Green 1 Hover */
  --color-accent-2: #89d200; /* Accent Green 2 */
  --color-white: #ffffff;
  --color-gray-100: #f1f1f4;
  --color-gray-500: #b0b4be;
  --color-gray-700: #5d625a;

  /* Text colors */
  --text-secondary: rgba(255, 255, 255, 0.6);

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  
  /* Button variables */
  --button-radius: 14px;
}



