@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

body {
    background: #000;
}

.pricing-container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 167px;
}

.calculate-title {
    color: #F2F2F2;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

.tabs-head-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.tabs-head-block {
    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.05);
    gap: 5px;
}

.tab-btn {
    border: none;
    color: rgba(255, 255, 255, 0.56);
    text-align: center;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 180%;
    background: none;
    cursor: pointer;
}

.tab-btn.active {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 8px 20px 0px rgba(18, 17, 39, 0.10);
    color: #FFF;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: block;
}

.calculate-block {
    width: 1072px;
    border-radius: 12px;
    background: rgba(37, 37, 37, 0.50);
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
    padding: 56px 50px;
}

.calculate-block-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    height: 62px;
}

.traffic-amout {
    color: #FFF; /* Припущене значення для --Advanced-Forms-Range-Slider-Touch-Area-Bg-Color */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.traffic-amout .value {
    color: #FFF; /* Припущене значення для --Advanced-Forms-Range-Slider-Touch-Area-Bg-Color */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .12px;
}

.total {
    color: #FFF; /* Припущене значення для --Advanced-Forms-Range-Slider-Touch-Area-Bg-Color */
    text-align: right;
    align-items: flex-end;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.total .value {
    color: #FFF; /* Припущене значення для --Advanced-Forms-Range-Slider-Touch-Area-Bg-Color */
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .12px;
}

.total .contact-btn {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: .08px;
    display: none;
    padding: 8px 16px; /* Припущені значення для --Advanced-Forms-Range-Slider-Tooltip-Spacing і --Components-Button-Spacing-X */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Припущене значення для --Components-Button-Gap-Between */
    border-radius: 999px; /* Припущене значення для --Components-Button-Border-Radius */
    background: #FFF; /* Припущене значення для --Advanced-Forms-Range-Slider-Tooltip-Bg-Color */
    text-transform: none;
    margin-top: 5px;
    width: 125px;
}


.total .contact-btn.active {
    display: flex
}

.slider-wrap {
    position: relative;
}

.slider-tooltip {
    width: 66px;
    color: #1F2937;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .06px;
    display: flex;
    padding: 6px 8px;
    align-items: center;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .1), 0px 10px 8px 0px rgba(0, 0, 0, .04);
    flex-direction: column;
    position: relative;
    top: -20px;
}

.slider-tooltip::after {
    content: '';
    background: url(../img/botto-beak.svg) no-repeat center top / cover;
    width: 19px;
    height: 11.875px;
    position: absolute;
    top: 27px;
}

.slider-range {
    z-index: 999;
}

.slider-container input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 999px;
    background: #fff;
    outline: none;
    padding: 0;
    margin: 0;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slider-container input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slider-marks {
    position: relative;
    display: flex;
    margin-top: 10px;
    z-index: 0;
}

.mark {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
}

.mark::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #9CA3AF;
}

.mark:first-child {
    left: 0;
    transform: translateX(0%);
}

.mark:last-child {
    left: 100%;
    transform: translateX(-100%);
}

.calculate-block-bottom {
    margin-top: 120px;
}

.calculate-block-bottom .title {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    gap: 15px;
    white-space: nowrap;
}

.calculate-block-bottom .title::after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.12);
}

.info-list-wrap {
    display: flex;
    justify-content: space-between;
}

.info-list {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-item {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-item::before {
    content: '';
    background: url(../img/check.svg) no-repeat center top / cover;
    width: 20px;
    height: 20px;
}


.total-text-resid.hide {
    display: none;
}
.total-text-сontact-resid {
    display: none;
}
.total-text-сontact-resid.active {
    display: block;
}


.total-text-mob.hide {
    display: none;
}
.total-text-сontact-mob {
    display: none;
}
.total-text-сontact-mob.active {
    display: block;
}



.pricing-bottom {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.get-started-btn {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08px;
    width: 165px;
    height: auto;
    flex-shrink: 0;
    border-radius: 67px;
    background: #FFF;
    padding: 12px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}