@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}


.header .container {
    display: flex;
    align-items: center;
}

.header {
    &__logo {
        display: block;
        width: 25vw;
        padding-top: 4.01vw;
        padding-bottom: 4.115vw;
        padding-left: 3.229vw;
        padding-right: 3.229vw;
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
    }

    &__logo img {
        width: 18.542vw;
        height: 4.51vw;
    }

    &__block {
        border: 0.052vw solid #BFBFBF;
        width: 12.5vw;
        height: 12.5vw;
        border-left: none;
    }

    &__info {
        width: 37.2vw;
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        border-left: none;
        font-weight: 500;
        font-size: 1.354vw;
        line-height: 140.3%;
        color: #000000;
        padding-top: 4.531vw;
        padding-bottom: 4.375vw;
        padding-left: 4.635vw;
        padding-right: 14.063vw;
    }

    &__burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__burger-btn img {
        width: 3.854vw;
        height: 3.854vw;
    }
}

.intro .container {
    display: flex;
}

.intro {
    &__bg {
        background: url(../img/intro-bg.png) no-repeat left top / cover;
        width: 37.3vw;
        height: 43.75vw;
        transition: 0.3s;
    }

    &__bg:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__info {
        width: 49.8vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-left: none;
    }

    &__title {
        font-size: 7.292vw;
        line-height: 77%;
        color: #000000;
        font-weight: 400;
        margin-top: 4.01vw;
        margin-left: 4.635vw;
    }

    &__title span {
        margin-bottom: 1.979vw;
        display: block;
    }

    &__desc {
        width: 34.427vw;
        font-weight: 400;
        font-size: 1.354vw;
        line-height: 140.3%;
        color: #000000;
        margin-left: 4.635vw;
        margin-top: 4.46vw;
    }

    &__right {
        width: 12.4vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-left: none;
        position: relative;
    }

    &__right-i {
        width: 3.594vw;
        height: 3.594vw;
        position: absolute;
        top: 25.094vw;
        left: -6.208vw;
        z-index: 999999;
        cursor: pointer;
        transition: 0.2s;
    }

    &__right-i .path-i {
        transition: 0.2s;
    }

    &__right-i:hover>.path-i {
        fill: #F2F2F2;
    }

    &__right-i.active>.path-i {
        fill: #F2F2F2;
    }

    &__right .star.active>.star-path {
        fill: #F2F2F2;
    }

    &__price-bg {
        background: url(../img/price-bg.svg) no-repeat center top / cover;
        width: 9.063vw;
        height: 6.25vw;
        position: absolute;
        top: 29vw;
        right: 7.5vw;
        z-index: 999;
        transition: 0.2s;
    }


    .intro__price-bg.active {
        background: url(../img/price-bg-2.svg) no-repeat center top / cover;
        width: 8.698vw;
        height: 7.031vw;
        right: 7.7vw;
        top: 28.5vw;
    }

    &__right .star {
        width: 15.365vw;
        height: 15.365vw;
        animation: 15s linear 0s normal none infinite running rot;
        position: absolute;
        top: 25vw;
        right: 4.5vw;

    }

    &__bottom {
        width: 125%;
        height: 11.615vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-top: 4.688vw;
    }



    &__calc-btn {
        width: 37.708vw;
        height: 11.615vw;
        background: #EEB969;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.354vw;
        line-height: 140.3%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #694C20;
        transition: 0.3s;
    }

    &__calc-btn svg {
        width: 2.063vw;
        margin-left: 2.24vw;
        transition: 0.3s;

    }

    &__calc-btn span {
        transition: 0.3s;
        position: relative;
        top: 0;
    }

    &__calc-btn:hover span {
        transform: translateX(3px);
        top: -3px;
    }
}


.about {
    &__empty {
        display: flex;
    }

    &__block-one {
        width: 25vw;
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        border-top: none;
    }

    &__block-two {
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        width: 12.5vw;
        border-left: none;
        border-top: none;
    }

    &__block-three {
        height: 12.5vw;
        width: 62.5vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
    }

    &__header {
        display: flex;
    }

    &__logo {
        width: 25vw;
        height: 14.792vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo img {
        width: 18.542vw;
        height: 4.51vw;
        display: block;
    }

    &__header-title {
        padding-top: 2.76vw;
        padding-bottom: 2.604vw;
        padding-left: 2.604vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-left: none;
        height: 14.792vw;
        width: 75vw;
    }

    &__header-title h2 {
        width: 56.406vw;
        font-weight: 400;
        font-size: 4.167vw;
        line-height: 110.5%;
        color: #000000;
    }

    &__content {
        display: flex;
    }

    &__content-left {
        width: 25vw;
        height: 33.49vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__content-right {}

    &__content-grid {
        display: flex;
    }

    &__grid--block {
        padding-left: 1.094vw;
        padding-top: 3.021vw;
        padding-bottom: 1.927vw;
        width: auto;
        height: 12.5vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
    }

    .about__grid--block:nth-child(1) {
        width: 12.5vw;
    }

    .about__grid--block:nth-child(2) {
        width: 15.625vw;
    }

    .about__grid--block:nth-child(3) {
        width: 18.073vw;
    }

    .about__grid--block:nth-child(4) {
        width: 12.24vw;
    }

    .about__grid--block:nth-child(5) {
        width: 15.750vw;
    }

    &__grid--block h4 {
        font-weight: 400;
        font-size: 2.865vw;
        line-height: 77%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }

    &__grid--block p {
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-top: 2.135vw;
    }

    &__content-bg {
        background: url(../img/about-bg.png) no-repeat center top / cover;
        width: 72.292vw;
        height: 18.229vw;
        margin-left: 1vw;
        margin-top: 1.51vw;
    }
}