@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}


.header .container {
    display: flex;
    align-items: center;
}

.header {
    &__logo {
        display: block;
        width: 25vw;
        padding-top: 4.01vw;
        padding-bottom: 4.115vw;
        padding-left: 3.229vw;
        padding-right: 3.229vw;
        border: 0.052vw solid #BFBFBF;
        border-right: none;
        height: 12.5vw;
    }

    &__logo img {
        width: 18.542vw;
        height: 4.51vw;
    }

    &__block {
        border: 0.052vw solid #BFBFBF;
        width: 12.5vw;
        height: 12.5vw;

        border-right: none;
    }

    &__info {
        width: 37.2vw;
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        border-right: none;

        font-weight: 500;
        font-size: 1.354vw;
        line-height: 140.3%;
        color: #000000;
        padding-top: 4.531vw;
        padding-bottom: 4.375vw;
        padding-left: 4.635vw;
        padding-right: 14.063vw;
    }

    &__burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__burger-btn img {
        width: 3.854vw;
        height: 3.854vw;
    }
}

.intro .container {
    display: flex;
}

.intro {
    &__bg {
        background: url(../img/intro-bg.png) no-repeat left top / cover;
        width: 37.3vw;
        height: 43.75vw;
        transition: 0.3s;
    }

    &__bg:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__info {
        width: 49.8vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-left: none;
    }

    &__title {
        font-size: 7.292vw;
        line-height: 77%;
        color: #000000;
        font-weight: 400;
        margin-top: 4.01vw;
        margin-left: 4.635vw;
    }

    &__title span {
        margin-bottom: 1.979vw;
        display: block;
    }

    &__desc {
        width: 34.427vw;
        font-weight: 400;
        font-size: 1.354vw;
        line-height: 140.3%;
        color: #000000;
        margin-left: 4.635vw;
        margin-top: 4.46vw;
    }

    &__right {
        width: 12.4vw;
        border: 0.052vw solid #BFBFBF;
        border-right: none;
        border-top: none;
        border-left: none;
        position: relative;
    }

    &__right-i {
        width: 3.594vw;
        height: 3.594vw;
        position: absolute;
        top: 25.094vw;
        left: -6.208vw;
        z-index: 999999;
        cursor: pointer;
        transition: 0.2s;
    }

    &__right-i .path-i {
        transition: 0.2s;
    }

    &__right-i:hover>.path-i {
        fill: #F2F2F2;
    }

    &__right-i.active>.path-i {
        fill: #F2F2F2;
    }

    &__right .star.active>.star-path {
        fill: #F2F2F2;
    }

    &__price-bg {
        background: url(../img/price-bg.svg) no-repeat center top / cover;
        width: 9.063vw;
        height: 6.25vw;
        position: absolute;
        top: 29vw;
        right: 7.5vw;
        z-index: 999;
        transition: 0.2s;
    }


    .intro__price-bg.active {
        background: url(../img/price-bg-2.svg) no-repeat center top / cover;
        width: 8.698vw;
        height: 7.031vw;
        right: 7.7vw;
        top: 28.5vw;
    }

    &__right .star {
        width: 15.365vw;
        height: 15.365vw;
        animation: 15s linear 0s normal none infinite running rot;
        position: absolute;
        top: 25vw;
        right: 4.5vw;

    }

    &__bottom {
        width: 125%;
        height: 11.615vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-top: 4.688vw;
    }

    &__calc-btn {
        width: 37.708vw;
        height: 11.615vw;
        background: #EEB969;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.354vw;
        line-height: 140.3%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #694C20;
        transition: 0.3s;
    }

    &__calc-btn svg {
        width: 1.7vw;
        margin-left: 1.7vw;
        transition: 0.3s;

    }

    &__calc-btn span {
        transition: 0.3s;
        position: relative;
        top: 0;
    }

    &__calc-btn:hover span {
        transform: translateX(0.156vw);
        top: -0.156vw;
    }
}


.about {
    &__empty {
        display: flex;
    }

    &__block-one {
        width: 25vw;
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        border-top: none;
    }

    &__block-two {
        border: 0.052vw solid #BFBFBF;
        height: 12.5vw;
        width: 12.5vw;
        border-left: none;
        border-top: none;
    }

    &__block-three {
        height: 12.5vw;
        width: 62.5vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        border-right: none;
    }

    &__header {
        display: flex;
    }

    &__logo {
        width: 25vw;
        height: 14.792vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo img {
        width: 18.542vw;
        height: 4.51vw;
        display: block;
    }

    &__header-title {
        padding-top: 2.76vw;
        padding-bottom: 2.604vw;
        padding-left: 2.604vw;
        border: 0.052vw solid #BFBFBF;
        border-right: none;
        border-top: none;
        border-left: none;
        height: 14.792vw;
        width: 75vw;
    }

    &__header-title h2 {
        width: 56.406vw;
        font-weight: 400;
        font-size: 4.167vw;
        line-height: 110.5%;
        color: #000000;
    }

    &__content {
        display: flex;
    }

    &__content-left {
        width: 25vw;
        height: 33.49vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__content-grid {
        display: flex;
    }

    &__grid--block {
        padding-left: 1.094vw;
        padding-top: 3.021vw;
        padding-bottom: 1.927vw;
        width: auto;
        height: 12.5vw;
        border: 0.052vw solid #BFBFBF;

        border-top: none;
        border-right: none;
    }

    .about__grid--block:nth-child(1) {
        width: 12.5vw;
        border-left: none;
    }

    .about__grid--block:nth-child(2) {
        width: 15.625vw;
    }

    .about__grid--block:nth-child(3) {
        width: 18.073vw;
    }

    .about__grid--block:nth-child(4) {
        width: 12.24vw;
    }

    .about__grid--block:nth-child(5) {
        width: 15.750vw;
    }

    &__grid--block h4 {
        font-weight: 400;
        font-size: 2.865vw;
        line-height: 77%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
    }

    &__grid--block p {
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-top: 2.135vw;
    }

    &__content-bg {
        background: url(../img/about-bg.png) no-repeat center top / cover;
        width: 72.292vw;
        height: 18.229vw;
        margin-left: 1vw;
        margin-top: 1.51vw;
        transition: 0.3s;
    }

    &__content-bg:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__bottom {
        display: flex;
    }

    &__bottom-one {
        width: 25vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__bottom-two {
        width: 8.021vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
    }

    &__bottom-three {
        width: 67vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-right: none;
    }
}

.services {
    &__info-bl {
        display: flex;
    }

    &__info-one {
        width: 25vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__info-two {
        width: 49.90vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        font-weight: 500;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        padding-top: 2.083vw;
        padding-bottom: 2.083vw;
        padding-left: 2.604vw;
        padding-right: 5.833vw;
    }

    &__info-three {
        width: 25.052vw;
        height: 7.188vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        border-right: none;
    }

    &__list-wrapper {
        display: flex;
        align-items: flex-start;

    }

    &__list-left {
        width: 25vw;
        height: 110.8vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__list-content {
        width: 74.948vw;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    &__list-item {
        width: 24.700vw;
        height: 32.083vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-right: none;
        padding-top: 3.021vw;
        padding-bottom: 2.813vw;
    }

    &__list-item:nth-child(1) {
        border-left: none;
    }

    &__list-item:nth-child(4) {
        border-left: none;
    }

    &__item-info {
        padding-left: 2.604vw;
        height: 11.458vw;
    }

    &__item-info h3 {
        font-weight: 500;
        font-size: 1.458vw;
        line-height: 77%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        margin-bottom: 1.615vw;
    }

    &__item-info p {
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        width: 18.333vw;
    }

    &__list-item img {
        width: 22.448vw;
        height: 14.948vw;
        transition: 0.3s;
    }

    &__list-item .ibg {
        background-size: cover;
        transition: 0.3s;
        width: 22.448vw;
        height: 14.948vw;
    }

    &__list-item .ibg img {
        visibility: hidden;
    }

    &__list-item .ibg:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__item-img.one {
        float: right;
    }

    &__item-img.three {
        float: left;
    }

    &__item-img.two {
        width: 100%;
    }

    &__map {
        width: 100%;
        padding-top: 2.917vw;
        padding-left: 2.5vw;
    }

    &__bottom-wrapper {
        display: flex;
        margin-top: 3.281vw;
    }

    &__bottom-text {
        width: 25.5vw;
        height: 7.135vw;
        font-weight: 500;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        padding-top: 2.083vw;
        padding-bottom: 1.875vw;
        padding-left: 2.969vw;
        padding-right: 1.969vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
    }

    &__bottom-center {
        width: 32.706vw;
        height: 7.135vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
    }

    &__bottom-btn {
        width: 100%;
        height: 100%;
        background: #EEB969;
        font-weight: 600;
        font-size: 1.354vw;
        line-height: 140.3%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #694C20;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__bottom-btn span {
        position: relative;
        top: 0.221vw;
        margin-left: 0.521vw;
    }

    &__bottom-btn svg {
        width: 1.4vw;
        top: 0vw;
        left: 0.721vw;
        position: relative;
        transition: 0.3s;
    }

    &__bottom-btn:hover svg {
        transform: translateX(0.200vw);
        top: -0.200vw;
    }

    &__bottom-right {
        width: 10.7%;
        height: 7.135vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
    }

    &__bottom-right-2 {
        border-right: none !important;
    }
}


.swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
}

.services__map .swiper-slide img {
    display: block;
    width: 69.948vw;
    height: 33.281vw;
}

.services__map .swiper-wrapper {
    width: 69.948vw !important;
    height: 33.281vw;
}

.services__map-pagination {
    position: relative;
    top: -30.542vw;
    width: 68.677vw;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    width: 3.229vw;
    height: 3.229vw;
}

.swiper-button svg {
    width: 3.229vw;
    height: 3.229vw;
}

.blob {
    z-index: 9999;
    cursor: pointer;
    position: absolute;
    width: 2.9vw;
    height: 3.281vw;
    background: #fff;
    border-radius: 5.208vw;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.blob:hover {
    width: 12.24vw;
}

.blob-1 {
    top: 19.875vw;
    left: 7.208vw;
}

.blob p {
    font-weight: 400;
    font-size: 0.938vw;
    line-height: 140.3%;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    transition: 0.4s;
    left: 0vw;
    width: auto;
    height: auto;
    opacity: 0;
    z-index: -1;
}

.blob:hover>p {
    opacity: 1;
    width: 0;
    left: 3.120vw;
}

.blob .icon {
    width: 2.708vw;
    height: 2.708vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blob svg {
    width: 2.396vw;
    height: 2.448vw;
    position: relative;
}


.blob-1,
.blob-2,
.blob-3,
.blob-4,
.blob-5,
.blob-6,
.blob-7,
.blob-8,
.blob-9,
.blob-10 {
    width: 2.708vw;
    height: 2.708vw;
}

.blob-1 svg,
.blob-2 svg,
.blob-3 svg,
.blob-4 svg,
.blob-5 svg,
.blob-6 svg,
.blob-7 svg,
.blob-8 svg,
.blob-9 svg,
.blob-10 svg {
    width: 1.979vw;
    height: 1.979vw;
}


.blob-2 {
    top: 29vw;
    left: 18.208vw;
}

.blob-3 {
    top: 25.875vw;
    left: 23.208vw;
}

.blob-3:hover {
    width: 13.544vw !important;
}


.blob-4 {
    top: 18.875vw;
    left: 54.208vw;
}

.blob-4:hover {
    width: 15.5vw !important;
}

.blob-4 p {
    transition: 0.5s;
}

.blob-5 {
    top: 26.875vw;
    left: 57.208vw;
}

.blob-5:hover {
    width: 11vw !important;
}

.blob-6 {
    top: 16.875vw;
    left: 6.208vw;
}

.blob-6:hover {
    width: 15.708vw;
}

.blob-7 {
    top: 4vw;
    left: 24.208vw;
}

.blob-7:hover {
    width: 15.708vw;
}

.blob-8 {
    top: 28vw;
    left: 25.208vw;
}

.blob-8:hover {
    width: 13.608vw;
}

.blob-9 {
    top: 15vw;
    left: 52.208vw;
}

.blob-9:hover {
    width: 13.608vw;
}

.blob-10 {
    top: 19.5vw;
    left: 56.208vw;
}

.blob-10:hover {
    width: 13.608vw;
}



.leave {
    &__header-title {
        width: 25.781vw;
    }

    &__header-title h2 {
        width: auto;
    }

    &__header-text {
        height: 14.792vw;
        width: 49.167vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        border-right: none;
        padding-top: 3.646vw;
        padding-bottom: 3.073vw;
        padding-left: 2.604vw;
    }

    &__header-text p {
        width: 34.792vw;
        font-weight: 500;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-bottom: 1.771vw;
    }



    &__list-item {
        display: flex;
    }

    &__item-col-2 h4 {
        font-weight: 500;
        font-size: 1.458vw;
        line-height: 114.5%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        width: 18.906vw;
    }

    &__item-col-2 p {
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        width: 18.333vw;
        margin-top: 1.667vw;
    }

    &__item-col-1 {
        width: 25vw;
        height: 17.5vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
    }

    &__item-col-2 {
        width: 25.781vw;
        height: 17.5vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2.604vw;
    }

    &__item-col-3 {
        width: 49.167vw;
        height: 17.5vw;
        border: 0.052vw solid #BFBFBF;
        border-left: none;
        border-top: none;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-img {
        background-size: cover;
        width: 44.063vw;
        height: 14.948vw;
        transition: 0.3s;
    }

    &__item-img:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__item-img img {
        width: 44.063vw;
        height: 14.948vw;
        visibility: hidden;
    }

    &__bottom {
        display: flex;
    }

    &__bottom-col-1 {
        width: 25vw;
        height: 11.667vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-right: none;
    }

    &__bottom-col-2 {
        width: 25.781vw;
        height: 11.667vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-right: none;
    }

    &__bottom-col-3 {
        width: 12.656vw;
        height: 11.667vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-right: none;
    }

    &__bottom-col-4 {
        width: 36.62vw;
        height: 11.667vw;
        border: 0.052vw solid #BFBFBF;
        border-top: none;
        border-right: none;
    }
}

.work {
    &__header-title {
        display: flex;
        align-items: center;
    }

    &__info-wrapper {
        display: flex;
    }

    &__info-col-1 {
        width: 25vw;
        height: 10.365vw;
        border: 0.052vw solid #bfbfbf;
        border-right: none;
        border-top: none;
    }

    &__info-col-2 {
        width: 75vw;
        height: 10.365vw;
        border: 0.052vw solid #bfbfbf;
        border-right: none;
        border-top: none;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    &__info-col-2 p {
        width: 54.167vw;
        font-weight: 500;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
    }

    &__list-wrapper {
        display: flex;
    }

    &__list-left {
        width: 25vw;
        height: 99.377vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
    }

    &__list-content {
        width: 74.1vw;
        display: flex;
    }

    &__list {
        display: grid;
        grid-template-columns: 19.792vw 19.792vw;
        width: 39.844vw;
        height: 45.521vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
        border-right: none;
    }


    &__list-item {
        width: 19.792vw;
        height: 22.76vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
        padding-left: 2.604vw;
        padding-right: 2.083vw;
        padding-top: 1.563vw;
    }

    &__item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-icon {
        width: 3.125vw;
        height: 3.125vw;
    }

    &__top-arrow {
        width: 2.063vw;
        cursor: pointer;
    }

    &__item-text {
        width: 12.917vw;
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-top: 9.583vw;
    }

    &__right {
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 35.156vw;
        height: 45.521vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__right-img {
        opacity: 0;
        transition: 0.3s;
        position: absolute;
    }

    &__right-img-1.active {
        transition: 0.3s;
        opacity: 1;
    }

    &__right-img-1 {
        background-image: url("../img/work-4.png");
        width: 30.938vw;
        height: 42.031vw;
        transition: 0.3s;
        background-size: cover;
        transition: 0.3s;
    }

    &__right-img-2 {
        background-image: url("../img/work-2.png");
        width: 30.938vw;
        height: 42.031vw;
        transition: 0.3s;
        background-size: cover;
        transition: 0.3s;
    }

    &__right-img-3 {
        background-image: url("../img/work-3.png");
        width: 30.938vw;
        height: 42.031vw;
        transition: 0.3s;
        background-size: cover;
        transition: 0.3s;
    }

    &__right-img-4 {
        background-image: url("../img/work.png");
        width: 30.938vw;
        height: 42.031vw;
        transition: 0.3s;
        background-size: cover;
        transition: 0.3s;
    }

    &__right-img:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__right-img-4:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__right img {
        width: 30.938vw;
        height: 42.031vw;
        visibility: hidden;
    }

    &__top-arrow>path {
        transition: 0.3s;
    }

    &__top-arrow.active>path {
        fill: #000;
    }


    &__right-img-1.active {
        opacity: 1;
        z-index: 999999;
    }

    &__right-img-2.active {
        opacity: 1;
        z-index: 999999;
    }

    &__right-img-3.active {
        opacity: 1;
        z-index: 999999;
    }

    &__right-img-4.active {
        opacity: 1;
        z-index: 999999;
    }

    &__center-wrapper {
        display: flex;
    }

    &__center-col-1 {
        width: 19.792vw;
        height: 7.031vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
    }

    &__center-col-2 {
        width: 19.792vw;
        height: 7.031vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
    }

    &__center-col-3 {
        width: 34.496vw;
        height: 7.031vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    &__adress {
        display: flex;
        width: 74.1vw;
    }

    &__adress .swiper-wrapper {
        width: 75vw;
    }

    &__adress .swiper-slide {
        background: #fff;
    }


    &__adress .swiper-slide {
        display: flex;
    }

    &__adress-left {
        width: 37.5vw;
        height: 33.594vw;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
        padding-top: 6.146vw;
        padding-left: 2.917vw;
    }

    &__adress-left h3 {
        font-weight: 500;
        font-size: 1.458vw;
        line-height: 77%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        margin-bottom: 1.615vw;
    }

    &__adress-left .desc {
        font-weight: 500;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-bottom: 1.198vw;
    }

    &__adress-left .text {
        width: 28.385vw;
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-bottom: 1.719vw;
    }

    &__adress-left .adr {
        font-weight: 400;
        font-size: 1.146vw;
        line-height: 140.3%;
        color: #000000;
        margin-bottom: 1.719vw;
        margin-bottom: 1.198vw;
    }

    &__adress-left img {
        margin-top: 1.563vw;
        width: 14.74vw;
        height: 4.688vw;
        margin-bottom: 6.51vw;
    }

    &__adress-left svg {
        width: 2.063vw;
        cursor: pointer;
    }

    &__adress-right {
        width: 37.5vw;
        height: 39.73vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.052vw solid #bfbfbf;
        border-top: none;
        border-left: none;
        border-right: none;
        
    }

    &__adress-right-img {
        width: 32.865vw;
        height: 35.208vw;
        transition: 0.3s;
    }

    &__adress-right-img-1 {
        background: url(../img/slider-img-1.png) no-repeat center top / cover;

    }

    &__adress-right-img-2 {
        background: url(../img/slider-img-2.png) no-repeat center top / cover;
    }

    &__adress-right-img-2 {
        background: url(../img/slider-img-3.png) no-repeat center top / cover;
    }

    &__adress-right-img-2 {
        background: url(../img/slider-img-4.png) no-repeat center top / cover;
    }

    &__adress-right-img-2 {
        background: url(../img/slider-img-5.png) no-repeat center top / cover;
    }

    &__adress-right-img:hover {
        background-blend-mode: multiply;
        background-color: rgba(182, 157, 121, 0.35);
    }

    &__slider-pagination {
        position: absolute;
        top: 34.042vw;
        left: 3.121vw;
        z-index: 99999;
    }

    &__slider-pagination svg {
        width: 2.063vw;
        cursor: pointer;
    }

    &__slider-pagination .swiper-button-disabled {
        display: none;
    }

    &__bottom-wrapper {
        display: flex;
    }

    &__bottom-col-1 {
        width: 45.198vw;
        height: 7.083vw;
        border: 0.052vw solid #bfbfbf;
        border-left: none;
        border-top: none;
    }

    &__bottom-col-2 {
        width: 19.948vw;
        height: 7.083vw;
        border: 0.052vw solid #bfbfbf;
        border-left: none;
        border-top: none;
    }

    &__bottom-col-3 {
        width: 8.698vw;
        height: 7.083vw;
        border: 0.052vw solid #bfbfbf;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}