body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.wrapper {
    max-width: 1126px;
    margin: 0 auto;
}

.sale {
    background: #fff;
    width: 100%;
    padding: 12px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.header {
    background: #000;
    height: 93px;
    width: 100%;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-align: center;
}

.header-right {
    width: 25px;
}

.burger-menu {
    position: fixed;
    top: -790px;
    width: 100%;
    background: #FFFFFF;
    transition: 0.3s;
    z-index: 999999999;
    padding-top: 49px;
}

.menu-close {
    margin-right: 30px;
}

.burger-menu.active {
    top: 0px;
}

.burger-menu_header {
    display: flex;
    justify-content: flex-end;
}

.burger-menu-inner {
    padding: 0px 30px;
    padding-bottom: 17px;
}

.burger-menu-inner .menu li {
    margin-bottom: 23px;
}

.burger-menu-inner .menu li a {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.burger-menu_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/bueger-menu.svg) no-repeat center top / cover;
    padding-top: 25px;
    padding-bottom: 17px;
}

.burger-menu_bottom-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #8E57E7;
    margin-bottom: 22px;
}

.burger-menu_bottom-desc {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 14px;
}

.burger-menu_bottom-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 19px;
    display: block;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 0px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 40px !important;
    width: 100% !important;
    left: -480px !important;
    position: relative !important;
}


.swiper-pagination .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 0 !important;
    z-index: 99999999;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #8E57E7 !important;
}


.category {
    padding-top: 34px;
    padding-bottom: 95px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-item {
    width: 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}


.category-img {
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #E4E4DF;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.category-img img {
    width: auto;
    height: 256px;
}

.category-item:hover>.category-img {
    border-bottom: 4px solid #00A3E1;
}

.category-item .category-title {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    display: block;
    color: #000000;
}

.category-item .category-desc {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 19px;
}

.category-item .category-cart {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-top: 11px;
}

.joy {
    padding-top: 36px;
    padding-bottom: 50px;
    background: #EFEFEF;
}

.joy-header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #E64A9B;
    margin-bottom: 14px;
}

.joy h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 47px;
}

.joy-article {
    display: flex;
    justify-content: space-evenly;
}

.joy-article .article-item {
    width: 330px;
    display: block;
}

.joy-article .article-item span {
    display: block;
}

.joy-article .article-item .article-img img {
    width: 100%;
    height: 100%;
}

.joy-article .article-item .article-info .article-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 27px;
}

.joy-article .article-item .article-info .article-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.more-article {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.more-article_btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    padding: 14px 34px;
}

.premium {
    background: url(../img/premium-back.jpg) no-repeat left top / cover;
    background: #8E57E7;
    width: 100%;
    padding-bottom: 47px;
}

.premium-back_wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.premium-back {
    background: url(../img/premium-back.jpg) no-repeat left top / cover;
    height: 781px;
    width: 720px;
    position: absolute;
    left: 0;
}

.premium-right {
    display: flex;
    justify-content: flex-end;
}

.pr-header_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 44px;
    margin-bottom: 7px;
}

.pr-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.premium-list {
    margin-top: 45px;
}

.premium-item {
    max-width: 360px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.premium-item p {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.premium-item:nth-child(1)>p::before {
    content: url('../img/pr-1.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(2)>p::before {
    content: url('../img/pr-2.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(3)>p::before {
    content: url('../img/pr-3.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(4)>p::before {
    content: url('../img/pr-4.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(5)>p::before {
    content: url('../img/pr-5.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(6)>p::before {
    content: url('../img/pr-6.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(7)>p::before {
    content: url('../img/pr-7.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item:nth-child(8)>p::before {
    content: url('../img/pr-8.svg');
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.premium-item::after {
    content: url('../img/ok.svg');
    height: 35px;
    width: 35px;
}

.reviews {
    background: #8E57E7;
    padding-top: 39px;
    padding-bottom: 50px;
    height: 346px;
}

.reviews-title {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.reviews-list {
    width: 100%;
    border-top: 2px solid #FFFFFF;
    padding-top: 30px;
}

.reviews-item {
    background: none !important;
    display: block !important;
    width: 350px !important;
    margin-right: 38px;
}

.reviews-date {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    color: #FFFFFF;
}

.reviews-title {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: left;
}

.reviews-text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: left;
    display: flex;
    align-items: center;
}

.reviews-text::before {
    content: url('../img/reviews.svg');
    height: 90px;
    width: 90px;
    margin-right: 10px;
}

.reviews-author {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 12px;
    text-align: left;
    margin-left: 98px;
}

.reviews-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-header .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: url('../img/next.svg') !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: url('../img/left.svg') !important;
}

.our-products {
    height: 897px;
}

.our-products .wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}


.back-1 {
    background: url(../img/back-1.jpg) no-repeat left top / cover;
    width: 600px;
    height: 556px;
}

.back-2 {
    background: url(../img/back-2.jpg) no-repeat left top / cover;
    width: 300px;
    height: 300px;
}

.back-3 {
    background: url(../img/back-3.jpg) no-repeat left top / cover;
    width: 300px;
    height: 300px;
}

.back-4 {
    background: url(../img/back-4.jpg) no-repeat left top / cover;
    width: 600px;
    height: 344px;
}

.back-5 {
    background: url(../img/back-5.jpg) no-repeat left top / cover;
    width: 600px;
    height: 600px;
    position: relative;
    bottom: 257px;
}

.back-1-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-left: 34px;
    margin-bottom: 4px;
}

.back-1-cart {
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 78px;
}

.back-2-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 97px;
    margin-top: 11px;
}

.back-2-cart {
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 219px;
}

.back-5-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #621396;
    margin-left: 38px;
    margin-bottom: 10px;
    margin-top: 24px;
}

.back-5-cart {
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    text-transform: uppercase;
    color: #621396;
    margin-left: 38px;
}


.index-calc_head {
    padding-top: 25px;
    padding-bottom: 30px;
}

.index-calc_head .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-calc_head .title-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #E64A9B;
    margin-bottom: 22px;
}

.index-calc_head h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #29282D;
    margin-bottom: 22px;
}

.index-calc_head .index-calc_head-desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 688px;
}


.calc .wrapper {
    max-width: 1200px;
    display: flex;
}

.calc-left {
    width: 663px;
    height: 579px;
    background: #EFEFEF;
    padding-left: 105px;
    padding-right: 109px;
    padding-top: 33px;
    padding-bottom: 132px;
}

.calc-left_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #29282D;
}

.calc-left_title span {
    font-size: 28px;
}

.calc-rigth {
    width: 542px;
    height: 579px;
    background: #8E57E7;
}

.calc-table {
    margin-top: 53px;
}

.calc-table table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
}

.calc-table table thead {
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #29282d;
}

.calc-table table tr {
    border: none;
    color: #2d2d2d;

    border-bottom: 2px solid #621396;
}

.calc-table table tr th {
    border-right: 2px solid #621396;
    text-align: left;
    padding: 18px 20px 18px 40px;
}

.calc-table table td:first-child {
    width: 35%;

}

.calc-table table td {
    border-right: 2px solid #621396;
    text-align: left;
    padding: 17px 20px 17px 40px;
}

.calc-table table tbody tr td:last-child,
.calc-table table tbody tr th:last-child,
.calc-table table thead tr td:last-child,
.calc-table table thead tr th:last-child {
    border: none;
}

.calc-table table tbody tr:last-child {
    border-bottom: 0;
}

.table-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D2D2D;
    margin-top: 13px;
}

.table-bottom span {
    font-weight: 700;
}

.calc-rigth {
    padding-left: 42px;
    padding-right: 49px;
    padding-top: 42px;
    padding-bottom: 57px;
}

.calc-rigth .calc-rigth_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.calc-rigth .calc-rigth_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.calculator {
    margin-top: 44px;
}

.calculator div {
    display: flex;
    justify-content: space-between;
}

.calculator input {
    width: 215px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D2D2D;
    padding-left: 12px;
}

.calculator select {
    width: 450px;
    height: 50px;
    background: #FFFFFF;
    padding-left: 12px;
}

.calculator select::value {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D2D2D;
}

.calc-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 46px;
    background: #000000;
    margin-top: 21px;
}


.start {
    padding-top: 44px;
    padding-bottom: 36px;
}

.start .wrapper {
    max-width: 1200px;
}

.start-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-title {
    font-weight: 700;
    font-size: 37px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #29282D;
    margin-bottom: 19px;
}

.start-desc {
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #808080;
    max-width: 661px;
}

.start-list {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.start-item {}

.start-item .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.75px;
    color: #000000;
}

.start-item .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-top: 23px;
    color: #303030;
}

.start-item .back {
    width: 300px;
    height: 371px;
    margin-top: 19px;
}

.start-item:nth-child(3)>.desc {
    margin-top: 0;
}

.start-item .start-back-1 {
    background: url(../img/step-1.jpg) no-repeat;
    background-size: cover;
}

.start-item .start-back-2 {
    background: url(../img/step-2.jpg) no-repeat;
    background-size: cover;
}

.start-item .start-back-3 {
    background: url(../img/step-3.jpg) no-repeat;
    background-size: cover;
    position: relative;
    top: -18px;
}

.start-item .start-back-4 {
    background: url(../img/step-4.jpg) no-repeat;
    background-size: cover;
}

.present {
    background: url(../img/present-back.jpg) no-repeat center top / cover;
    width: 100%;
    height: 343px;
    padding-top: 29px;
    padding-bottom: 25px;
}

.present .wrapper {
    border: 4px solid #FFFFFF;
    border-radius: 24px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 29px;
    position: relative;
}

.present h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    text-align: center;
}

.present .present-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 17px;
    background: #000000;
    border: 1px solid #000000;
    margin-top: 29px;
}

.present-rigth {
    background: url(../img/present-rigth.png) no-repeat right top;
    height: 342px;
    width: 310px;
    position: absolute;
    top: -33px;
    right: -21px;
}

.marketplaces {
    padding-top: 43px;
    padding-bottom: 43px;
}

.marketplaces .wrapper {
    display: flex;
    justify-content: space-between;
}


.follow {
    background: #8E57E7;
    width: 100%;
    padding-top: 41px;
    padding-bottom: 69px;
}

.follow .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow p {
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 21px;
}


.inst .wrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.inst img {
    width: 240px;
    height: 240px;
}


.footer {
    background: #8E57E7;
    padding-top: 49px;
    padding-bottom: 14px;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.footer-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    padding: 12px 30px;
    display: block;
}

.footer-col h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-col ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-social img {
    margin-right: 10px;
}

.copyright {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 116px;
}


/* Stores */

.stores-intro {
    background: url(../img/stores-intro.jpg) no-repeat center top / cover;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 90px
}

.stores-intro h1 {
    font-weight: 800;
    font-size: 43px;
    line-height: 60px;
    color: #FFFFFF;

}

.stores-content .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: 42px;
    margin-bottom: 80px;
}

.stores-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stores-img img {
    margin-bottom: 117px;
}

.stores-bottom {
    background: url(../img/stores-bottom.jpg) no-repeat center top / cover;
    padding-top: 45px;
    padding-bottom: 36px;
}

.stores-bottom .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stores-bottom h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.stores-bottom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 17px;
}

.stores-bottom a {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    padding: 13px 20px;
    margin-top: 44px;
}

/* Catrgory */

.shop-intro {
    background: #8E57E7;
    width: 100%;
    padding-top: 61px;
    padding-bottom: 70px;
}

.shop-intro .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-intro h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}

.shop-intro p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 761px;
    margin-top: 15px;
}

/* Shop */

.shop .category-item .category-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.shop .category-item .category-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.shop .category-item .category-cart {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 26px;
}

.shop .product-reviews {
    display: flex;
    position: relative;
    right: 89px;
    width: 77px;
    margin-bottom: 16px;
}

.shop .product-reviews img {
    margin-right: 3px;
}


/* Present */

.present-intro {
    background: url(../img/present-intro.jpg) no-repeat center top / cover;
    padding-top: 86px;
    padding-bottom: 111px;
}

.present-intro h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-align: center;
}

.present-intro p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 19px;
    text-align: center;
}

.what {
    padding-top: 34px;
    padding-bottom: 62px;
}

.what h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #392F2C;
    margin-bottom: 42px;
}

.what-flex {
    display: flex;
    justify-content: space-between;
}

.what-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 378px;
}

.what-item h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #392F2C;
    margin-top: 21px;
    margin-bottom: 18px;
}

.what-item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #392F2C;
    margin-bottom: 27px;
}

.important {
    background: #EFEFEF;
    padding-top: 46px;
    padding-bottom: 71px;
}

.important h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #E64A9B;
    margin-bottom: 41px;
}

.important p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9;
    color: #000000;
    margin-bottom: 30px;
}

.reviews-form .wrapper {
    max-width: 1200px;
    display: flex;
}

.reviews-form .left {
    background: url(../img/reviews-left.jpg) no-repeat left top;
    height: 800px;
    width: 600px;
    padding-top: 100px;
    padding-bottom: 56px;
}

.reviews-form .left .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-form .left .form input {
    width: 466px;
    height: 45px;
    border: none;
    border-bottom: 3px solid #fff;
    background: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 66px;
}

.reviews-form .left .form input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-form .left .form input::-moz-placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-form .left .form input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-form .left .form input::-ms-input-placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-form .left .form input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-form .right {
    background: url(../img/reviews-right.jpg) no-repeat right top;
    height: 800px;
    width: 600px;
}

.file-flex {
    display: flex;
    position: relative;
    right: 66px;
}

.file-flex p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 32px;
}

.reviews-form .left .form .file {
    display: none;
}

.reviews-form .left .form label {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.reviews-form .left .form .check {
    display: flex;
    margin-top: 90px;
}

.reviews-form .left .form .check input {
    width: 16px;
    height: 16px;
    border: 1px solid #FFFFFF !important;
    border-radius: 4px !important;
    background: none !important;
    border-bottom: 0;
    position: relative;
    top: 5px;
    left: -7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#checkbox:checked {
    background: rgba(40, 40, 40, 0.7) !important;
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
}

.reviews-form .left .form .check label {
    border-bottom: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews-send {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding: 9px 37px;
    background: #FFFFFF;
}

.right {
    padding-top: 24px;
}

.reviews-options {
    padding-top: 52px;
    padding-bottom: 99px;
}

.reviews-options .wrapper {
    max-width: 1161px;
    display: flex;
    justify-content: space-between;
}

.options-item p {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #392F2C;
    margin-bottom: 65px;
}

.options-item .margin {
    margin-right: 10px;
}

.options-bottom {
    display: flex;
}

.options-item .desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    max-width: 293px;
    margin-top: 34px;
}

.options-item .desc::before {
    content: url(../img/circle.svg);
    height: 9px;
    width: 9px;
    margin-right: 9px;
    position: relative;
    top: -2px;
}

/* Blog */

.blog-intro {
    background: url(../img/blog-back.jpg) no-repeat center top / cover;
    height: 343px;
    width: 100%;
}

.blog-intro .wrapper {
    max-width: 1200px;
}

.blog-intro .top-post {
    width: 605px;
    background: #E64A9B;
    position: relative;
    top: 230px;
    padding-top: 25px;
    padding-bottom: 19px;
    padding-right: 20px;
    padding-left: 57px;
}

.blog-intro .top-post .cat {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.blog-intro .top-post h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.blog-intro .top-post .date {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.blog-intro .top-post .read {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100px;
    padding-bottom: 7px;
    display: block;
    border-bottom: 3px solid #00A3E1;
    position: relative;
    left: 423px;
}


.cat-center {
    display: flex;
    justify-content: center;
    margin-top: 161px;
    margin-bottom: 60px;
}

.blog .cat {
    display: flex;
}

.blog .cat li {
    margin-right: 50px;
}

.blog .cat li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

}

.blog .joy-article {
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog .joy-article .article-item {
    margin-bottom: 28px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog .joy-article .article-item .article-info .article-title {
    margin-top: 0;
}

.blog .joy-article .article-item .article-info .date {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 6px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.blog .joy-article .article-item .article-info .article-desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    height: 111px;
    max-width: 316px;
}

.blog .joy-article .article-item .article-info .post-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-top: 12px;
    border-bottom: 3px solid #00A3E1;
    padding-bottom: 9px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.blog .more-article {
    margin-top: 89px;
}


/* Product */

.breadcrumbs {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 13px;
}

.breadcrumbs a {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    margin-right: 9px;
    margin-left: 9px;
}

.breadcrumbs a:nth-child(1) {
    margin-left: 0;
}

.breadcrumbs .current-item {
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    color: #621396;
}

.single-product {
    padding-bottom: 48px;
}

.product-flex {
    display: flex;
    justify-content: space-between;
}

.product-flex .left {
    max-width: 503px;
}

.gallery {
    margin-left: 20px;
    width: 424px;
    height: auto !important;
}

.gallery-item img {
    height: 464px;
    width: 464px;
}

.gallery .swiper-slide {
    display: block;
}

.single-product .swiper-button-prev {
    content: url(../img/prev.svg);
    height: 22px;
    width: 22px;
    top: -325px;
}

.single-product .swiper-button-next {
    content: url(../img/next-pr.svg);
    height: 22px;
    width: 22px;
    top: -325px;
    left: 476px;
}

.single-product .swiper-pagination {
    margin-bottom: 100px;
    left: 22px !important;
    bottom: -37px !important;
}

.single-product .swiper-pagination .swiper-pagination-bullet {
    width: 25px;
    height: 5px;
    background: #DED9D6;
    border-radius: 0px;
}

.single-product .swiper-pagination-bullet-active {
    background: #00A3E1 !important;
}


.product-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-review .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-bottom: 27px;
}

.product-review .review-text {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 11px;
    text-align: center;
    color: #000000;
}



.product-flex .right {
    width: 440px;
}

.product-flex .right h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: #000000;
    margin-top: 31px;
}

.product-flex .right .price {
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    margin-top: 23px;
    text-align: right;
}



.product-info {
    margin-top: 44px;
}

.atribute__dropdown {
    width: 100%;
}

.atribute__dropdown_block {
    width: 100%;
    margin-bottom: 30px;
}

.atribute__dropdown_block_header {
    display: flex;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
    padding-top: 12px;
    border-top: 2px solid #000;
}

.atribute__dropdown_block_header::after {
    content: url(../img/atr-arrow.svg);
    transform: rotate(180deg);
    transition: .3s;
}

.atribute__dropdown_block_header-active::after {
    transform: rotate(360deg);
    transition: .3s;
}

.atribute__dropdown_block_header_thumb {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    background: white;
    color: #000000;
}

.atribute__dropdown_block_header_text {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.atribute__dropdown_block_header_arrow {
    margin-left: auto;
    transition: .3s;
    content: url(../img/atr-arrow.svg);
    width: 12px;
    height: 10px;
}

.atribute__dropdown_block_main {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}


.atribute__dropdown_block_header-active .often-q__dropdown_block_header_arrow {
    transform: rotateX(180deg);
}

.atribute__dropdown_block_main-active {
    max-height: 900px;
    padding-top: 5px;
    padding-bottom: 14px;
}

.atribute__dropdown_block_main_text p span {
    font-weight: 700;
}

.atribute__dropdown_block_main_text .value {
    display: flex;
    justify-content: space-evenly;
}

.atribute__dropdown_block_main_text .value div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}

.atribute__dropdown_block_main_text .value div p {
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #000000;
}

.atribute__dropdown_block_main_text .value div .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 20px;
    color: #000000;
}



.product-services {
    width: 100%;
    padding: 57px 0px;
    background: #8E57E7;
}


.product-services .wrapper {
    display: flex;
    justify-content: space-evenly;
}

.product-services .wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-services .wrapper div p {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 17px;
}


.reviews-section {
    width: 100%;
    background: #EFEFEF;
    padding-top: 84px;
    padding-bottom: 76px;
}



.related-product {
    padding-top: 48px;
    padding-bottom: 68px;
}

.related-product h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.58346px;
    text-transform: uppercase;
    color: #000000;
}


/* Contact */

.contact-intro {
    width: 100%;
    background: url(../img/contact-bg.jpg) no-repeat center top / cover;
    height: 343px;
    padding-top: 87px;
    padding-bottom: 120px;
}

.contact-intro h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.contact-intro p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.contacts {
    padding-top: 65px;
    padding-bottom: 92px;
}

.contacts .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
}

.contacts .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts .contact-item:nth-child(3) {
    margin-top: 50px;
}

.contacts .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #392F2C;
    margin-bottom: 26px;
    margin-top: 17px;
}

.contacts .desc {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}


.contact-form {
    padding-top: 94px;
    padding-bottom: 64px;
    background: #EFEFEF;
}

.form {
    display: flex;
    flex-direction: column;
}

.contact-form .form input {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #6B6D76;
    background: none;
    border: none;
    border-bottom: 3px solid #6A6C77;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 63px;
}

.form textarea {
    border: 3px solid #6A6C77;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 20px;
    line-height: 30px;
    color: #6B6D76;
    background: none;
    margin-bottom: 52px;
}

.form label {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #6A6C77;
}

.send-btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 10px 34px;
}


/* FAQ */

.faq-intro {
    width: 100%;
    background: #8E57E7;
    padding-top: 79px;
    padding-bottom: 113px;
}

.faq-intro h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.faq-intro .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.faq-intro .search input {
    width: 610px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding-left: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    color: #6B6D76;
}

.search-btn {
    position: absolute;
    background: none;
    border: none;
    left: 264px;
    top: 6px;
}

.faq-cat {
    padding-top: 42px;
    padding-bottom: 49px;
}

.faq-cat .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-item {
    border: 1px solid #8E57E7;
    border-radius: 4px;
    padding: 21px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 340px;
    height: 178px;
}

.faq-item p {
    margin-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #621396;
}

.faq-dd {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 56px;
    padding-top: 46px;
}

.faq-dd h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 24px;
}



.faq__dropdown {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faq__dropdown_block {
    width: 340px;
    margin-bottom: 30px;
    position: relative;
}

.faq__dropdown_block_header {
    display: flex;
    align-items: center;
    transition: .3s;
    border-top: 1px solid #DDDDDD;
    padding-top: 9px;
    cursor: pointer;
}

.faq__dropdown_block_header::after {
    content: url(../img/faq-arr.svg);
    position: absolute;
    right: 0;
    top: 16px;
    transform: rotate(180deg);
    transition: .3s;
}

.faq__dropdown_block_header-active::after {
    transform: rotate(360deg);
    transition: .3s;
}


.faq__dropdown_block_header_thumb {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    background: white;
    color: #000000;
}

.faq__dropdown_block_header_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.faq__dropdown_block_header_arrow {
    margin-left: auto;
    transition: .3s;
}

.faq__dropdown_block_main {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}


.faq__dropdown_block_header-active .often-q__dropdown_block_header_arrow {
    transform: rotateX(180deg);
}

.faq__dropdown_block_main-active {
    max-height: 900px;
    padding-top: 9px;
    padding-bottom: 16px;
}


/* Contract */

.contract-intro {
    width: 100%;
    background: url(../img/contract-intro.jpg) no-repeat center top / cover;
    padding-top: 100px;
    padding-bottom: 87px;
}

.contract-intro .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contract-intro h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contract-intro p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.contract-section {
    padding-top: 59px;
}

.contract-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}

.contract-options {
    display: flex;
    justify-content: space-around;
}

.contract-options li {
    padding-bottom: 3px;

}

.contract-options li svg {
    margin-top: 5px;
}

.contract-options li a.act>svg .svg-active {
    fill: #00A3E1 !important;
}



.contract-options li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contract-head {
    padding-top: 40px;
    padding-bottom: 65px;
}

.contract-head h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 14px;
}

.contract-content {
    display: flex;
    justify-content: space-between;
}

.contract-content .left {
    max-width: 515px;
}

.contract-content h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    color: #621396;
    margin-left: 23px;
    margin-top: 18px;
}

.contract-content h3::before {
    content: url(../img/circle-contract.svg);
    position: relative;
    bottom: 4px;
    left: -9px;
}


.guide {
    width: 100%;
    background: #8E57E6;
    border-radius: 0px;
    padding-top: 93px;
    padding-bottom: 91px;
    position: relative;
}

.guide img {
    position: absolute;
    height: 470px;
    top: -89px;

}

.guide h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.guide p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 14px;
}

.guide-flex {
    display: flex;
    justify-content: flex-end;
}

.guide-right {
    max-width: 524px;
}

.guide-right a {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 10px 24px;
    display: inline-flex;
    margin-top: 35px;
}

.contract-footer {
    width: 100%;
    background: url(../img/contract-footer.jpg) no-repeat center top / cover;
    padding-top: 77px;
    padding-bottom: 72px;
}

.contract-footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contract-footer h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.contract-footer a {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    padding: 10px 20px;
    margin-top: 55px;
    display: inline-block;
}

#tabsWrap .tab {
    display: none;
    padding: 2em;
}

#tabsWrap .tab.act {
    display: block;
}

/* wholesale */

.wholesale-intro {
    background: url(../img/wholesale-intro.jpg) no-repeat center top / cover;
    width: 100%;
    padding-top: 74px;
    padding-bottom: 228px;
}

.wholesale-intro h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
}

.wholesale {
    padding-top: 0;
    padding-bottom: 84px;
}

.wholesale p {
    margin-top: 30px;
}

span {
    font-weight: bold;
}

.wholesale .contract-head {
    padding-bottom: 0;
    padding-top: 0;
}

.wholesale .contract-content .left {
    margin-top: 50px;
}

.wholesale .contract-content .left ul {
    margin-top: 33px;
}

.wholesale .contract-content .left ul li {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    list-style: disc !important;
}

.wholesale .contract-content .left ul li::before {
    list-style: disc !important;
}

.wholesale .contract-content .bottom {
    margin-top: 30px;
}

.wholesale-footer {
    background: url(../img/wholesale-footer.jpg) no-repeat center top / cover;
    width: 100%;
    padding-top: 82px;
    padding-bottom: 169px;
}

.wholesale-footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wholesale-footer h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.wholesale-footer a {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    padding: 8px 19px;
    margin-top: 47px;
}




@media screen and (max-width: 1199px) {
    .premium-back {
        width: 659px;
    }

    .category-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .joy-article {
        flex-wrap: wrap;
    }

    .our-products {
        height: auto;
    }

    .back-5 {
        position: initial;
    }

    .back-3 {
        order: 3;
    }

    .start-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .marketplaces .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .inst .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-products .wrapper {
        justify-content: center;
    }

    .products-back {
        width: 450px !important;
        height: 450px !important;
    }
}


@media screen and (max-width: 1140px) {
    .wrapper {
        padding: 0px 36px;
    }

    .calc .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .premium-back {
        width: 570px;
    }

    .present-rigth {
        display: none;
    }
}

@media screen and (max-width: 1027px) {
    .wrapper {
        padding: 0px 36px;
    }

    .premium-back {
        left: -50px;
    }
}

@media screen and (max-width: 980px) {
    h1 {
        font-size: 27px !important;
        line-height: 1.3 !important;
    }

    h2 {
        font-size: 24px !important;
        line-height: 1.3 !important;
    }

    .burger-menu-inner .menu li a {
        font-size: 18px;
        line-height: 25px;
    }

    .category-item .category-title {
        font-size: 20px;
    }

    .joy-article .article-item {
        margin-bottom: 35px;
    }

    .premium-back {
        left: -125px;
    }

    .products-back {
        width: 300px !important;
        height: 300px !important;
    }

    .back-1-title,
    .back-5-title,
    .back-2-title {
        font-size: 23px;
        line-height: 1.3;
    }

    .back-1-cart {
        font-size: 20px;
    }

    .back-2-cart {
        margin-left: 163px;
    }

    .start-item .name {
        margin-top: 30px;
    }

    .marketplaces .wrapper img {
        margin-bottom: 30px;
    }

    .reviews {
        height: auto;
    }

    .footer-col {
        margin-bottom: 30px;
    }

    .contacts .title {
        font-size: 21px;
        line-height: 29px;
    }

    .contacts .desc {
        font-size: 21px;
        line-height: 29px;
    }

    .contact-item svg {
        height: 80px;
    }

    .contact-form .form input {
        margin-bottom: 0;
    }
    .send-btn {
        margin-top: 20px;
        display: block;
    }
    .form textarea {
        margin-top: 20px;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 24px !important;
        line-height: 1.3 !important;
    }

    h2 {
        font-size: 20px !important;
        line-height: 1.3 !important;
    }

    .marketplaces .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .burger-menu_bottom-title {
        font-size: 30px;
        line-height: 5px;
    }

    .inst img {
        width: 100px;
        height: 100px;
    }

    .premium-back {
        display: none;
    }

    .premium-right {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    .calc-left {
        width: auto;
    }

    .calc .wrapper {
        padding: 0 !important;
    }

    .calc-rigth {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: auto;
    }

    .calculator div {
        justify-content: space-evenly;
    }

    .calculator input {
        width: 160px;
    }

    .calculator select {
        width: 330px;
    }

    .calc-left {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* blog */

    .blog-intro .top-post {
        width: auto;
    }

    .blog-intro .top-post .read {
        left: 75%;
    }

    .blog .cat {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cat-center {
        margin-top: 128px;
        margin-bottom: 8px;
    }

    .blog .cat li {
        margin-right: 13px;
        margin-bottom: 7px;
    }

    .blog .joy-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog .cat li a {
        font-size: 12px;
    }


    .blog .joy-article .article-item {
        height: auto;
        max-width: 330px;
        width: auto;
    }

    .blog .joy-article .article-item .article-info .article-desc {
        height: auto;
    }

    .joy-article .article-item span {
        margin-top: 20px;
    }

    .blog .more-article {
        margin-top: 40px;
    }

    .blog .joy-article .article-item .article-info .post-link {
        font-size: 16px;
    }

    .joy-article .article-item .article-info .article-title {
        font-size: 18px;
    }

    .blog .joy-article .article-item .article-info .article-desc {
        font-size: 12px;
    }

    .contacts .contact-item {
        margin-bottom: 20px;
    }
    .contacts .contact-item:nth-child(3) {
        margin-top: 0;
    }

    .shop-intro {
        padding-top: 28px;
        padding-bottom: 38px;
    }

    .footer-col h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 490px) {
    .blog-intro .top-post {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 17px;
    }

    .blog-intro .top-post .read {
        left: 57%;
    }
}

@media screen and (max-width: 360px) {}