@charset "UTF-8";
/* <!-- Made by Djigit_ telegram: @Djigit34 --> */
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_greek-regular.woff2") format("woff2"); }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_greek-500.woff2") format("woff2"); }

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/open-sans-v27-latin_greek-800.woff2") format("woff2"); }

@font-face {
  font-family: 'Carneys';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/carneys.woff2") format("woff2"); }

@font-face {
  font-family: 'Carneys script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/carneys-script.woff2") format("woff2"); }

:root {
  --background: #F0F0F0;
  --sandwhite: #FFE1D1;
  --orange: #FFCDB2;
  --lether: #FFB4A2;
  --brick: #E5989B;
  --maroon: #B5838D;
  --on-background: rgba(0, 0, 0, 1);
  --on-background-hover: #000000;
  --surface: rgba(0, 0, 0, 0.9); }

html {
  scroll-behavior: smooth; }

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  height: 3px;
  /* высота для горизонтального скролла */
  background-color: #FFFFFF; }

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--on-background); }

::-webkit-scrollbar-thumb:hover {
  background-color: #2c2b2e; }

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none; }

.scroll-block {
  overflow: hidden; }

body {
  background: var(--background);
  font-family: "Montserrat"; }

main {
  overflow: hidden; }

.underline-center {
  padding-bottom: 30px;
  position: relative; }
  .underline-center::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 107px;
    height: 2px;
    background: var(--on-background); }

a {
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 400; }

.button {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  padding: 14px;
  min-width: 175px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  width: -moz-fit-content;
  margin-top: auto;
  transition: .3s background;
  font-family: "Montserrat";
  font-weight: 500; }
  .button:hover {
    background: white; }

h1, .h1 {
  font-size: 135px;
  line-height: 180px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--on-background);
  letter-spacing: 0.195em; }

h2, .h2 {
  font-size: 130px;
  line-height: 167px;
  font-family: 'Carneys';
  font-weight: 400;
  color: var(--on-background); }

.subtitle {
  font-size: 36px;
  line-height: 70px;
  font-family: 'Carneys script';
  font-weight: 400;
  color: #000000; }

.all {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); }

.about-title {
  font-size: 49px;
  line-height: 60px;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.195em;
  color: #FFFFFF; }

.header__socials {
  display: none; }

.header__burger {
  display: block; }

.header__close-burger {
  display: block;
  margin-left: auto; }

.header__navigation {
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 100%;
  background: var(--background);
  width: 100vw;
  height: 100vh;
  transition: .3s ease-in-out;
  overflow-y: auto;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column; }

.header__navigation.opened {
  bottom: 0; }

.header__navigation ul {
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  padding: 50px 15px;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0; }

.header__navigation li {
  display: grid;
  margin-bottom: 29px; }
  .header__navigation li.header_nav-title {
    margin-bottom: 20px; }

.header__navigation-item-container {
  color: var(--on-background); }
  .header__navigation-item-container:hover a {
    color: var(--on-background-hover); }
  .header__navigation-item-container:hover button svg path {
    stroke: var(--on-background-hover); }

.has-child li {
  margin-bottom: 15px; }

.has-child li a {
  font-size: 28px;
  line-height: 1.2; }

.header_nav-title {
  width: fit-content;
  display: block;
  margin: 0 auto; }

.header__navigation a, .header_nav-title p {
  font-size: 34px;
  line-height: 41px;
  color: var(--on-background);
  padding: 5px;
  text-align: center; }

.header_nav-title p {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 12px;
  border-bottom: 5px solid var(--on-background); }

.has-child.opened {
  margin-bottom: 0; }
  .has-child.opened > .header__navigation-item-container a {
    color: var(--on-background-hover); }
  .has-child.opened > .header__navigation-item-container button {
    transform: rotate(180deg) translateY(4px);
    stroke: var(--on-background-hover); }

.header__navigation-item-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__navigation .has-child > ul {
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  pointer-events: none;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: static;
  /* transition: .3s max-height ease-in; */
  left: unset;
  top: unset; }

.header__navigation .has-child.opened > ul {
  max-height: 999px;
  pointer-events: all;
  position: relative; }

.header__socials {
  display: none; }

.header__search {
  padding-right: 12px; }

.header__right {
  display: flex; }

.header__burger {
  display: block;
  padding-left: 20px;
  position: relative;
  border-left: 1px solid var(--maroon); }

.header-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000; }

.header__logo {
  margin: 0 auto; }

.header__left {
  display: flex; }
  .header__left li:first-child a {
    padding-left: 0; }
  .header__left a {
    display: block;
    padding: 5px; }

a img {
  display: block; }

.wrapper {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto; }

#header {
  position: relative;
  z-index: 5;
  padding: 0 15px; }

#header .wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0; }

.has-child {
  position: relative;
  display: flex;
  align-items: center; }

.has-child > ul {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

@media screen and (min-width: 1280px) {
  .has-child:hover > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all; } }

.header__navigation_list-opener {
  padding: 15px;
  margin-top: 10px; }

.articles {
  padding-bottom: 50px; }

.hero {
  padding-bottom: 192px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  .hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: calc(100vh - 270px);
    position: relative;
    text-align: center;
    word-break: break-all; }
    .hero .wrapper::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      max-width: 1325px;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background: url("../img/hero.png") no-repeat;
      background-size: cover; }
  .hero h1, .hero h2 {
    position: relative;
    z-index: 2;
    padding: 0 25px; }

.hero__scroll-down {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 137px;
  transform-origin: left;
  padding: 0;
  color: var(--on-background); }
  .hero__scroll-down::after {
    content: "";
    background: url(../img/arrow-down.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    height: 75px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 13px);
    animation: upNdown 2s ease-in-out;
    animation-iteration-count: infinite; }

@keyframes upNdown {
  0% {
    transform: translateX(-50%) translateY(-5px); }
  50% {
    transform: translateX(-50%) translateY(5px); }
  100% {
    transform: translateX(-50%) translateY(-5px); } }

.articles {
  padding-top: 24px;
  position: relative;
  background: url("../img/articles-left.webp") left bottom no-repeat, url(../img/articles-right.webp) right -80px no-repeat; }

.articles__all {
  padding: 18px;
  min-width: 202px; }

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px; }

.card {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.26);
  padding: 35px 36px 40px 36px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: .3s background; }
  .card:hover {
    background: black; }

.card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 383/207;
  object-fit: cover;
  margin-bottom: 26px;
  display: block; }

.card__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.38em;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-bottom: 35px; }
  .card__header a {
    padding: 0;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.38em;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400; }

.card__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.225em;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 500; }

.card__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px; }

.card__link {
  margin-top: auto; }

footer {
  text-align: center;
  padding: 17px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  background: var(--on-background); }

.search__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; }

.search-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(109, 104, 117, 0.58);
  backdrop-filter: blur(30px);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .3s opacity;
  overflow: scroll; }
  .search-popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }
  .search-popup.searchbar-full .search-popup__wrapper {
    padding-top: 25.18vh;
    padding-bottom: 100px;
    justify-content: flex-start; }
  .search-popup.searchbar-full .search__results {
    display: grid; }
  .search-popup.searchbar-full .search__input-subtitle {
    display: block; }

.search-popup__wrapper {
  position: relative;
  min-height: 99vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  height: -moz-fit-content; }

.search-close__wrapper {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
  padding: 0;
  display: flex;
  justify-content: flex-end; }

.search-close {
  position: relative;
  margin-left: 0; }

.search_header {
  width: 100%; }

.search__input {
  display: block;
  max-width: 700px;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.15em;
  background: 0;
  border: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #FFFFFF;
  padding: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px; }
  .search__input::placeholder {
    opacity: .6; }

.search__input-subtitle {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 37px;
  display: none; }

.search-card {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.search-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 291/207;
  object-fit: cover;
  margin-bottom: 26px;
  display: block; }

.search-card__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.225em;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 500; }

.search-card__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px; }

.search-card__link {
  margin-top: auto; }

.search__results {
  max-width: 1064px;
  display: none; }

.hero-title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 80px;
  line-height: 117px;
  font-family: 'Carneys';
  position: relative; }
  .hero-title::after, .hero-title::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 3px solid var(--on-background);
    width: 50vw;
    height: 1px; }
  .hero-title::after {
    right: calc(100% + 60px); }
  .hero-title::before {
    left: calc(100% + 60px); }

.page-subtitle {
  font-size: 18px;
  line-height: 22px;
  padding: 0 10px;
  padding-top: 45px;
  padding-bottom: 73px;
  max-width: 920px;
  color: var(--on-background);
  display: block;
  margin: 0 auto;
  text-align: center; }

hr {
  margin: 0;
  border-top: 3px solid var(--on-background); }

.about-hero {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 94px);
  height: fit-content;
  height: -moz-fit-content; }
  .about-hero .wrapper {
    position: relative; }
  .about-hero .hero-title {
    margin-bottom: 33px; }

.about-hero_main {
  max-width: 1000px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.195em;
  margin: 0 auto;
  background: url(../img/about.jpg);
  min-height: 600px;
  padding-top: 42px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: black;
  margin-bottom: 55px; }
  .about-hero_main h2 {
    display: block; }
  .about-hero_main p {
    max-width: 832px;
    padding: 0 8px;
    margin: 0 auto;
    display: block;
    width: 100%; }

.about-hero_main__container {
  height: 100%;
  padding: 20px;
  padding-bottom: 178px;
  padding-top: 134px;
  display: flex;
  align-items: center;
  justify-content: center; }

.labeled-title {
  background: rgba(0, 0, 0, 0.9);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 49px;
  line-height: 60px;
  letter-spacing: 0.195em;
  color: #FFFFFF;
  padding: 12px; }

.about-main {
  padding-top: 100px;
  padding-bottom: 150px;
  background: url("../img/articles-left.webp") left bottom no-repeat, url(../img/articles-right.webp) right top no-repeat; }
  .about-main .wrapper {
    max-width: 1030px; }
  .about-main .labeled-title {
    font-size: 49px;
    line-height: 60px;
    letter-spacing: 0.195em;
    padding: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 55px; }

.about-main_subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.195em;
  color: var(--on-background);
  text-align: center;
  margin-bottom: 56px; }

.about-inputgroup {
  margin: 0 auto;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-inputgroup a {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.135em;
    color: #000000;
    margin-bottom: 5px; }

.article-wrapper {
  background: url("../img/articles-left.webp") left bottom no-repeat, url(../img/articles-right.webp) right top no-repeat; }

.article {
  margin-top: 94px; }
  .article a:hover {
    text-decoration: underline; }
  .article .wrapper {
    background: var(--surface);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.26);
    padding: 32px 125px 55px 126px;
    color: white; }
  .article h1 {
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    text-align: right;
    margin-bottom: 41px;
    text-align: center;
    font-family: 'Montserrat';
    color: white; }
  .article p, .article li, .article a {
    font-size: 18px;
    line-height: 150.9%;
    color: white; }
  .article p, .article ul {
    margin-bottom: 40px; }
  .article li {
    margin-bottom: 20px; }
  .article strong {
    font-weight: 700; }
  .article img {
    display: block;
    max-width: 620px;
    object-fit: cover;
    margin: 50px auto;
    width: 100%; }

.article_header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 12px; }
  .article_header time, .article_header p {
    font-size: 13px;
    line-height: 16px; }

.article .article__hero-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  max-width: unset; }

.aricle-splitter {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.article h2 {
  font-size: 32px;
  line-height: 150.9%;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-right: 15px;
  color: white;
  font-family: 'Montserrat'; }

.article-splitter_line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

.article_footer {
  margin-top: 40px;
  border-top: 1px solid white;
  padding-top: 50px; }

.article_footer_section {
  margin: 0 auto;
  max-width: 334px;
  text-align: center;
  margin-bottom: 30px; }
  .article_footer_section h3 {
    margin-bottom: 30px; }
  .article_footer_section a, .article_footer_section p, .article_footer_section span {
    margin-bottom: 0; }

.footer_up {
  display: block;
  margin: 0 auto; }
  .footer_up img {
    padding: 0;
    margin: 0 auto;
    width: 64px;
    height: 64px; }

.articles__header {
  text-align: center; }

.post-grid, .aricles {
  margin-top: 80px; }

input, textarea {
  border: 2px solid #FFFFFF;
  display: block;
  background: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  padding: 22px 26px;
  resize: none;
  text-align: left;
  width: 100%; }

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #FFFFFF; }

.comment-form .wrapper {
  padding: 60px 126px;
  background: var(--surface);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.26); }

.comment-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 28px;
  column-gap: 24px; }

.comment-form textarea {
  grid-column: 1/3;
  height: 182px; }

.comment-form button {
  margin-top: 32px;
  grid-column: 1/3; }

.page-separator {
  padding: 65px 0;
  position: relative; }
  .page-separator::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #C09891; }

.comments {
  margin-bottom: 75px; }
  .comments .wrapper {
    padding: 53px 126px 3px 126px;
    background: var(--surface);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.26); }

.comment {
  padding: 20px 44px;
  border: 2px solid #FFFFFF;
  margin-bottom: 50px; }
  .comment .comment-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF; }
    .comment .comment-header p {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.08em;
      color: #FFFFFF;
      padding: 0 0px; }
      .comment .comment-header p:first-child {
        text-align: left; }
      .comment .comment-header p:last-child {
        text-align: right; }
    .comment .comment-header h2 {
      text-align: center;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.08em;
      color: #FFFFFF;
      padding: 0 40px;
      margin: 0 auto;
      font-family: 'Montserrat'; }

.comment_text {
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.08em;
  max-width: 875px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #FFFFFF; }

@media screen and (max-width: 1441px) {
  .wrapper {
    padding: 0 25px; }
  .header-text {
    font-size: 18px;
    line-height: 20px; }
  h1, .h1 {
    font-size: 85px;
    line-height: 1.3; }
  .hero h1, .hero h2 {
    padding: 0 0px; }
  .subtitle {
    font-size: 25px;
    line-height: 1.3; }
  .header__nav li {
    margin-left: 20px;
    margin-right: 20px; }
  .articles__header {
    padding: 30px;
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 0.165em; }
  .post-grid {
    gap: 25px;
    margin-bottom: 50px; }
  .card {
    padding: 25px; }
  .search__results {
    max-width: 800px;
    grid-template-columns: 1fr 1fr; }
  .hero-title {
    font-size: 75px; }
  .article {
    margin-top: 144px; }
    .article .wrapper {
      padding: 30px 90px 44px 90px; }
    .article h1 {
      font-size: 60px;
      line-height: 73px; }
    .article p, .article li, .article a {
      font-size: 14px;
      line-height: 21px; }
    .article p, .article ul {
      margin-bottom: 40px; }
    .article li {
      margin-bottom: 20px; }
  .article_header time, .article_header p {
    font-size: 13px;
    line-height: 16px; }
  .aricle-splitter h2 {
    font-size: 25px;
    line-height: 150.9%; }
  .article_footer_section a, .article_footer_section p, .article_footer_section span {
    margin-bottom: 0; }
  .post-grid, .aricles {
    margin-top: 60px; }
  .page-subtitle {
    padding: 50px 10px; }
  .page-separator {
    padding: 65px 0; }
  .comment-form .wrapper, .comments .wrapper {
    padding-left: 90px;
    padding-right: 90px; } }

@media screen and (max-width: 1280px) {
  #header {
    padding: 0 25px;
    width: 100%; }
  .hero .wrapper {
    min-height: calc(100vh - 270px); }
  .has-child {
    display: grid;
    grid-template-columns: 1fr min-content; }
  .has-child > ul {
    grid-column: 1/3; }
  .page-separator {
    padding: 65px 0; } }

@media screen and (max-width: 905px) {
  .post-grid {
    gap: 25px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr; }
  #header {
    padding: 0 15px; }
  .header__left img, .header__right img {
    width: 30px;
    height: auto; }
  .header__burger img {
    width: 25px; }
  .header__search {
    padding-right: 5px; }
  .header__burger {
    padding-left: 10px; }
  .header__navigation li {
    margin-bottom: 15px; }
  .header__navigation .has-child.opened > ul {
    margin-top: 20px; }
  .header__logo img {
    width: 110px;
    height: auto; }
  .header__nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background: var(--background);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: .3s opacity; }
    .header__nav.active {
      opacity: 1;
      pointer-events: all;
      visibility: visible; }
    .header__nav ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      max-height: 350px; }
  .header__close-burger {
    position: absolute;
    display: block;
    right: 3px;
    top: 20px; }
  .header-text {
    font-family: 'Carneys';
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.195em;
    color: var(--on-background);
    display: block;
    text-transform: uppercase;
    text-align: center; }
  .header__nav {
    padding: 70px 40px; }
  .wrapper {
    padding: 0 10px; }
  h1, .h1 {
    font-size: 9.5vw;
    line-height: 1.3; }
  .subtitle {
    font-size: 3vw;
    line-height: 1.3; }
  .articles__header {
    padding: 20px;
    font-size: 25px;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 25px; }
    .articles__header::after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0;
      width: 45px;
      background: var(--on-background); }
  .page-subtitle {
    font-size: 18px; }
  .has-child li a {
    font-size: 26px;
    line-height: 1.2; }
  .header__navigation a, .header_nav-title p {
    font-size: 30px;
    line-height: 1.2;
    padding: 5px; }
  .hero {
    padding-bottom: 0px; }
    .hero .wrapper {
      padding: 90px 0;
      padding-bottom: 200px; }
  .hero .wrapper::after {
    height: 100%;
    width: 100%; }
  .hero__scroll-down {
    font-size: 18px;
    line-height: 20px; }
  .post-grid {
    grid-template-columns: 264px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: fit-content;
    width: -moz-fit-content;
    gap: 45px; }
  .card {
    padding: 12px 18px 25px 18px; }
  .card__header > a {
    display: none; }
  .card__header {
    display: flex;
    justify-content: center;
    font-size: 9px;
    line-height: 11px;
    margin-bottom: 12px; }
  .articles {
    background-size: 50% , contain; }
  .card__image {
    margin-bottom: 15px; }
  .card__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px; }
  .card__text {
    margin-bottom: 25px; }
  .button {
    padding: 8px;
    min-width: 103px;
    font-size: 12px;
    line-height: 15px; }
  .articles__all {
    padding: 12px;
    font-size: 12px;
    line-height: 15px;
    min-width: 130px; }
  .post-grid {
    margin-bottom: 50px; }
  footer {
    padding: 14px;
    font-size: 10px;
    line-height: 12px; }
  .search__results {
    max-width: 300px;
    grid-template-columns: 1fr; }
  .search__input {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15em;
    max-width: 270px;
    letter-spacing: 0.12em; }
  .hero-title {
    font-size: 35px;
    line-height: 45px;
    margin-top: 100px; }
  .hero-title::before {
    left: calc(100% + 19px); }
  .hero-title::after {
    right: calc(100% + 19px); }
  .about-hero .wrapper {
    padding: 0; }
  .about-hero_main {
    padding-top: 56px;
    min-height: unset; }
  .labeled-title {
    font-size: 23px;
    line-height: 28px;
    padding: 7px; }
  .about-hero_main__container {
    padding: 45px 0 37px 0; }
  .about-hero_main p {
    max-width: 276px;
    font-size: 15px;
    line-height: 18px; }
  .about-main .wrapper {
    padding: 0; }
  .about-main .labeled-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 95px; }
  .about-main_subtitle {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px; }
  .about-inputgroup a {
    font-size: 18px;
    line-height: 22px; }
  .article .wrapper {
    padding: 20px 28px 20px 28px; }
  .article h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px; }
  .article p, .article li, .article a {
    font-size: 14px;
    line-height: 21px; }
  .article p, .article ul {
    margin-bottom: 40px; }
  .article li {
    margin-bottom: 20px; }
  .article .article__hero-image {
    margin: 30px 0; }
  .article_header time, .article_header p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0; }
  .article h2 {
    font-size: 25px;
    line-height: 150.9%; }
  .article_footer_section a, .article_footer_section p, .article_footer_section span {
    margin-bottom: 0; }
  .comment-form .wrapper, .comments .wrapper {
    padding: 40px 20px; }
  .page-separator {
    padding: 50px 0; }
  .comment-form form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px; }
  .comment-form textarea, .comment-form button {
    grid-column: 1/2; }
  .card__link.button {
    margin-top: 0; }
  input, textarea {
    padding: 15px 15px; }
  .comment {
    padding: 20px 15px;
    margin-bottom: 30px; }
    .comment .comment-header p {
      font-size: 12px;
      line-height: 15px; }
    .comment .comment-header h2 {
      font-size: 15px;
      line-height: 1.5; }
  .comment_text {
    font-size: 15px; }
  input, textarea {
    font-size: 15px;
    line-height: 18px; }
  .article {
    margin-top: 25px; } }

/*# sourceMappingURL=style.css.map */
