@import 'reset';
@import 'global';

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__logo {
        width: 19.65%;
    }

    &__logo img {
        width: 100%;
    }

    &__burger {
        display: none;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        cursor: pointer;
    }

    &__burger span {
        position: relative;
        width: 100%;
        height: 3px;
        background: #000;
        transition: 0.3s linear;
        display: block;
    }

    &__burger span::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 7px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #000;
    }

    &__burger span::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 7px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #000;
    }

    &__burger span::before {
        top: -7px;
    }

    &__menu-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__menu {
        background: #272727;
    }

    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-list .header__menu-item a {
        position: relative;
        display: flex;
        font-size: 20px;
        padding: 22px 25px;
        color: #fff;
        transition: 0.3s ease;
        border: none;
        overflow: hidden;
    }

    &__menu-list .header__menu-item>a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 5px;
        background: #febf01;
        opacity: 0;
        transform: translate(-50%, 0);
        transition: 0.3s linear;
        visibility: hidden;
    }

    &__menu-list .header__menu-item>a:hover,
    &__menu-list .header__menu-item>a.active {
        background: #3b3b3b;
    }

    &__menu-list .header__menu-item>a:hover:after,
    &__menu-list .header__menu-item>a.active:after {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
    }

    &__ad {
        padding: 15px 0px;
        margin: auto;
        text-align: center;
        height: auto;
    }
}

.kids {
    background: #f2f2f2;
    padding: 20px 0 25px;

    &__inner-content {
        display: flex;
    }

    &__inner-games {
        margin-right: 40px;
    }

    &__inner-games .games-title {
        text-align: center;
        background: #fff;
        border-radius: 5.008px;
        margin-bottom: 20px;
        padding: 25px 20px;
    }

    &__inner-games .page-title {
        background: #fff;
        border-radius: 5.008px;
        margin-bottom: 20px;
        padding: 25px 20px;
    }

    &__inner-games .page-title-class {
        margin-bottom: 10px;
        border-bottom: 2px solid #e5e5e5;
        padding: 0 0 10px;
    }

    &__inner-games .page-description {
        padding: 5px;
    }

    &__inner-games .page-description p {
        color: #666;
        line-height: 1.75;
        word-break: normal;
        text-align: justify;
        letter-spacing: 0.75px;
        font-size: 16px;
    }

    &__inner-sidebar {
        max-width: 330px;
        min-width: 330px;
    }

    &__inner-sidebar .sidebar-menu {
        background: #fff;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5.008px;
    }

    &__inner-sidebar .sidebar-menu .sidebar__title {
        border-bottom: 1px solid #e5e5e5;
        padding: 0 0 5px;
        margin-bottom: 0px;
    }

    &__inner-sidebar .sidebar-menu h5 {
        color: #272727;
        margin-left: -15px;
        padding-left: 15px;
        line-height: 1.8;
    }

    &__inner-sidebar .sidebar-menu .submenu-list {
        display: block;
    }

    &__inner-sidebar .sidebar-menu .submenu-list li {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0 10px 15px;
    }

    &__inner-sidebar .sidebar-menu .submenu-list li::after {
        content: "";
        width: 8px;
        height: 2px;
        background: #fa6342;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        transform: translate(0, 30%);
    }

    &__inner-sidebar .sidebar-menu .submenu-list li a {
        color: #535165;
        font-size: 13px;
    }

    &__inner-sidebar .sidebar-menu .submenu-list li a:hover {
        color: #fa6342;
    }
}

.games {
    padding: 20px 10px 20px 10px;
    background: #fff;
    border-radius: 5.008px;
    margin: 0 auto 30px;

    &__title {
        margin: 0 10px 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__content .games-item {
        display: flex;
        flex-direction: column;
        border: 1px solid #ede9e9;
        border-radius: 4px;
        width: calc(33.3333% - 20px);
        margin: 20px 10px 0 10px;
    }

    &__content .games-item .games-item-image {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__content .games-item .games-item-image::after,
    &__content .games-item .games-item-image::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        cursor: pointer;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(1.4);
        transition: 0.3s ease-in-out;
        opacity: 0;
    }

    &__content .games-item .games-item-image::after {
        width: 40px;
        height: 40px;
        background-image: url("../img/play-button.svg");
        background-repeat: no-repeat;
    }

    &__content .games-item .games-item-image::before {
        width: 60px;
        height: 60px;
        border: 6px solid #80ead2;
        border-radius: 50%;
        transform-origin: center;
        background: rgba(0, 0, 0, 0.6);
    }

    &__content .games-item .games-item-image:hover::after,
    &__content .games-item .games-item-image:hover::before {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__content .games-item .games-item-image a {
        display: flex;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        background: #000;
    }

    &__content .games-item .games-item-image img {
        object-fit: contain;
        transition: 0.3s ease-in-out;
    }

    &__content .games-item .games-item-image img:hover {
        transform: scale(1.2);
        opacity: 0.4;
    }

    &__content .games-item .games-item-description {
        padding: 15px 10px;
        width: 100%;
        text-align: center;
    }

    &__content .games-item .games-item-description h6 {
        margin-bottom: 15px;
        font-size: 15px;
    }

    &__content .games-item .games-item-description .games-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    &__content .games-item .games-item-description .games-icons .button {
        color: #333;
    }

    &__content .games-item .games-item-description .games-icons button img {
        width: 20px;
        margin-right: 5px;
    }
}

.sponsers {
    text-align: center;
    background: #fff;
    border-radius: 5.008px;
    margin-bottom: 30px;
    padding: 10px;
}

.welcome {
    &__title {
        background: #272727;
        text-align: center;
        padding: 40px 0;
    }

    &__title h2 {
        font-size: 36px;
        line-height: 1;
        letter-spacing: 1.75px;
        font-weight: 700;
        text-transform: capitalize;
        color: #fff;
    }

    &__description {
        padding: 45px 0 30px;
    }

    &__description h3 {
        color: #333;
        margin-bottom: 20px;
    }

    &__description p {
        font-family: "OpenSans", sans-serif;
        color: #5f5f5f;
        margin-bottom: 15px;
        word-break: normal;
        text-align: justify;
        letter-spacing: 0.75px;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 500;
    }

}