@font-face {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SuisseIntl-Regular")format("opentype");
  }
  
  @font-face {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.animaapp.com/SuisseIntl-Medium")format("opentype");
  }
  
  @font-face {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 600;
    src: url("https://fonts.animaapp.com/SuisseIntl-Semibold")format("opentype");
  }
  
  @font-face {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/SuisseIntl-Bold")format("opentype");
  }