html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 84.828vw;
  margin: 0 auto;
}


h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500 !important;

}

h5 {
  font-size: 1.043vw;
  line-height: 1.668vw;
  letter-spacing: .014vw;
  color: #869dc8;
  margin-bottom: .574vw;
}

td,
tr {
  padding: 0;
}

input {
  width: 100%;
  height: 2.555vw;
  background: #202A40;
  border: 0.052vw solid #252E42;
  border-radius: 0.417vw;
  padding-left: 2.086vw;
  padding-right: 2.086vw;
  color: #fff;
  font-size: 0.782vw;
  line-height: 2.503vw;
  letter-spacing: 0.01vw;
  transition: 0.3s;
}

input::placeholder {
  font-size: 0.782vw;
  line-height: 2.503vw;
  letter-spacing: 0.01vw;
  color: rgba(134, 157, 200, 0.3);
}

input:focus {
  border: 0.052vw solid #546382;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.field {
  position: relative;

  p {
    font-size: 0.782vw;
    line-height: 1.147vw;
    letter-spacing: 0.01vw;
    color: #FFFFFF;
    margin-bottom: 0.782vw;
    color: #869DC8;

    span {
      color: #fff;
    }
  }


  .let-know {
    font-weight: 300;
    font-size: 0.678vw;
    line-height: 1.147vw;
    letter-spacing: 0.008vw;
    color: #FEFEFE;
    position: absolute;
    top: 5.021vw;
    opacity: 0;
    visibility: hidden;
  }

  .let-know.active {
    opacity: 1;
    visibility: visible;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #212A41;
  box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
  border-radius: 0.469vw;
  color: #FFFFFF;
  transition: 0.3s;
}

@keyframes SearchResultsAnonRestricted-module_message-fade-in-4XVrS {
  0% {
    opacity: 0;
    transform: scale(.95) translateY(1em)
  }
}

.alert-popup {
  position: absolute;
  background: #1B2439;
  box-shadow: 0vw 0vw 0.991vw 0.156vw rgba(6, 8, 13, 0.75);
  border-radius: 1.095vw;
  padding: 1.773vw 2.346vw;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 99999999;

  p {
    font-size: 0.782vw;
    line-height: 1.303vw;
    letter-spacing: 0.01vw;
    color: #FFFFFF;
  }
}

.alert-popup.active {
  visibility: visible;
  opacity: 1;
}


.main__popup {
  z-index: 10000000000000000;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(6, 8, 13, .15);
  visibility: hidden;
  opacity: 0;

  .main__popup-inner {
    width: 76.642vw;
    height: 44.526vw;
    background: #1D2438;
    box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
    border-radius: 1.356vw;

    .main__popup-top {
      padding-top: 3.076vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;

      .main__popup-close {
        width: 2.398vw;
        height: 2.398vw;
        background: #212A41;
        box-shadow: 0vw 0vw 0.313vw 0.261vw rgba(6, 8, 13, 0.25);
        border-radius: 0.469vw;
        position: absolute;
        top: 1.877vw;
        right: 1.877vw;
        cursor: pointer;

        &::after {
          content: '';
          background: url(../img/popup-close.svg) no-repeat center top / cover;
          width: 1.095vw;
          height: 1.095vw;
          display: block;
          position: absolute;
          top: .675vw;
          right: .640vw;
        }
      }

      &::after {
        content: '';
        background: url(../img/popup-line.svg) no-repeat center top / cover;
        width: 59.541vw;
        height: 0.104vw;
        margin-top: 2.607vw;
      }
    }

    h3 {
      font-family: 'Roboto' !important;
      font-weight: 500;
      font-size: 1.303vw;
      line-height: 1.147vw;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.278vw;
      color: #FFFFFF;
      position: relative;

      &::after {
        content: '';
        background: url(../img/info-icon.svg) no-repeat center top / cover;
        width: 1.043vw;
        height: 1.043vw;
        margin-left: 0.678vw;
        cursor: pointer;
      }
    }

    .attributes__popup-info {
      top: 5.521vw;
      left: 36.521vw;
      transition: 0.2s;
    }

    .main__popup-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 8.551vw;
      padding-right: 8.551vw;
      padding-bottom: 3.65vw;
      padding-top: 4.953vw;

      .item {
        width: 17.518vw;
        height: 27.842vw;
        background: #1B2439;
        // opacity: 0.8;
        box-shadow: 0vw 0vw 0.991vw 0.156vw rgba(6, 8, 13, 0.75);
        border-radius: 1.095vw;
        position: relative;

        .item-top {
          position: relative;

          span {
            position: absolute;
            font-size: 1.408vw;
            line-height: 2.45vw;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.015vw;
            color: #FFFFFF;
            left: 15.055vw;
            top: .926vw;

            p {
              z-index: 9999999;
            }

            &::after {
              content: '';
              width: 2.346vw;
              height: 2.346vw;
              background: #91C0C0;
              opacity: 0.3;
              box-shadow: inset 0vw 0vw 0.521vw 0.261vw rgba(30, 50, 50, 0.56);
              border-radius: 1.173vw;
              position: absolute;
            }
          }

          span.three {
            left: 13.055vw;
            cursor: pointer;

            &::before {
              content: '';
              background: url(../img/three-icon.svg) no-repeat center top / cover;
              width: 1.251vw;
              height: 1.251vw;
              margin-right: 0.521vw;
            }

            &::after {
              width: 4.119vw;
              height: 2.346vw;
              background: #5FA069;
              box-shadow: 0px 0px 10px 5px rgba(32, 59, 36, 0.56);
              border-radius: 22.5px;
            }
          }
        }

        .exchange-popup {
          width: 19.604vw;
          height: 15.902vw;
          padding-right: 1.721vw;
          padding-top: 2.033vw;
          top: 4.221vw;
          left: 12.21vw;
          opacity: 1;
          transition: 0.2s;
          position: absolute;
          width: 19.604vw;
          height: 15.902vw;
          padding-right: 1.721vw;
          padding-top: 2.033vw;
          opacity: 1;
          background: #1b2439;
          visibility: hidden;
          opacity: 0;

          .top {
            display: flex;
          }

          .exchange-icon {
            margin-right: 0.834vw;
            width: 2.659vw;
            height: 2.659vw;

            img {
              width: 100%;
              height: auto;
            }
          }

          .exchange-info {
            h5 {
              font-size: 1.043vw;
              line-height: 1.668vw;
              letter-spacing: 0.014vw;
              margin-bottom: 0;
            }

            p {
              font-size: 0.782vw;
              line-height: 1.668vw;
              letter-spacing: 0.01vw;
              color: #FFFFFF;
            }
          }

          .desc {
            font-size: 0.782vw;
            line-height: 1.303vw;
            letter-spacing: 0.01vw;
            color: #FFFFFF;
            opacity: 0.6;
            margin-top: 2.138vw;
          }

          .bottom {
            display: flex;
            justify-content: center;
            margin-top: 1.877vw;

            a {
              font-size: 0.834vw;
              line-height: 1.043vw;
              display: flex;
              align-items: center;
              justify-content: center;
              letter-spacing: 0.016vw;
              color: #FFFFFF;
              width: 6.413vw;
              height: 1.981vw;
              background: #212A41;
              box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
              border-radius: 0.469vw;
              transition: 0.2s;
            }
          }
        }

        .exchange-popup.active {
          visibility: visible;
          opacity: 1;
        }

        img {
          width: 100%;
          height: auto;
          margin-bottom: 1.616vw;
        }

        .info {
          height: 10.428vw;
          padding-left: 1.668vw;
          padding-right: 1.668vw;

          h4 {
            font-size: 1.043vw;
            line-height: 1.564vw;
            letter-spacing: 0.014vw;
            color: #869DC8;
          }

          p {
            font-size: 0.782vw;
            line-height: 1.303vw;
            letter-spacing: 0.01vw;
            color: #FFFFFF;
            margin-top: 1.251vw;
          }
        }

        .btns {
          display: flex;
          justify-content: center;
          padding-left: 1.668vw;
          padding-right: 1.668vw;

          a {
            font-size: 0.834vw;
            line-height: 1.043vw;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.016vw;
            color: #FFFFFF;
            width: 6.413vw;
            height: 1.981vw;
            background: #28324C;
            box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
            border-radius: 0.469vw;

            &:nth-child(2) {
              margin-left: 0.938vw;
            }
          }
        }

        .dismantle-popup {
          width: 15.372vw;
          height: 13.921vw;
          top: 10.21vw;
          left: 11.121vw;

          .crystal {
            font-size: 0.938vw;
            line-height: 2.503vw;
            letter-spacing: 0.013vw;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            margin-bottom: 1.095vw;
          }

          .crystal::before {
            content: '';
            background: url(../img/coins-icon.svg) no-repeat center top / cover;
            width: 1.043vw;
            height: 1.564vw;
            margin-right: 0.834vw;
          }

          .desc {
            font-size: 0.782vw;
            line-height: 1.303vw;
            letter-spacing: 0.01vw;
            color: #FFFFFF;
            margin-bottom: 1.356vw;
          }

          div {
            display: flex;
            justify-content: center;

            .btn {
              font-size: 0.834vw;
              line-height: 1.043vw;
              letter-spacing: 0.016vw;
              width: 6.413vw;
              height: 1.981vw;
            }
          }
        }
      }
    }
  }
}

.main__popup.active {
  visibility: visible;
  opacity: 1;

  .main__popup-inner {
    animation: SearchResultsAnonRestricted-module_message-fade-in-4XVrS .2s linear .1s backwards;
  }
}