@import 'reset';
@import 'vars';
@import 'global';

* {
    font-family: Rubik;
}

body {
    font-style: normal;
    overflow-x: hidden;
    background: url(../img/register.webp) no-repeat center top / cover;
    height: 64vw;
}

.container {
    margin: 0 auto;
}

.header {
    width: 100%;
    background: linear-gradient(0deg, #1D2438, #1D2438), #37D4E4;
    mix-blend-mode: normal;
    opacity: 0.8;
    box-shadow: 0vw 0vw 2.737vw rgba(6, 8, 13, 0.75);
    height: 6.934vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11.262vw;
    padding-right: 11.262vw;

    &__logo {
        img {
            width: 14.338vw;
            height: 3.389vw;
        }
    }

    &__admin-btn {
        width: 6.778vw;
        height: 1.981vw;
        font-size: 0.938vw;
        line-height: 1.043vw;
        letter-spacing: 0.016vw;
        color: #FFFFFF;
        margin-right: 3.754vw;
        transition: 0.3s;
    }

    &__admin-btn:hover {
        box-shadow: inset 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
    }

    &__navigation {
        display: flex;
        align-items: center;

        .resources {
            display: flex;
            align-items: center;

            span {
                display: flex;
                align-items: center;
                font-size: 0.938vw;
                line-height: 2.503vw;
                letter-spacing: 0.013vw;
                color: #FFFFFF;
            }

            .crystal::before {
                content: '';
                background: url(../img/crystal-icon.svg) no-repeat center top / cover;
                width: 1.408vw;
                height: 1.408vw;
                margin-right: 0.834vw;
            }

            .coins {
                margin-left: 1.095vw;
            }

            .coins::before {
                content: '';
                background: url(../img/coins-icon.svg) no-repeat center top / cover;
                width: 1.043vw;
                height: 1.564vw;
                margin-right: 0.834vw;
            }
        }

        .notification {
            width: 2.995vw;
            height: 2.995vw;
            border: 0.104vw solid #869DC8;
            box-shadow: 0vw 0vw 0.313vw 0.104vw rgba(47, 196, 211, 0.75);
            border-radius: 4.484vw;
            margin-left: 2.398vw;
            cursor: pointer;
            position: relative;
        }

        .notification::after {
            content: '';
            background: url(../img/notification-icon.svg) no-repeat center top / cover;
            width: 1.176vw;
            height: 1.447vw;
            position: absolute;
            top: 0.721vw;
            left: 0.851vw;
        }

        .avatar {
            width: 4.648vw;
            height: 4.648vw;
            border: 0.104vw solid #869DC8;
            box-shadow: 0vw 0vw 0.313vw 0.104vw rgba(47, 196, 211, 0.75);
            border-radius: 4.484vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1.095vw;
            cursor: pointer;
            position: relative;
            margin-right: 2.503vw;

            img {
                width: 3.025vw;
                height: 2.827vw;
            }
        }

        .avatar::after {
            content: '';
            background: url(../img/avatar-arrow.svg) no-repeat center top / cover;
            width: 0.938vw;
            height: 0.574vw;
            margin-left: 8.043vw;
            position: absolute;
        }
    }

}

.register {
    .container {
        max-width: 77.685vw;
    }

    &__content {
        width: 77.685vw;
        height: 45.725vw;
        background: rgba(29, 36, 56, 0.75);
        box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
        border-radius: 1.356vw;
        margin-top: 7.039vw;
        display: flex;
        justify-content: space-between;
    }

    &__content-left {
        padding-top: 6.83vw;
        padding-left: 7.039vw;

        h1 {
            font-size: 1.043vw;
            line-height: 2.503vw;
            letter-spacing: 0.014vw;
            color: #869DC8;
            margin-bottom: 0.834vw;
        }

        p {
            font-size: 0.782vw;
            line-height: 1.303vw;
            letter-spacing: 0.01vw;
            color: #FFFFFF;
        }

        a {
            font-size: 0.782vw;
            line-height: 1.147vw;
            letter-spacing: 0.01vw;
            color: #869DC8;
        }
    }

    &__content-right {
        padding-top: 4.015vw;
        padding-right: 6.621vw;
    }

    &__content-form {
        width: 37.539vw;

        .field {
            display: grid;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.086vw;

            input {
                width: 17.623vw;
            }

            .password-icon {
                display: block;
                cursor: pointer;
            }

            .password-icon::after {
                content: '';
                background: url(../img/password-icon.svg) no-repeat center top / cover;
                height: 0.73vw;
                width: 0.991vw;
                display: block;
                position: absolute;
                top: 2.852vw;
                right: 1vw;
            }

            .password-icon.active::after {
                background: url(../img/password-icon-open.svg) no-repeat center top / cover;
            }
        }

        .term {
            margin-top: 2.294vw;

            input[type=checkbox] {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            label {
                font-size: 0.782vw;
                line-height: 2.086vw;
                letter-spacing: 0.01vw;
                color: #FFFFFF;
                display: flex;
                align-items: center;

                a {
                    color: #869DC8;
                    margin-left: 0.261vw;
                    margin-right: 0.261vw;
                }
            }

            .term-field input[type=checkbox]+label:before {
                content: '';
                background: url(../img/check.svg) no-repeat center top / cover;
                width: 0.834vw;
                height: 0.834vw;
                display: block;
                margin-right: 1.408vw;
                cursor: pointer;
            }

            .term-field input[type=checkbox]:checked+label::before {
                background: url(../img/check-true.svg) no-repeat center top / cover;
            }
        }

        .form-bottom {
            display: flex;
            justify-content: center;
            margin-top: 2.92vw;

            .btn {
                width: 9.861vw;
                height: 2.5vw;
                background: #212A41;
                box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
                border-radius: 0.469vw;
                font-size: 0.834vw;
                line-height: 1.043vw;
                letter-spacing: 0.016vw;
                color: #FFFFFF;
            }
        }
    }
}

/* login page */

.login {
    .container {
        max-width: 61.835vw;
        position: relative;
    }

    .leaf {
        background: url(../img/leaf.webp) no-repeat center top / cover;
        width: 6.83vw;
        height: 13.347vw;
        position: absolute;
        top: 5vw;
        right: 0vw;
    }

    &__content {
        width: 61.835vw;
        height: 39.26vw;
        background: rgba(29, 36, 56, 0.75);
        box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
        border-radius: 1.356vw;
        margin-top: 10.375vw;
        display: flex;
        justify-content: space-between;
    }

    &__content-left {
        padding-top: 11.94vw;
        padding-left: 9.75vw;

        h1 {
            font-size: 1.043vw;
            line-height: 2.503vw;
            letter-spacing: 0.014vw;
            color: #869DC8;
        }

        p {
            font-size: 0.782vw;
            line-height: 2.086vw;
            letter-spacing: 0.01vw;
            color: #FFFFFF;
        }

        a {
            color: #869DC8;
        }
    }

    &__content-right {
        padding-top: 8.446vw;
        padding-right: 9.593vw;
    }

    &__content-form {
        width: 17.623vw;

        .field {
            margin-bottom: 1.721vw;
            display: grid;
        }

        input {
            width: 17.623vw;
        }

        .password-icon {
            display: block;
            cursor: pointer;
        }

        .password-icon::after {
            content: '';
            background: url(../img/password-icon.svg) no-repeat center top / cover;
            height: 0.73vw;
            width: 0.991vw;
            display: block;
            position: absolute;
            top: 2.852vw;
            right: 1vw;
        }

        .password-icon.active::after {
            background: url(../img/password-icon-open.svg) no-repeat center top / cover;
        }


        .term {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.768vw;

            input[type=checkbox] {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            label {
                font-size: 0.782vw;
                line-height: 2.086vw;
                letter-spacing: 0.01vw;
                color: #FFFFFF;
                display: flex;
                align-items: center;

                a {
                    color: #869DC8;
                    margin-left: 0.261vw;
                    margin-right: 0.261vw;
                }
            }

            .term-field input[type=checkbox]+label:before {
                content: '';
                background: url(../img/check.svg) no-repeat center top / cover;
                width: 0.834vw;
                height: 0.834vw;
                display: block;
                margin-right: 0.574vw;
                cursor: pointer;
            }

            .term-field input[type=checkbox]:checked+label::before {
                background: url(../img/check-true.svg) no-repeat center top / cover;
            }

            .forgot {
                font-size: 0.782vw;
                line-height: 1.147vw;
                letter-spacing: 0.01vw;
                color: #869DC8;
            }
        }

        .form-bottom {
            display: flex;
            justify-content: center;
            margin-top: 3.441vw;

            .btn {
                font-size: 0.834vw;
                line-height: 1.043vw;
                display: flex;
                align-items: center;
                letter-spacing: 0.016vw;
                color: #FFFFFF;
                width: 7.351vw;
                height: 2.503vw;
                background: #212A41;
                box-shadow: inset 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
                border-radius: 0.469vw;
            }
        }
    }
}

/* My profile */

.profile {
    padding-top: 10.428vw;

    .container {
        max-width: 78vw;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 8.29vw;
    }

    &__left-item {
        width: 8.29vw;
        height: 8.29vw;
        background: rgba(29, 36, 56, 0.75);
        box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
        border-radius: 0.991vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 1.981vw;
        padding-top: 0.574vw;
        padding-bottom: 0.834vw;
        position: relative;
        cursor: pointer;
        transition: 0.3s;

        .icon {
            width: initial;
            height: 4.400vw;
        }

        img {
            width: 100%;
            height: 100%;
        }

        p {
            font-size: 1.043vw;
            line-height: 1.147vw;
            letter-spacing: 0.013vw;
            color: #8093B2;
            margin-top: 0.574vw;
        }
    }

    &__left-item.speed {
        .icon {
            height: 3.4vw;
        }
    }

    &__left-item.speed::after {
        content: '';
        width: 0.73vw;
        height: 0.73vw;
        background: #869DC8;
        border-radius: 100%;
        top: 0.752vw;
        right: 0.7vw;
        position: absolute;
    }

    &__left-item.deactivate::after {
        content: '';
        background: url(../img/lock-icon.svg) no-repeat center top / cover;
        width: 2.138vw;
        height: 2.45vw;
    }

    &__left-item.active {
        border: 0.104vw solid #869DC8;
        box-shadow: 0vw 0vw 0.313vw 0.104vw rgba(47, 196, 211, 0.75);
    }

    &__left-item.active::before {
        content: '';
        background: url(../img/profile-item-active-icon.svg) no-repeat center top / cover;
        width: 1.043vw;
        height: 1.356vw;
        position: absolute;
        left: -1.3vw;
    }

    &__right {
        width: 8.29vw;
    }

    &__centre {
        width: 48.436vw;
        height: 39.26vw;
        background: rgba(29, 36, 56, 0.75);
        box-shadow: 0vw 0vw 1.303vw 0.261vw rgba(6, 8, 13, 0.75);
        border-radius: 1.356vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__centre-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.981vw 2.972vw;

        .title {
            h2 {
                font-weight: 700;
                font-size: 1.564vw;
                line-height: 2.503vw;
                letter-spacing: 0.021vw;
                background: linear-gradient(90deg, #35B6F1 0%, #4CD4EC 116.58%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            p {
                font-size: 1.043vw;
                line-height: 2.503vw;
                letter-spacing: 0.014vw;
                color: #FFFFFF;
            }
        }

        .info-btn {
            width: 6.778vw;
            height: 1.981vw;
            font-size: 0.938vw;
            line-height: 1.043vw;
            letter-spacing: 0.016vw;
        }

        .info-btn:hover {
            box-shadow: inset 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
        }
    }

    &__centre-content {
        .character {
            display: flex;
            justify-content: center;

            img {
                width: 17.518vw;
                height: 25.495vw;
                position: absolute;
                top: 3vw;
            }
        }

        .leaves {
            background: url(../img/profile-leaves.webp) no-repeat center top / cover;
            width: 48.54vw;
            height: 16.84vw;
            position: absolute;
            top: 12.521vw;
            left: 0;
        }
    }

    &__centre-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.043vw;
        line-height: 1.303vw;
        letter-spacing: 0.014vw;
        color: #FFFFFF;
        height: 9.228vw;
        width: 100%;
        background: #1C2439;
        box-shadow: 0vw -0.521vw 0.626vw -0.209vw rgba(6, 8, 13, 0.3);
        border-radius: 0vw 0vw 1.356vw 1.356vw;
        padding: 1.981vw 2.972vw;

        .masks {
            &__list {
                display: flex;
                margin-top: 0.365vw;
            }

            &__list-item {
                width: 3.806vw;
                height: 3.754vw;
                background: #212A41;
                box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
                border-radius: 0.469vw;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.678vw 0.574vw;
                margin-right: 0.938vw;
                cursor: pointer;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &__list-item.deactivate {
                background: #212A41;
                box-shadow: inset 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);

                img {
                    opacity: 1;
                }
            }
        }

        .map {
            display: flex;
            align-items: center;
            flex-direction: column;

            .map-btn {
                width: 3.806vw;
                height: 3.754vw;
                background: #212A41;
                box-shadow: 0vw 0vw 0.156vw 0.156vw rgba(6, 8, 13, 0.25);
                border-radius: 0.469vw;
                margin-top: 0.886vw;
                cursor: pointer;
                position: relative;
            }

            .map-btn::after {
                content: '';
                background: url(../img/map-icon.svg) no-repeat center top / cover;
                width: 2.607vw;
                height: 2.503vw;
                position: absolute;
                top: 0.552vw;
                left: 0.552vw;
            }
        }
    }
}

.profile__info-popup {
    z-index: 10000000000000000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(6, 8, 13, .50);
    visibility: hidden;
    opacity: 0;
    transition: .2s;

    .popup__inner {
        width: 77.529vw;
        height: 39.833vw;
        background: #1B2439;
        box-shadow: 0vw 0vw 0.991vw 0.156vw rgba(6, 8, 13, 0.75);
        border-radius: 1.356vw;
    }

    .profile__info-top {
        width: 100%;
        height: 7.56vw;
        background: #202A40;
        border: 0.104vw solid #252E42;
        box-shadow: 0vw 0vw 0.261vw #0C1421;
        border-radius: 1.356vw 1.356vw 0vw 0vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.303vw 4.067vw;

        .left {
            display: flex;
            align-items: center;

            img {
                width: 4.901vw;
                height: 4.901vw;
                margin-right: 1.773vw;
            }

            .title {
                h4 {
                    font-weight: 700;
                    font-size: 1.564vw;
                    line-height: 2.503vw;
                    letter-spacing: 0.021vw;
                    background: linear-gradient(90deg, #35B6F1 0%, #4CD4EC 116.58%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                p {
                    font-size: 1.043vw;
                    line-height: 1.503vw;
                    letter-spacing: 0.014vw;
                    color: #FFFFFF;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            .info {
                p {
                    font-size: 1.043vw;
                    line-height: 1.825vw;
                    letter-spacing: 0.014vw;
                    color: #FFFFFF;

                    span {
                        color: #869DC8;
                    }
                }
            }

            .close-popup {
                width: 2.398vw;
                height: 2.398vw;
                background: #212A41;
                box-shadow: 0vw 0vw 0.313vw 0.261vw rgba(6, 8, 13, 0.25);
                border-radius: 0.469vw;
                position: relative;
                display: block;
                margin-left: 3.285vw;
                cursor: pointer;
            }

            .close-popup::after {
                content: '';
                background: url(../img/close-popup.svg) no-repeat center top / cover;
                width: 1.095vw;
                height: 1.095vw;
                position: absolute;
                top: 0.6vw;
                left: 0.7vw;
                display: block;
            }
        }
    }
}

.profile__info-popup.active {
    visibility: visible;
    opacity: 1;

    .popup__inner {
        animation: SearchResultsAnonRestricted-module_message-fade-in-4XVrS .2s linear .1s backwards;
    }
}