@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

.header {
    width: 100%;

    .container {
        max-width: 100%;
    }

    &__top {
        width: 100%;
        background: #F2F3FA;
        padding: 0.278vw 2.778vw;
        display: flex;
        justify-content: space-between;
    }

    &__top-menu {
        display: flex;
        gap: 1.389vw;

        .header__menu-item {
            position: relative;
            display: flex;

            a {
                color: var(--blue-700, #595B7C);
                font-size: 0.833vw;
                line-height: 2.569vw;
            }
        }
    }

    &__menu-item {
        display: flex;
    }

    &__menu-item.sub {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            background: url('../img/chevron-down.svg') no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
            display: block;
            margin-left: 0.417vw;
            cursor: pointer;
            margin-bottom: 0.210vw;
        }
    }

    &__main {
        width: 100%;
        height: 5.903vw;
        border-bottom: 0.069vw solid#F2F3FA;
        position: fixed;
        transition: 0.2s;
        top: 3.333vw;
        z-index: 99999999;

        .header__menu-item {
            a {
                color: var(--black, #000);
                font-size: 0.903vw;
                font-weight: 500;
                line-height: 2.569vw;
            }
        }
    }

    &__main-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        height: 5.903vw;
        padding: 2.292vw 2.778vw;
    }

    &__main.active {
        top: 0;

        .header__main-wrap {
            background: rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(0.833vw);
        }
    }

    &__main-logo {
        img {
            width: 6.25vw;
            height: 1.26vw;
        }
    }

    &__main-menu {
        display: flex;
        align-items: center;
        gap: 1.667vw;
    }

    &__main-right {
        display: flex;
        align-items: center;
        gap: 0.694vw;

        .sales-btn {
            display: flex;
            height: auto;
            padding: 0.289vw 2.3vw;
            align-items: center;
            gap: 0.556vw;
            border-radius: 2.778vw;
            background: url('../img/sales-btn.svg') no-repeat center top / cover;
            color: var(--black, #000);
            font-size: 0.903vw;
            font-weight: 500;
            line-height: 2.569vw;


            img {
                width: 2.778vw;
                height: 1.111vw;
            }
        }

        .start-btn {
            display: flex;
            height: 2.778vw;
            padding: 0.139vw 1.389vw;
            justify-content: center;
            align-items: center;
            gap: 0.556vw;
            border-radius: 2.778vw;
            background: var(--blue-500, #4855DC);
            color: var(--white, #FFF);
            font-size: 0.903vw;
            font-weight: 500;
            line-height: 2.569vw;
        }
    }
}

.hero {
    padding-top: 10.417vw;

    &__bg {
        background: url(../img/hero-bg.png) no-repeat center top / cover;
        width: 100%;
        height: 54.097vw;
        position: absolute;
        top: 0;
        z-index: -1;

        svg {
            width: 90.318vw;
            height: 54.844vw;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__reviews {
        display: flex;
        justify-content: center;

        img {
            width: 13.889vw;
            height: 3.056vw;
        }
    }

    &__titles {
        margin-top: 2.083vw;
        text-align: center;
        width: 62.222vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 4.306vw;
        font-weight: 600;
        line-height: 4.583vw;
        margin-bottom: 1.389vw;

        span {
            font-weight: 600;
        }

        .cursive {
            font-style: italic;
            font-weight: 700;
            line-height: 4.583vw;

        }

        .gray {
            color: #DEE4FF;
            font-size: 4.306vw;
            font-style: italic;
            font-weight: 700;
            line-height: 4.583vw;
            position: absolute;
        }

        .title-position {
            position: relative;
            right: 6.8vw;
        }
    }

    &__desc {
        width: 42.083vw;
        font-size: 1.25vw;
        font-weight: 400;
        line-height: 2.222vw;
        margin-bottom: 2.778vw;
    }

    &__cards {
        display: flex;
        gap: 0.833vw;
    }

    &__cards-item {
        display: flex;
        padding: 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.417vw;
        border-radius: 0.972vw;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.50) 100%);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--black, #000);
        text-align: center;
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;
        cursor: pointer;

        &::before {
            position: relative;
            bottom: 0.1vw;
        }
    }

    &__cards-item:nth-child(1) {
        &::before {
            content: '';
            background: url(../img/home-line.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(2) {
        &::before {
            content: '';
            background: url(../img/lock-unlocked-01.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(3) {
        &::before {
            content: '';
            background: url(../img/code-browser.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(4) {
        &::before {
            content: '';
            background: url(../img/brackets-check.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(5) {
        &::before {
            content: '';
            background: url(../img/file-search-02.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(6) {
        &::before {
            content: '';
            background: url(../img/shopping-bag-03.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(7) {
        &::before {
            content: '';
            background: url(../img/database-01.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__btns {
        margin-top: 3.472vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btns-wrap {
        display: flex;
        align-items: center;
        gap: 1.111vw;
    }

    &__btn-price {
        display: flex;
        height: 3.472vw;
        padding: 0.417vw 2.778vw;
        justify-content: center;
        align-items: center;
        gap: 0.556vw;
        border-radius: 3.472vw;
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--black, #000);
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;
    }

    &__btn-trial {
        display: flex;
        height: 3.472vw;
        padding: 0.417vw 2.778vw;
        align-items: center;
        gap: 0.556vw;
        border-radius: 2.778vw;
        background: var(--blue-500, #4855DC);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--white, #FFF);
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;

        &::after {
            content: '';
            background: url('../img/arrow-narrow-up-right.svg') no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }


    &__features {
        display: flex;
        align-items: center;
        gap: 0.694vw;
        margin-top: 2.222vw;

        p {
            color: #8A8BA0;
            font-size: 0.833vw;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
        }

        p:nth-child(1) {
            &::after {
                content: '';
                background: url('../img/untitled.svg') no-repeat center top / cover;
                width: 0.347vw;
                height: 0.972vw;
                margin-left: 0.694vw;
            }
        }

        p:nth-child(2) {
            &::after {
                content: '';
                background: url('../img/untitled.svg') no-repeat center top / cover;
                width: 0.347vw;
                height: 0.972vw;
                margin-left: 0.694vw;
            }
        }
    }
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;

    .container {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 12.361vw;
        height: 5.408vw;
        opacity: 0.3;
    }
}

.products {
    padding-top: 4.583vw;
    padding-bottom: 7.292vw;

    &__wrap {
        margin-top: 4.236vw;
        padding-top: 4.167vw;
        padding-left: 5.417vw;
        padding-right: 5.417vw;
        width: 100%;
        height: 50.347vw;
        border-radius: 1.389vw;
        background: var(--gray-200, #F6F3F0);
        position: relative;
    }

    &__tabs-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4.444vw;
    }

    &__tabs {
        display: inline-flex;
        padding: 0.694vw;
        align-items: center;
        gap: 0.972vw;
        border-radius: 3.472vw;
        background: var(--gray-300, #F0EBE6);
    }

    &__tabs-item {
        display: flex;
        padding: 0.833vw 1.667vw;
        justify-content: center;
        align-items: center;
        gap: 0.694vw;
        border-radius: 3.472vw;
        color: #000;
        font-size: 1.042vw;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }

    &__tabs-item.active {
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.139vw 0vw rgba(0, 0, 0, 0.02);
    }

    &__tabs-item.apis {
        &::after {
            content: '';
            background: url(../img/no-code.svg) no-repeat center top / cover;
            width: 5vw;
            height: 1.528vw;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

    }

    &__wrap-item {
        display: flex;
        width: 25.972vw;
        height: max-content;
        padding: 2.5vw 2.083vw 0vw 2.083vw;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0.694vw;
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.278vw 0vw rgba(0, 0, 0, 0.04);
        z-index: 999;

        .product-icon {
            width: 1.667vw;
            height: 1.667vw;
            margin-bottom: 1.25vw;
        }

        h4 {
            color: var(--black, #000);
            font-size: 1.389vw;
            font-weight: 500;
            line-height: 2.083vw;
            margin-bottom: 1.25vw;

            span {
                font-weight: 700;
            }
        }

        .info {
            display: flex;
            align-items: center;
            margin-bottom: 2.222vw;

            span {
                color: var(--success, #07BF82);
                font-size: 1.042vw;
                font-weight: 500;
                line-height: normal;
                display: flex;
                align-items: center;
                gap: 0.694vw;
            }

            span:nth-child(1) {
                &::after {
                    content: '';
                    border-radius: 0.903vw;
                    background: #DAD8D5;
                    width: 0.278vw;
                    height: 0.278vw;
                    margin-right: 0.694vw;
                }
            }
        }

        .list {
            li {
                color: var(--blue-700, #595B7C);
                font-size: 1.042vw;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 1.111vw;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    background: url(../img/check.svg) no-repeat center top / cover;
                    width: 1.111vw;
                    height: 1.111vw;
                    margin-right: 0.278vw;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

        .bottom {
            width: 100%;
            padding: 0.694vw 0;
            border-top: 0.069vw solid #D7D8E9;
            margin-top: 2.083vw;

            a {
                width: 100%;
                color: var(--black, #000);
                font-size: 0.972vw;
                font-weight: 500;
                line-height: 2.569vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.3s;

                svg {
                    width: 1.111vw;
                    height: 1.111vw;
                    transition: 0.3s;
                }
            }

            a:hover>svg {
                transform: translateX(0.294vw);
            }
        }
    }

    &__group-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: inline-flex;
            height: 3.472vw;
            padding: 0.417vw 2.778vw;
            align-items: center;
            gap: 0.556vw;
            flex-shrink: 0;
            border-radius: 2.778vw;
            background: var(--blue-500, #4855DC);
            box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
            color: var(--white, #FFF);
            font-size: 0.972vw;
            font-weight: 500;
            line-height: 2.569vw;
            margin-top: 2vw;

            &::after {
                content: '';
                background: url(../img/arrow-narrow-up-right.svg) no-repeat center top / cover;
                width: 1.111vw;
                height: 1.111vw;
            }
        }
    }

    &__group {
        background: url(../img/products-group.svg) no-repeat center top / cover;
        width: 55.694vw;
        height: 6.389vw;
        z-index: 0;
    }
}

.testimonial {
    padding-top: 4.306vw;
    padding-bottom: 3.75vw;

    &__content {
        background: url(../img/testimonial-bg.png) no-repeat center top / cover;
        width: 100%;
        height: 41.528vw;
        padding: 2.778vw;
        margin-top: 2.778vw;
    }

    &__block {
        width: 100%;
        height: 100%;
        display: inline-flex;
        padding: 2.778vw;
        justify-content: center;
        align-items: center;
        gap: 4.028vw;
        border-radius: 1.389vw;
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.972vw 0vw rgba(0, 0, 0, 0.16);

        .left {
            width: 33.333vw;
            display: flex;
            flex-direction: column;
            gap: 1.389vw;

            .testimonial__logo {
                width: 5.625vw;
                height: 1.806vw;
            }

            .title {
                color: var(--black, #000);
                font-size: 2.083vw;
                font-weight: 600;
                line-height: 2.778vw;
            }

            .desc {
                color: var(--black, #000);
                font-size: 1.25vw;
                font-weight: 400;
                line-height: 2.222vw;
            }

            .testimonial__btn {
                display: flex;
                width: 16.319vw;
                height: 3.472vw;
                padding: 0.417vw 2.778vw;
                align-items: center;
                gap: 0.556vw;
                border-radius: 2.778vw;
                background: var(--gray-200, #F6F3F0);
                color: var(--black, #000);
                font-size: 0.972vw;
                font-weight: 500;
                line-height: 2.569vw;
                margin-top: 3.333vw;

                svg {
                    width: 1.111vw;
                    height: 1.111vw;
                    transition: 0.3s;
                }
            }

            .testimonial__btn:hover>svg {
                transform: translateX(0.294vw);
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.556vw;

            img {
                width: 40.139vw;
                height: 27.639vw;
            }

            .info {
                color: #8D8882;
                font-size: 0.972vw;
                font-weight: 500;
                line-height: 1.667vw;

                span {
                    color: var(--black, #000);
                }
            }
        }
    }
}

.features {

    .container {
        max-width: 87.569vw;
        position: relative;
    }

    &__illustration {
        background: url('../img/products-illustration.svg') no-repeat center top / cover;
        width: 55.556vw;
        height: 14.722vw;
    }

    &__title {
        margin-bottom: 2.431vw;
        span {
            background: linear-gradient(295deg, #6F6CFF 0%, #A9DBF1 41.67%, #7B78FC 82.81%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3.333vw;
            font-style: normal;
            font-weight: 600;
            line-height: 4.444vw;
        }
    }

    &__features {
        background: url('../img/features.png') no-repeat center top / cover;
        width: 100%;
        height: auto;
    }

    &__list-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 1.667vw;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.667vw;
    }

    &__list-title {
        color: var(--black, #000);
        text-align: center;
        font-size: 0.903vw;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.072vw;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1.667vw;
        margin-bottom: 1.667vw;
        white-space: nowrap;

        &::before {
            content: '';
            width: 100%;
            height: 0.069vw;
            background: #ECE5DF;
        }

        &::after {
            content: '';
            width: 100%;
            height: 0.069vw;
            background: #ECE5DF;
        }
    }

    &__list-item {
        display: flex;
        width: 15.972vw;
        padding: 2.083vw 1.389vw;
        align-items: center;
        justify-content: space-between;
        gap: 0.694vw;
        border-radius: 0.694vw;
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.278vw 0vw rgba(0, 0, 0, 0.06);

        .text {
            display: flex;
            align-items: center;
            gap: 0.694vw;
        }

        .icon {
            width: 1.667vw;
            height: 1.667vw;
        }

        .name {
            color: var(--black, #000);
            font-size: 1.042vw;
            font-weight: 500;
            line-height: normal;
        }

        &::after {
            content: '';
            width: 1vw;
            height: 0.8vw;
            background: url('../img/arrow.svg') no-repeat center top / cover;
        }
    }
}