@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';

.header {
    width: 100%;

    .container {
        max-width: 100%;
    }

    &__top {
        width: 100%;
        background: #F2F3FA;
        padding: 0.278vw 2.778vw;
        display: flex;
        justify-content: space-between;
    }

    &__top-menu {
        display: flex;
        gap: 1.389vw;

        .header__menu-item {
            position: relative;

            a {
                color: var(--blue-700, #595B7C);
                font-size: 0.833vw;
                line-height: 2.569vw;
            }
        }
    }


    &__menu-item.sub {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            background: url('../img/chevron-down.svg') no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
            display: block;
            margin-left: 0.417vw;
            cursor: pointer;
            margin-bottom: 0.210vw;
        }
    }

    &__main {
        width: 100%;
        height: 5.903vw;
        border-bottom: 0.069vw solid#F2F3FA;
        position: fixed;
        transition: 0.2s;
        top: 3.333vw;
        z-index: 99999999;

        .header__menu-item {
            a {
                color: var(--black, #000);
                font-size: 0.903vw;
                font-weight: 500;
                line-height: 2.569vw;
            }
        }
    }

    &__main-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        height: 5.903vw;
        padding: 2.292vw 2.778vw;
    }

    &__main.active {
        top: 0;

        .header__main-wrap {
            background: rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(12px);
        }
    }

    &__main-logo {
        img {
            width: 6.25vw;
            height: 1.26vw;
        }
    }

    &__main-menu {
        display: flex;
        align-items: center;
        gap: 1.667vw;
    }

    &__main-right {
        display: flex;
        align-items: center;
        gap: 0.694vw;

        .sales-btn {
            display: flex;
            height: auto;
            padding: 0.289vw 2.3vw;
            align-items: center;
            gap: 0.556vw;
            border-radius: 2.778vw;
            background: url('../img/sales-btn.svg') no-repeat center top / cover;
            color: var(--black, #000);
            font-size: 0.903vw;
            font-weight: 500;
            line-height: 2.569vw;


            img {
                width: 2.778vw;
                height: 1.111vw;
            }
        }

        .start-btn {
            display: flex;
            height: 2.778vw;
            padding: 0.139vw 1.389vw;
            justify-content: center;
            align-items: center;
            gap: 0.556vw;
            border-radius: 2.778vw;
            background: var(--blue-500, #4855DC);
            color: var(--white, #FFF);
            font-size: 0.903vw;
            font-weight: 500;
            line-height: 2.569vw;
        }
    }
}

.hero {
    padding-top: 10.417vw;

    &__bg {
        background: url(../img/hero-bg.png) no-repeat center top / cover;
        width: 100%;
        height: 54.097vw;
        position: absolute;
        top: 0;
        z-index: -1;

        svg {
            width: 90.318vw;
            height: 54.844vw;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__reviews {
        display: flex;
        justify-content: center;

        img {
            width: 13.889vw;
            height: 3.056vw;
        }
    }

    &__titles {
        margin-top: 2.083vw;
        text-align: center;
        width: 62.222vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 4.306vw;
        font-weight: 600;
        line-height: 4.583vw;
        margin-bottom: 1.389vw;

        span {
            font-weight: 600;
        }

        .cursive {
            font-style: italic;
            font-weight: 700;
            line-height: 4.583vw;

        }

        .gray {
            color: #DEE4FF;
            font-size: 4.306vw;
            font-style: italic;
            font-weight: 700;
            line-height: 4.583vw;
            position: absolute;
        }

        .title-position {
            position: relative;
            right: 6.8vw;
        }
    }

    &__desc {
        width: 42.083vw;
        font-size: 1.25vw;
        font-weight: 400;
        line-height: 2.222vw;
        margin-bottom: 2.778vw;
    }

    &__cards {
        display: flex;
        gap: 0.833vw;
    }

    &__cards-item {
        display: flex;
        padding: 1.25vw;
        justify-content: center;
        align-items: center;
        gap: 0.417vw;
        border-radius: 0.972vw;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.50) 100%);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--black, #000);
        text-align: center;
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;
        cursor: pointer;

        &::before {
            position: relative;
            bottom: 0.1vw;
        }
    }

    &__cards-item:nth-child(1) {
        &::before {
            content: '';
            background: url(../img/home-line.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(2) {
        &::before {
            content: '';
            background: url(../img/lock-unlocked-01.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(3) {
        &::before {
            content: '';
            background: url(../img/code-browser.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(4) {
        &::before {
            content: '';
            background: url(../img/brackets-check.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(5) {
        &::before {
            content: '';
            background: url(../img/file-search-02.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(6) {
        &::before {
            content: '';
            background: url(../img/shopping-bag-03.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__cards-item:nth-child(7) {
        &::before {
            content: '';
            background: url(../img/database-01.svg) no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }

    &__btns {
        margin-top: 3.472vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btns-wrap {
        display: flex;
        align-items: center;
        gap: 1.111vw;
    }

    &__btn-price {
        display: flex;
        height: 3.472vw;
        padding: 0.417vw 2.778vw;
        justify-content: center;
        align-items: center;
        gap: 0.556vw;
        border-radius: 3.472vw;
        background: var(--white, #FFF);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--black, #000);
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;
    }

    &__btn-trial {
        display: flex;
        height: 3.472vw;
        padding: 0.417vw 2.778vw;
        align-items: center;
        gap: 0.556vw;
        border-radius: 2.778vw;
        background: var(--blue-500, #4855DC);
        box-shadow: 0vw 0.278vw 0.833vw 0vw rgba(0, 0, 0, 0.08);
        color: var(--white, #FFF);
        font-size: 0.972vw;
        font-weight: 500;
        line-height: 2.569vw;

        &::after {
            content: '';
            background: url('../img/arrow-narrow-up-right.svg') no-repeat center top / cover;
            width: 1.111vw;
            height: 1.111vw;
        }
    }


    &__features {
        display: flex;
        align-items: center;
        gap: 0.694vw;
        margin-top: 2.222vw;

        p {
            color: #8A8BA0;
            font-size: 0.833vw;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
        }

        p:nth-child(1) {
            &::after {
                content: '';
                background: url('../img/untitled.svg') no-repeat center top / cover;
                width: 0.347vw;
                height: 0.972vw;
                margin-left: 0.694vw;
            }
        }

        p:nth-child(2) {
            &::after {
                content: '';
                background: url('../img/untitled.svg') no-repeat center top / cover;
                width: 0.347vw;
                height: 0.972vw;
                margin-left: 0.694vw;
            }
        }
    }
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;

    .container {
        display: flex;
        align-items: center;
    }

    &__item {
        width: 12.361vw;
        height: 5.408vw;
        opacity: 0.3;
    }
}

.products {
    padding-top: 4.583vw;

    &__titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.972vw;
    }

    &__pretitle {
        color: var(--success, #07BF82);
        text-align: center;
        font-size: 1.042vw;
        font-weight: 500;
        line-height: normal;
    }

    &__title {
        width: 55.556vw;
        color: var(--black, #000);
        text-align: center;
        font-size: 3.333vw;
        font-weight: 600;
        line-height: 4.444vw;
    }

    &__wrap {
        margin-top: 4.236vw;
        padding-top: 4.167vw;
        width: 100%;
        height: 50.347vw;
        border-radius: 1.389vw;
        background: var(--gray-200, #F6F3F0);
    }
}