html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 84.828vw;
  margin: 0 auto;
}


h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500 !important;

}

td,
tr {
  padding: 0;
}


/* custom select */

.custom-select {
  position: relative;
  display: inline-block;
  width: 26.799vw;
}

.select-selected {
  background-color: #f2f2f2;
  padding-top: 0.938vw;
  padding-bottom: 0.938vw;
  padding-left: 2.086vw;
  padding-right: 1.199vw;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.782vw;
  line-height: 0.73vw;
  letter-spacing: 0.01vw;
  color: #B9BABE;
  width: 26.799vw;
  background: #FFFFFF;
  border: 0.052vw solid #D7DEE6;
  box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
  border-radius: 0.417vw;
}

.select-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.199vw;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0.261vw solid transparent;
  border-right: 0.261vw solid transparent;
  border-top: 0.261vw solid #555;
}

.select-selected.select-arrow-active {
  border-bottom: none;
  border-bottom-right-radius: 0vw;
  border-bottom-left-radius: 0vw;
}

.select-selected.select-arrow-active:after {
  transform: translateY(-50%) rotate(-180deg);
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-border-bottom-right-radius: 0.417vw;
  -webkit-border-bottom-left-radius: 0.417vw;
  -moz-border-radius-bottomright: 0.417vw;
  -moz-border-radius-bottomleft: 0.417vw;
  border-bottom-right-radius: 0.417vw;
  border-bottom-left-radius: 0.417vw;
  overflow: hidden;
  border: 0.052vw solid #D7DEE6;
  box-shadow: 0vw 0.1vw 0.126vw 0.032vw #D7DEE6;
  border-top: none;
}

.select-selected.select-arrow-active .select-items {
  border-top: 0vw;
}

.select-hide {
  display: none;
}

.select-option {
  width: 100%;
  height: 2.242vw;
  background: #fff;
  mix-blend-mode: normal;
  width: 26.694vw;
  height: 2.242vw;
  padding: 0.678vw 2.033vw;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.782vw;
  line-height: 0.834vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.01vw;
  position: relative;
  color: #8D919B;
}

.select-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  mix-blend-mode: normal;
}

.select-option:hover {
  color: #869DC8;
}

.select-option:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.66deg, #D6DDE6 4.45%, rgba(232, 241, 238, 0.93) 95.55%, rgba(255, 255, 255, 0.19) 110.55%);
  mix-blend-mode: normal;
  opacity: 0.3;
  z-index: 999;
}



.new__custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 26.799vw;
}

.new__custom-select {
  position: absolute;
  width: 100%;
}

.new__custom-select__trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.938vw;
  padding-bottom: 0.938vw;
  padding-left: 2.086vw;
  padding-right: 1.199vw;
  font-weight: 300;
  font-size: 0.782vw;
  line-height: 0.73vw;
  letter-spacing: 0.01vw;
  color: #B9BABE;
  background: #FFFFFF;
  border: 0.052vw solid #D7DEE6;
  box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
  border-radius: 0.417vw;
  cursor: pointer;
}


.arrow {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.199vw;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0.261vw solid rgba(0, 0, 0, 0);
  border-right: 0.261vw solid rgba(0, 0, 0, 0);
  border-top: 0.261vw solid #555;
}

.new__custom-select.open .arrow {
  transform: rotate(-180deg);
}

.new__custom-select.open {
  height: 15.641vw;
}

.new__custom-options {
  position: absolute;
  display: none;
  top: 2.607vw;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #1c87c9;
  overflow-y: scroll;
  max-height: 15.641vw;
  background: #FFFFFF;
  border: 0.052vw solid #D7DEE6;
  box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
  border-radius: 0.417vw;
  scrollbar-width: none;
}

.new__custom-options::-webkit-scrollbar {
  display: none !important;
}

.new__custom-select-container {
  position: relative;
  height: 7.821vw;
  overflow: auto;
}

.new__custom-options {
  width: 100%;
}

.new__custom-option {
  cursor: pointer;
}

.custom-scrollbar {
  overflow: hidden;
  position: absolute;
  top: 3.521vw;
  right: 1.33vw;
  width: 0.313vw;
  height: 84%;
  background: linear-gradient(0deg, #eeeff3, #e0e4ec), #1F1F23;
  mix-blend-mode: normal;
  z-index: 99999;
  display: none;
  border-radius: 1.043vw;
}

.new__custom-select.open .custom-scrollbar {
  display: block;
}

.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  width: 0.313vw;
  border-radius: 1.043vw;
  background: #869DC8;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.new__custom-option {
  width: 23.931vw;
  padding-left: 2.033vw;
  font-size: 0.782vw;
  line-height: 0.834vw;
  letter-spacing: 0.01vw;
  color: #869DC8;
  background-color: #fff;
  cursor: pointer;
  height: 2.121vw;
  display: flex;
  align-items: center;
  position: relative;
}

.new__custom-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  mix-blend-mode: normal;
}

.new__custom-option:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.66deg, #D6DDE6 4.45%, rgba(232, 241, 238, 0.93) 95.55%, rgba(255, 255, 255, 0.19) 110.55%);
  mix-blend-mode: normal;
  opacity: 0.3;
  z-index: 999;
}

.new__custom-select.open .new__custom-select__trigger {
  border-bottom: 0;
  border-bottom-right-radius: 0vw;
  border-bottom-left-radius: 0vw;
}

.new__custom-select.open .new__custom-options {
  display: block;
  box-shadow: 0vw 0.1vw 0.126vw 0.032vw #D7DEE6;
  border-top: none;
  border-top-right-radius: 0vw;
  border-top-left-radius: 0vw;
}

.filter-select {
  position: relative;

  .select-selected {
    padding-left: 1.7vw;
  }

  .select-option {
    padding: 0.678vw 1.2vw;
  }

  /* Сховати оригінальний checkbox */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  /* Стилізувати контейнер для checkbox */
  .select-option {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  label {
    display: flex;
    align-items: center;
    z-index: 99999999;
    cursor: pointer;
  }

  /* Стилізувати checkbox */
  .select-option input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    width: 0.782vw;
    height: 0.782vw;
    background: url(../img/filter-nocheked.svg) no-repeat center top / cover;
    margin-right: 0.574vw;
  }

  /* Стилізувати checkbox, коли він відмічений */
  .select-option input[type="checkbox"]:checked+label:before {
    content: "";
    width: 0.782vw;
    height: 0.782vw;
    background: url(../img/filter-cheked.svg) no-repeat center top / cover;

  }

  /* Стилізувати текст для checkbox */
  .select-option label {
    font-weight: 300;
    font-size: 0.782vw;
    line-height: 0.834vw;
    letter-spacing: 0.01vw;
    color: #869DC8;
  }
}





.alert-popup {
  width: 13.399vw;
  height: 9.228vw;
  background: #FFFFFF;
  box-shadow: 0vw 0.209vw 1.303vw -0.209vw #8EA1BA;
  border-radius: 1.043vw;
  position: absolute;
  top: 8.921vw;
  right: 4.9vw;
  z-index: 999999999;
  padding: 1.668vw 2.19vw;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;

  p {
    font-size: 0.834vw;
    line-height: 1.668vw;
    letter-spacing: 0.011vw;
    color: #1B2438;
    text-align: center;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1.356vw;

    button {
      font-size: 0.834vw;
      line-height: 0.938vw;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.02vw;
      color: #FFFFFF;
      width: 3.91vw;
      height: 2.242vw;
      background: #869DC8;
      box-shadow: 0vw 0vw 0.261vw 0.052vw rgba(142, 161, 186, 0.6);
      border-radius: 0.521vw;
      border: none;
      cursor: pointer;
    }
  }
}

.alert-popup.active {
  visibility: visible;
  opacity: 1;
}