$font-family: 'Rubik';
$primary-color: #1B2438;
$secondary-color: #8D919B;
$tertiary-color: #869DC8;
$background-color: #FFFFFF;
$border-color: #D7DEE6;
$shadow-color: rgba(142, 161, 186, 0.25);
$placeholder-color: #B9BABE;