@import 'reset';
@import 'global';

* {
    font-family: 'Rubik';
}

body {
    font-style: normal;
    overflow-x: hidden;
    background: url(../img/content-bg.png) no-repeat center top / cover;
}

.header {
    z-index: 99999;
    width: 100%;
    height: 5.892vw;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0vw 0.209vw 0.521vw 0.156vw rgba(142, 161, 186, 0.25);

    .container {
        width: 100%;
        max-width: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3.858vw;
        padding-right: 11.314vw;
    }

    &__logo {
        width: 14.85vw;
        height: 5.892vw;
        border-right: 0.052vw solid #D7DEE6;
        display: flex;
        align-items: center;

        img {
            width: 12.044vw;
            height: 3.024vw;
        }
    }

    &__avatar {
        width: 6.257vw;
        height: 4.901vw;
        position: relative;
        display: flex;
        align-items: center;

        .avatar-img {
            width: 3.65vw;
            height: 3.65vw;
            background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
            box-shadow: 0vw 0vw 0.563vw rgba(142, 161, 186, 0.61);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;

            img {
                width: 2.503vw;
                height: 2.398vw;
            }
        }
    }

    &__avatar::after {
        content: '';
        background: url(../img/avatar-arrow.svg) no-repeat center top / cover;
        width: 0.73vw;
        height: 0.417vw;
        position: absolute;
        left: 4.8vw;
    }
}

.another__wrapper {
    display: grid;
    grid-template-columns: 1fr 100%;


    .sidebar {
        width: 18.7vw;
        height: 100%;
        border-right: 0.052vw solid #D7DEE6;
        background: #fff;

        .sidemenu {
            padding: 0;

            .sidemenu__item {
                width: 100%;
                background: #fff;
                mix-blend-mode: normal;

                .sidemenu__item-link {
                    width: 100%;
                    height: 3.337vw;
                    font-size: 0.782vw;
                    line-height: 0vw;
                    letter-spacing: 0.01vw;
                    color: #8D919B;
                    display: flex;
                    align-items: center;
                    padding-left: 4.275vw;
                }

                .sidemenu__item-link::before {
                    content: '';
                    background: url(../img/menu-icon-1.svg) no-repeat center top / cover;
                    width: 1.095vw;
                    height: 1.095vw;
                    margin-right: 0.782vw;
                }

                .sidemenu__item-link::after {
                    content: '';
                    background: url(../img/menu-arrow-disable.svg) no-repeat center top / cover;
                    width: 0.469vw;
                    height: 0.261vw;
                    margin-left: 0.521vw;
                }

                .submenu {
                    li {
                        width: 100%;
                        height: 2.972vw;
                        background: #fff;
                        mix-blend-mode: normal;
                        display: flex;
                        align-items: center;

                        a {
                            font-size: 0.782vw;
                            line-height: 2.503vw;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.01vw;
                            color: #1B2438;
                            padding-left: 4.275vw;
                            opacity: 0.3;
                        }
                    }

                    li.active {
                        background: #f7f9f9;

                        a {
                            opacity: 1;
                        }
                    }
                }
            }

            .sidemenu__item:nth-child(2)>.sidemenu__item-link::before {
                content: '';
                background: url(../img/menu-icon-2.svg) no-repeat center top / cover;
                width: 1.095vw;
                height: 0.991vw;
            }

            .sidemenu__item:nth-child(3)>.sidemenu__item-link::before {
                content: '';
                background: url(../img/menu-icon-3.svg) no-repeat center top / cover;
                width: 1.095vw;
                height: 1.095vw;
            }

            .sidemenu__item:nth-child(4)>.sidemenu__item-link::before {
                content: '';
                background: url(../img/menu-icon-4.svg) no-repeat center top / cover;
                width: 1.147vw;
                height: 1.095vw;
            }

            .sidemenu__item:nth-child(3)>.sidemenu__item-link::after {
                display: none;
            }

            .sidemenu__item:nth-child(4)>.sidemenu__item-link::after {
                display: none;
            }

            li.active {
                background: #f3f5f7;

                .sidemenu__item-link::after {
                    content: '';
                    background: url(../img/menu-arrow.svg) no-repeat center top / cover;
                    width: 0.469vw;
                    height: 0.261vw;
                    margin-left: 0.521vw;
                }

                .sidemenu__item-link {
                    color: #1B2438;
                }
            }
        }
    }

    .content {
        width: 64.129vw;
        height: 69.552vw;
        background: #FFFFFF;
        box-shadow: 0vw 0.209vw 1.303vw -0.209vw #8EA1BA;
        border-radius: 1.356vw;
        margin: 5.214vw 0 0 5.683vw;
        padding: 3.076vw 3.962vw 5.683vw 4.119vw;
        position: relative;

        .leaves {
            background: url(../img/lavelas.png) no-repeat center top / cover;
            width: 100%;
            height: 30.657vw;
            position: absolute;
            left: 0;
            top: 4.10vw;
        }

        h2 {
            height: 4.067vw;
            text-align: center;
            font-weight: 500;
            font-size: 1.303vw;
            line-height: 1.147vw;
            letter-spacing: 0.278vw;
            color: #1B2438;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3.18vw;
        }

        h2::after {
            content: '';
            background: url(../img/title-line.svg) no-repeat center top / cover;
            width: 100%;
            height: 0.104vw;
            position: absolute;
            top: 3.858vw;
        }

        .account-setting {
            z-index: 999;
            position: relative;

            label {
                font-family: 'Rubik';
                display: flex;
                flex-direction: column;
                font-size: 0.834vw;
                line-height: 2.503vw;
                letter-spacing: 0.011vw;
                color: #869DC8;
            }

            .account-owner {
                display: flex;

                .custom-select {
                    position: relative;
                    display: inline-block;
                    width: 26.799vw;
                }

                .select-selected {
                    background-color: #f2f2f2;
                    padding-top: 0.938vw;
                    padding-bottom: 0.938vw;
                    padding-left: 2.086vw;
                    padding-right: 1.199vw;
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 0.782vw;
                    line-height: 0.73vw;
                    letter-spacing: 0.01vw;
                    color: #B9BABE;
                    width: 26.799vw;
                    background: #FFFFFF;
                    border: 0.052vw solid #D7DEE6;
                    box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
                    border-radius: 0.417vw;
                }

                .select-selected:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 1.199vw;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-left: 0.261vw solid transparent;
                    border-right: 0.261vw solid transparent;
                    border-top: 0.261vw solid #555;
                }

                .select-selected.select-arrow-active {
                    border-bottom: none;

                    border-bottom-right-radius: 0vw;
                    border-bottom-left-radius: 0vw;
                }

                .select-selected.select-arrow-active:after {
                    transform: translateY(-50%) rotate(-180deg);
                }

                .select-items {
                    border-top: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    z-index: 99;
                    -webkit-border-bottom-right-radius: 0.417vw;
                    -webkit-border-bottom-left-radius: 0.417vw;
                    -moz-border-radius-bottomright: 0.417vw;
                    -moz-border-radius-bottomleft: 0.417vw;
                    border-bottom-right-radius: 0.417vw;
                    border-bottom-left-radius: 0.417vw;
                    overflow: hidden;
                    border: 0.052vw solid #D7DEE6;
                    box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
                }

                .select-selected.select-arrow-active .select-items {
                    border-top: 0vw;
                }

                .select-hide {
                    display: none;
                }

                .select-option {
                    width: 100%;
                    height: 2.242vw;
                    background: #fff;
                    mix-blend-mode: normal;
                    width: 26.694vw;
                    height: 2.242vw;
                    padding: 0.678vw 2.033vw;
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 0.782vw;
                    line-height: 0.834vw;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01vw;
                    position: relative;
                    color: #8D919B;
                }

                .select-option::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    z-index: -1;
                    mix-blend-mode: normal;
                }

                .select-option:hover {
                    color: #869DC8;
                }

                .select-option:hover::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(83.66deg, #D6DDE6 4.45%, rgba(232, 241, 238, 0.93) 95.55%, rgba(255, 255, 255, 0.19) 110.55%);
                    mix-blend-mode: normal;
                    opacity: 0.3;
                    z-index: 999;
                }


                button {
                    font-size: 0.782vw;
                    line-height: 0.782vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.007vw;
                    color: rgba(27, 36, 56, 0.4);
                    width: 6.257vw;
                    height: 2.555vw;
                    background: #FAFCFB;
                    box-shadow: 0vw 0vw 0.313vw 0.156vw rgba(142, 161, 186, 0.25);
                    border-radius: 0.417vw;
                    border: none;
                    cursor: pointer;
                    margin-left: 2.398vw;
                    margin-top: 2.5vw;
                }
            }

            .company-info {
                margin-top: 5.683vw;

                input {
                    width: 26.799vw;
                    height: 2.555vw;
                    background: #FFFFFF;
                    border: 0.052vw solid #D7DEE6;
                    box-shadow: 0vw 0vw 0.156vw 0.052vw #D7DEE6;
                    border-radius: 0.417vw;
                    padding-top: 0.886vw;
                    padding-bottom: 0.886vw;
                    padding-left: 2.086vw;
                    padding-right: 2.086vw;
                    font-size: 0.782vw;
                    line-height: 0.73vw;
                    letter-spacing: 0.01vw;
                    color: #1b2438;
                }
                
                input::placeholder {
                    font-size: 0.782vw;
                    line-height: 0.73vw;
                    letter-spacing: 0.01vw;
                    color: #B9BABE;
                }
            }
        }
    }
}