@media (max-width: 1600px) {
    :root {
        --base-unit: 1.8px;
    }

    .features__products-list {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
}

@media (max-width: 1440px) {
    :root {
        --base-unit: 1.7px;
    }
}

@media (max-width: 1280px) {
    :root {
        --base-unit: 1.5px;
    }

    .features__products-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 1200px) {
    .hero__illustration {
        position: initial;
    }
}

@media (max-width: 1024px) {
    :root {
        --base-unit: 1.4px;
    }

    .features__products-list {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}

@media screen and (max-width: 900px) {
    .features__products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .pricing-new .cards-list.act {
        justify-content: center;
    }

    .pricing-new .control-panel {
        justify-content: center;
    }

    .trust__block .features {
        justify-content: space-around;
    }

    .worldwide__items {
        justify-content: center;
    }


    .reviews__wrap {
        justify-content: space-around;
    }

    .reviews__line {
        display: none;
    }

    .cards-v2 .fcards-v2__list {
        justify-content: center;
    }

    .exploration__wrap {
        flex-direction: column;
        align-items: center;
    }

    .exploration__research {
        width: 100%;
        max-width: var(--exploration-blog-max-width);
    }

    .exploration__research-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .exploration__research-item {
        max-width: 100%;
    }

    .exploration__blog-item .author .author-icon {
        width: 24px;
        height: 24px;
    }
}


@media screen and (max-width: 768px) {
    :root {
        --base-unit: 2px;
    }

    .main {
        margin-top: 73px;
    }

    .container {
        max-width: 100%;
        padding: 0 var(--container-padding-mobile);
    }

    .module-section {
        padding: var(--spacing-7xl) 0;
    }

    h1 {
        font-size: var(--font-display-md-size);
        line-height: var(--font-display-md-line-height);
        letter-spacing: var(--font-display-md-letter-spacing);
    }

    h2 {
        font-size: var(--font-display-sm-size);
        line-height: var(--font-display-sm-line-height);
    }

    h3 {
        font-size: var(--font-display-xs-size);
        line-height: var(--font-display-xs-line-height);
    }

    .titles {
        margin-bottom: var(--spacing-4xl);
    }

    .display-xs-medium {
        font-size: var(--font-text-xl-size);
    }

    .text-lg-button {
        font-size: var(--font-text-md-size);
    }

    .btn-primary,
    .btn-secondary {
        font-size: var(--font-text-md-size);
        height: var(--spacing-6xl);
    }

    /* hero module */
    .hero__illustration {
        display: none;
    }

    .hero__content {
        width: 100%;
    }

    .hero__reviews {
        width: 100%;
        justify-content: center;
    }

    .hero__reviews img {
        width: 77px;
        height: auto;
    }

    .hero__title {
        text-align: center;
    }

    .hero__desc {
        text-align: center;
    }

    .hero .check-list {
        display: none;
    }

    .hero__cta {
        justify-content: center;
    }

    /* logos module */
    .logos .items {
        gap: var(--spacing-4xl);
    }

    .logos .items img {
        height: auto;
    }

    /* benefits module */
    .benefits .container {
        gap: var(--spacing-6xl);
    }

    .benefits__icon {
        width: 64px;
        height: 64px;
        padding: 17.6px;
        border-radius: var(--radius-8);
        border: 1px solid var(--color-base-white);
        box-shadow: var(--shadow-lg);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    .benefits__icon img {
        width: 28.8px;
        height: 28.8px;
    }

    /* features module */
    .features__text-with-image {
        flex-direction: column;
        gap: var(--spacing-5xl);
    }

    .features__text-with-image .content {
        order: 2;
    }

    .features__products-list {
        justify-content: flex-start;
    }

    .features__illustration .union {
        display: block;
        width: 470px;
        height: 410px;
    }

    .features__illustration::before {
        width: 158.296px;
        height: 332.233px;
        border-radius: 332.233px;
        background: radial-gradient(1329.47% 61.47% at 50% 59.7%, #9FA9FA 0%, #FFF 100%);
        -webkit-filter: blur(62.68844223022461px);
        filter: blur(62.68844223022461px);
    }

    .features__illustration::after {
        width: 271.413px;
        height: 133.353px;
        transform: rotate(-111.481deg);
        border-radius: 271.413px;
        background: radial-gradient(442.25% 71.72% at 49.29% 312.72%, #FFF 0%, #00A3FF 100%);
        -webkit-filter: blur(62.68844223022461px);
        filter: blur(62.68844223022461px);
        top: 128px;
        right: 0;
    }

    /* cards */
    .our-features__grid>.our-features__card:nth-child(1n) {
        margin: 0;
    }

    .our-features__card {
        margin: 0;
        padding: var(--spacing-3xl) var(--spacing-xl);
        position: relative;
    }

    .our-features__card:nth-child(1n):after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0%;
        height: 2.052px;
        top: 100%;
        transform: translate(0);
        background: linear-gradient(to left, rgba(223, 223, 231, 0), #DFDFE7, rgba(223, 223, 231, 0));
    }

    .our-features__card:last-child:after {
        display: none;
    }

    .our-features__card-heading {
        gap: var(--spacing-md);
        margin-bottom: 0;
    }

    .our-features__card-heading>a {
        font-size: var(--font-text-md-size);
        line-height: var(--font-text-xl-line-height);
    }

    .our-features__card-heading img {
        width: 20px;
        height: 20px;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .our-features__card-content {
        font-size: var(--font-text-sm-size);
        line-height: var(--font-text-sm-line-height);
    }

    .our-features__card-content p {
        font-size: var(--font-text-sm-size);
        line-height: var(--font-text-sm-line-height);
    }

    .accordion-icon {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: auto;
        background-image: url(https://25298778.fs1.hubspotusercontent-eu1.net/hubfs/25298778/down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
    }

    .accordion.is-open .accordion-icon {
        transform: rotate(180deg);
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s;
    }

    .our-features__card-content.is-open {
        margin-top: var(--spacing-md);
    }

    .active .our-features__grid {
        display: grid;
        padding: 41px 0;
        grid-template-columns: 1fr;
    }

    .style_3 .our-features__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .style_4 .our-features__grid {
        display: grid;
        padding: 41px 0;
        grid-template-columns: 1fr;
    }

    .style_4 .accordion-icon {
        display: none;
    }

    .style_4 .our-features__card {
        max-width: unset;
    }

    .style_4 .our-features__card-heading {
        justify-content: flex-start;
    }

    .style_4 .our-features__card-content {
        margin-top: var(--spacing-md);
        max-height: unset;
    }

    .style_4 .our-features__hybrid-section_content {
        text-align: left;
    }

    .style_5 .our-features__grid {
        display: grid;
        padding: 41px 0;
        grid-template-columns: 1fr;
    }

    .style_5 .accordion-icon {
        display: none;
    }

    .style_5 .our-features__card {
        max-width: unset;
    }

    .style_5 .our-features__card-content {
        margin-top: var(--spacing-md);
        max-height: unset;
    }

    .style_6 .our-features__grid {
        display: grid;
        padding: 41px 0;
        grid-template-columns: 1fr;
    }

    .style_6 .accordion-icon {
        display: none;
    }

    .style_6 .our-features__card {
        max-width: unset;
    }

    .style_6 .our-features__card-heading {
        justify-content: flex-start;
    }

    .style_6 .our-features__card-content {
        margin-top: var(--spacing-md);
        max-height: unset;
    }

    .style_6 .our-features__hybrid-section_content {
        text-align: left;
    }



    /* pricing-new module */
    .pricing-new .pricing-cards-wrap {
        padding-top: var(--spacing-7xl);
        padding-bottom: var(--spacing-7xl);
    }

    .pricing-new .cards-list-item {
        width: 100%;
    }

    .pricing-new .pricing-cards .gradient-wrap {
        display: none;
    }

    .pricing-new .pricing-info .name {
        font-size: var(--font-text-xl-size);
    }

    .pricing-new .pricing-btn {
        padding: var(--spacing-lg) var(--spacing-2xl);
        font-size: var(--font-text-md-size);
    }

    .pricing-new .leaders-logos-list {
        gap: var(--spacing-md);
    }

    .pricing-new .leaders-logos .leaders-swiper-slide {
        padding: 11.25px 21px 12.5px 22px;
    }

    .pricing-new .pricing-table {
        display: none !important;
    }

    .pricing-new .pricing-table-mobile {
        display: block !important;
    }

    .pricing-new .compare-plans {
        padding: var(--spacing-7xl) 0;
        padding-bottom: 0;
    }

    .pricing-new .compare-plans .compare-control {
        flex-direction: column;
        gap: var(--spacing-4xl);
        margin-bottom: 0;
    }


    .pricing-new .compare-plans .control-panel {
        justify-content: center;
        order: 2;
    }

    .pricing-new .compare-plans .gradient {
        display: none;
    }

    .slider-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        left: 0;
        padding-left: var(--spacing-md);
        padding-top: var(--spacing-xl);
    }

    div:has(>.table-mobile-item) {
        max-width: 100%;
        padding: var(--spacing-sm);
        box-sizing: border-box;
    }

    .slider-wrapper {
        display: flex;
        transition: transform 0.3s ease-out;
    }

    .slider-wrapper.active {
        transition: none;
    }

    .slider-wrapper.active,
    .slider.active a {
        cursor: -webkit-grab;
        cursor: grab;
    }

    .slider-wrapper.active+.slider-indicator-bar .slider-indicator {
        transition: none;
    }

    .table-mobile-item {
        width: 100%;
        height: auto;
        border-radius: var(--radius-12);
        background: var(--color-base-white);
        box-shadow: var(--shadow-md);
        touch-action: pan-y;
        display: none;
    }

    .table-mobile-item.act {
        display: block;
    }

    .plan-name p {
        color: var(--color-base-black);
        text-align: center;
        font-size: var(--font-display-xs-size);
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-xl);
    }

    .pricing-table-mobile .cat {
        margin-top: var(--spacing-xl);
    }

    .pricing-table-mobile .top {
        display: flex;
        padding: var(--spacing-xl);
        align-items: center;
        gap: var(--spacing-md);
        border-radius: var(--radius-8);
        background: rgba(145, 158, 171, 0.16);
        margin-left: var(--spacing-md);
        margin-right: var(--spacing-md);
    }

    .pricing-table-mobile .top .cat-name {
        color: var(--color-brand-primary);
        font-size: var(--font-text-md-size);
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        position: relative;
    }

    .pricing-table-mobile .top .cat-name .requests {
        color: var(--color-gray-description);
        font-size: var(--font-text-sm-size);
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.14px;
    }

    .info-trigger-mob {
        background: url("https://25298778.fs1.hubspotusercontent-eu1.net/hubfs/25298778/info-icon.svg") no-repeat center top / cover;
        width: 24px;
        height: 24px;
    }

    .pricing-table-mobile .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(145, 158, 171, 0.24);
        justify-content: space-between;
    }

    .pricing-table-mobile .item .info {
        display: flex;
        width: 486px;
        padding: var(--spacing-xl);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--spacing-md);
    }

    .pricing-table-mobile .item .info .name {
        color: var(--color-base-black);
        font-size: var(--font-text-md-size);
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
    }

    .pricing-table-mobile .item .info .desc {
        color: var(--color-gray-description);
        font-size: var(--font-text-sm-size);
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.14px;
    }

    .pricing-table-mobile .item .price {
        width: 136.688px;
        display: flex;
        padding: var(--spacing-xl);
        font-weight: 500;
        font-size: var(--font-text-md-size);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-sm);
    }

    .pricing-table-mobile .bottom {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        padding: var(--spacing-xl);
    }

    .pricing-table-mobile .bottom .price {
        color: var(--color-base-black);
        text-align: center;
        font-size: var(--font-text-xl-size);
        font-weight: 500;
        line-height: normal;
    }

    .pricing-table-mobile .bottom .price span {
        color: var(--color-gray-description);
        font-size: var(--font-text-lg-size);
        font-weight: 500;
        line-height: 40.491px;
    }

    .pricing-table-mobile .bottom .bottom-btn {
        color: var(--color-base-white);
        font-size: var(--font-text-md-size);
        font-weight: 500;
        line-height: var(--font-text-md-line-height);
        display: flex;
        padding: var(--spacing-md) var(--spacing-xl);
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
        border-radius: var(--radius-24);
        background: var(--color-base-black);
        box-shadow: var(--shadow-xs);
    }

    .pricing-table-mobile .slider-pagination {
        text-align: center;
        padding-top: var(--spacing-lg);
    }

    .pricing-table-mobile .slider-pagination .dot {
        width: var(--spacing-md);
        height: var(--spacing-md);
        margin: 0 var(--spacing-sm);
        background-color: #bbb;
        border-radius: var(--radius-full);
        display: inline-block;
    }

    .pricing-table-mobile .slider-pagination .dot.active {
        background-color: var(--color-brand-primary);
    }

    .table-mobile-item.starter .plan-name {
        color: var(--color-brand-primary);
    }

    .table-mobile-item.starter .item .price {
        color: var(--color-brand-primary);
    }

    .table-mobile-item.starter .bottom .bottom-btn {
        background: var(--color-brand-primary);
        box-shadow: var(--shadow-xs);
    }

    .table-mobile-item .info-popup-mob {
        position: absolute;
        width: 319px;
        min-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-xs);
        border-radius: var(--radius-4);
        background: var(--color-base-white);
        transition: 0.4s;
        box-shadow: var(--shadow-md);
        color: var(--color-base-black);
        font-size: var(--font-text-md-size);
        line-height: 1.5;
        letter-spacing: -0.032px;
        padding: var(--spacing-md) !important;
        left: var(--spacing-xl);
        top: 13%;
        z-index: 9999999999999;
        opacity: 0;
        visibility: hidden;
    }

    .pricing-new .features {
        padding: var(--spacing-7xl) 0;
        padding-bottom: 0;
    }

    .pricing-new .features-wrap {
        margin-top: var(--spacing-4xl);
        gap: var(--spacing-3xl);
    }

    .pricing-new .features-wrap-item {
        min-width: 100%;
    }

    .pricing-new .features-wrap-item .top {
        padding: var(--spacing-lg) var(--spacing-xl);
    }

    .pricing-new .features-list-wrap {
        padding: var(--spacing-xl);
        gap: var(--spacing-3xl);
    }

    .pricing-new .features-text {
        max-width: 255px;
    }

    .pricing-new .features-text .name {
        font-size: var(--font-text-lg-size);
        line-height: var(--font-text-lg-line-height);
    }


    /* cta info module */

    .contacts__block {
        padding: var(--spacing-3xl);
    }

    .contacts__block::after {
        display: none;
    }

    .contacts__block::before {
        top: var(--spacing-xl);
    }

    .contacts__btns {
        flex-direction: column;
    }

    /* data sources module */
    .data-sources .category:nth-child(1)::before {
        display: none;
    }

    .data-sources .category:last-child::after {
        display: none;
    }

    .data-sources__categories {
        gap: 0;
    }

    .data-sources .category {
        margin-top: var(--spacing-xl);
        gap: var(--spacing-md);
    }

    /* trust module */
    .trust__block {
        margin-top: 0;
        padding: var(--spacing-3xl);
    }

    .trust__block .features {
        gap: var(--spacing-3xl);
    }

    .trust__block .icon {
        width: 64px;
        height: 64px;
        border-radius: var(--radius-8);
        box-shadow: var(--shadow-lg);
    }

    .trust__block .icon img {
        width: 28.8px;
        height: 28.8px;
    }

    .trust__block .logos {
        gap: var(--spacing-4xl);
    }

    /* location module */
    .worldwide__items {
        gap: var(--spacing-4xl);
        justify-content: center;
    }

    .worldwide__items-item {
        width: 155px;
        gap: var(--spacing-lg);
    }

    .worldwide__items-item .name {
        font-size: var(--font-text-md-size);
        line-height: var(--font-text-md-line-height);
    }

    .worldwide__items-item .ips {
        font-size: var(--font-text-sm-size);
    }

    .worldwide__items-item img {
        width: 42px;
        height: 30px;
    }


    /* reviews module */

    .reviews {
        position: relative;
    }

    .reviews .titles {
        padding: 0 16px;
    }

    .reviews__wrap::after {
        border-radius: 152.438px;
        opacity: 0.5;
        background: radial-gradient(442.25% 71.72% at 49.29% 312.72%, #FFF 0%, #00A3FF 100%);
        filter: blur(50.81279754638672px);
        width: 241.869px;
        height: 321.203px;
    }

    .reviews__wrap::before {
        width: 241.869px;
        height: 321.203px;
        border-radius: 152.438px;
        opacity: 0.5;
        background: radial-gradient(442.25% 71.72% at 49.29% 312.72%, #FFF 0%, #9FA9FA 100%);
        filter: blur(50.81279754638672px);
    }

    .reviews__wrap {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth; // Додаємо плавну прокрутку
        width: 100vw; // Повна ширина екрана
        flex-wrap: nowrap;
        background: none;
        padding: 16px;
    }

    .reviews__item {
        flex: 0 0 100%; // Кожен слайд займає 100% ширини
        padding: 24px;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.80);
        max-width: 100%; // Видаляємо обмеження ширини
    }

    .reviews__mobile-nav {
        position: absolute;
        bottom: -44px;
        display: flex!important;
        justify-content: space-between;
        width: 100%;


        .nav-button {
            touch-action: manipulation;
            margin: 0 32px;
            display: flex;
            padding: 10px;
            align-items: center;
            gap: 8px;
            border-radius: 100px;
            border: 1px solid var(--Divider-gray, rgba(145, 158, 171, 0.24));
        }
    }



    /* cards module */
    .cards-v2 .fcards-v2__list {
        margin-top: 0;
    }

    .cards-v2__list-item {
        padding: var(--spacing-xl);
        gap: var(--spacing-xl);
    }

    .cards-v2__list-item .name {
        font-size: var(--font-text-lg-size);
        line-height: var(--font-text-lg-line-height);
    }

    .cards-v2__list-item .icon {
        width: 24px;
        height: 24px;
    }

    /* blog list module */
    .exploration__blog {
        max-width: 100%;
    }

    .exploration__blog-items {
        gap: var(--spacing-5xl);
    }

    .exploration__blog-item {
        max-width: 100%;
    }

    .exploration__blog-item .image {
        width: 100%;
        height: auto;
    }

    .exploration__wrap {
        gap: var(--spacing-6xl);
    }

}