

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format('woff2');
   font-display: swap;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
   font-display: swap;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAewA.woff2) format('woff2');
   font-display: swap;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
   font-display: swap;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw1.woff2) format('woff2');
   font-display: swap;
}


.second-nav span {
    color: #f5f8fa;
    font-weight: 600;
    padding: 0 6px;
    text-decoration: none;
    font-size: 15px;
    font-family: Open Sans;
}

.footer-nav-2 span {
    color: #272727;
    font-weight: 600;
    font-family: Open Sans;
    padding: 0 6px;
    text-decoration: none;
}