


@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/MullerBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MullerRegular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/MullerMedium.woff2") format("woff2");
    font-display: swap;
}