@font-face {
    font-family: "Muller-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Muller-Bold") format("opentype");
}

@font-face {
    font-family: "Muller-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Muller-Regular") format("opentype");
}

@font-face {
    font-family: "Muller-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.animaapp.com/Muller-Medium") format("opentype");
}