@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    font-weight: 400;
}

.header {
    width: 100%;
    padding-top: 2.083vw;
    padding-bottom: 5.781vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 6.146vw;
        display: block;
    }

    &__logo img {
        width: 6.771vw;
        height: 2.448vw;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu-item {
        margin-right: 3.333vw;
    }

    &__menu-link {
        font-size: 0.938vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__lang {
        display: flex;
        align-items: center;
    }

    &__lang-text {
        font-size: 0.938vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-right: 1.198vw;
    }

    &__lang-btn {
        width: 2.500vw;
        height: 1.354vw;
        border-radius: 17.8571vw;
        border: 0.104vw solid #DBD6DD;
        padding: 0.156vw;
    }

    &__lang-btn span {
        display: block;
        width: 0.833vw;
        height: 0.833vw;
        border-radius: 100%;
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
    }
}

.header-hide {
    display: none;
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
    backdrop-filter: blur(7.5px);
    padding-bottom: 1.302vw;
    z-index: 99999999999999999999999999999;
}

.header-hide.active {
    display: block;
}

.header-hide .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fancybox__container {
    z-index: 99999999999999999999999999999999999 !important;
}

.intro .container {
    position: relative;
}

.intro {
    background: url(../img/intro-bg.png) no-repeat center top / cover;
    width: 100%;
    height: 47vw;

    &__left {
        z-index: 999999999999999;
    }

    &__left h1 {
        width: 31.469vw;
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 2.135vw;
    }

    &__left h1 span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: inline-flex;
    }

    &__desc {
        display: flex;
        align-items: center;
        margin-bottom: 3.229vw;
    }

    &__desc-blob {
        display: flex;
        margin-right: 1.146vw;
    }

    &__desc-blob span {
        width: 0.781vw;
        height: 0.781vw;
        border-radius: 100%;
        border: 0.104vw solid #DBD6DD;
        margin-right: 0.260vw;
    }

    &__desc-blob span.blob-active {
        border: none;
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
    }

    &__desc-text {
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        display: flex;
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__btns-btn {
        width: 12.448vw;
        height: 5.208vw;
        background: #fff;
        border-radius: 2.865vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.781vw;
        position: relative;
        transition: 0.3s;
    }

    &__btns-btn p {
        font-size: 1.250vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        transition: 0.3s;
    }

    &__btns-btn:hover {
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        transition: 0.3s;
    }

    &__btns-btn:hover p {
        background: linear-gradient(315deg, #ffffff 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__btns-btn::after {
        position: absolute;
        top: -0.052vw;
        bottom: -0.052vw;
        left: -0.062vw;
        right: -0.052vw;
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        content: '';
        z-index: -1;
        border-radius: 2.865vw;
        transition: 0.3s;
    }

    &__btns-btn.active {
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        transition: 0.3s;
    }

    &__btns-btn.active {
        width: 15.625vw;
        color: #fff;
        font-size: 1.250vw;
        line-height: 150%;
        letter-spacing: -0.03em;
    }

    &__btns-btn.active:hover {
        box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgba(151, 51, 238, 0.76);
        -webkit-box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgba(151, 51, 238, 0.76);
        -moz-box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgba(151, 51, 238, 0.76);
    }

    &__btns-btn.active::after {
        display: none;
    }

    &__down {
        margin-top: 1.042vw;
        display: flex;
        align-items: center;
        margin-left: 7.240vw;
    }

    &__down svg {
        width: 0.885vw;
        height: 8.958vw;
    }

    &__down-btn {
        font-size: 0.833vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-left: 0.938vw;
        margin-top: 0.521vw;
    }
}

.intro__desc-text {
    background: #fff;
    max-width: max-content;
}

.intro__desc-wrap {
    margin-left: 4.156vw;
}

.intro__desc-blob span {
    width: 0.781vw;
    height: 0.781vw;
    border-radius: 100%;
    border: 0.104vw solid #dbd6dd;
    margin: 0 !important;
    margin-right: 0.26vw !important;
}

.swiper-pagination-bullet-active {
    border: none;
    background: -o-linear-gradient(135deg, #9733EE 0%, #DA22FF 100%);
    background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 1.561vw;
}


.solution .container {
    position: relative;
}

.solution {
    padding-top: 8.000vw;

    &__bg {
        background: url(../img/abtract-intro.webp) no-repeat no-repeat left top / cover;
        width: 20.719vw;
        height: 61.304vw;
        position: absolute;
        top: -36.281vw;
        left: -15.094vw;
    }

    &__header {
        display: flex;
    }

    &__header-desc {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        margin-right: 2.083vw;
        background: url(../img/leaders.webp) no-repeat;
        background-size: cover;
        background-position-x: 0;
        background-position-y: -0px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.4;
    }

    &__header-title {
        font-weight: 700;
        font-size: 7.760vw;
        line-height: 120%;
        text-align: right;
        letter-spacing: -0.03em;
        background: url(../img/solution-bg.webp) no-repeat;
        background-size: cover;
        background-position-x: 0px;
        background-position-y: -18.854vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        position: relative;
    }

    &__header-title::before {
        content: '';
        width: 100%;
        height: 1px;
        background: #DBD6DD;
        display: block;
        position: absolute;
        top: 48%;
        right: 98.7%;
        z-index: -1;
    }

    &__header-title::after {
        content: '';
        width: 21.719vw;
        height: 0.052vw;
        background: #DBD6DD;
        display: block;
        position: absolute;
        top: 48%;
        left: 98.7%;
        z-index: -1;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 2.604vw;
    }

    &__list-item {
        width: 22.841vw;
        height: 31.25vw;
        background: url(../img/solution-1.webp) no-repeat center top / cover;
        border-radius: 1.302vw;
        padding: 2.448vw 2.188vw;
        padding-right: 1.563vw;
    }

    &__list-item .solution__list-title {
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #272727;
        margin-bottom: 0.469vw;
    }

    &__list-item .solution__list-desc {
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__list-item:nth-child(2) {
        background: url(../img/solution-2.webp) no-repeat center top / cover;
    }

    &__list-item:nth-child(2)>h3 {
        color: #fff;
    }

    &__list-item:nth-child(2)>p {
        color: #fff;
    }

    &__list-item:nth-child(3) {
        background: url(../img/solution-3.webp) no-repeat center top / cover;
    }

    &__list-item:nth-child(3)>h3 {
        color: #fff;
    }

    &__list-item:nth-child(3)>p {
        color: #fff;
    }

}

.solve .wrapper {
    position: relative;
}

.solve {
    padding-top: 19.115vw;
    position: relative;

    &__right-bg {
        background: url(../img/solve-right.webp) no-repeat right top / cover;
        width: 39.271vw;
        height: 58.381vw;
        position: absolute;
        right: 0;
        top: -15.365vw;
        display: flex;
    }

    &__line {
        background: url(../img/solve-line.webp) no-repeat center top / cover;
        width: 100%;
        height: 9.333vw;
        position: absolute;
        top: 2.448vw;
        left: 0;
        z-index: -1;
    }

    &__header {
        display: flex;
        padding-bottom: 4.635vw;
    }

    &__header-left {
        width: 43.021vw;
        border-right: 0.104vw solid #DBD6DD;
    }

    &__content-title {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 100%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: rgba(0, 0, 0, 0);
    }

    &__content-title span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__content-desc {
        font-size: 1.250vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-top: 1.563vw;
    }

    &__header-author {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__author-bg {
        margin-left: 5.167vw;
        background: url(../img/solve-bg.webp) no-repeat center / cover;
        width: 7.604vw;
        height: 7.604vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        animation: 5s linear 0s normal none infinite running rot;
        -webkit-animation: 5s linear 0s normal none infinite running rot;
    }

    &__right-img {
        width: 4.688vw;
        height: 4.688vw;
        position: absolute;
        left: 6.6vw;
        top: 1.5vw;
    }

    &__right-img::before {
        content: '';
    }

    &__right-name {
        font-weight: 500;
        font-size: 0.938vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__right-info {
        font-size: 0.729vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__right-desc {
        width: 22.656vw;
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-left: 6.292vw;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list-item {
        width: 22.917vw;
        height: 36.458vw;
        position: relative;
        cursor: pointer;
        border-radius: 1.302vw;
        margin-bottom: 2.083vw;

    }

    &__list-item::after {
        z-index: -1;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #FFFFFF 0%, #F3F0F4 100%);
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        opacity: 1;
        border-radius: 1.302vw;
    }

    &__list-item:hover:after {
        opacity: 0;
    }

    &__list-item:hover>.solve__list-bg:after {
        opacity: 1;
    }

    &__list-bg {
        padding-top: 4.063vw;
        padding-left: 1.667vw;
        transition: 0.3s;
    }

    &__list-bg::after {
        z-index: -1;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        opacity: 0;
        background: url(../img/solve-hover.webp) no-repeat center top / cover;
    }

    &__list-item:nth-child(3)>.solve__list-bg {
        padding-top: 37px;
        padding-left: 75px;
    }

    &__list-item:nth-child(3)>.solve__list-bg img {
        width: 29.531vw;
        height: 20.469vw;
    }

    &__list-item:nth-child(4)>.solve__list-bg {
        padding-top: 2.031vw;
        padding-left: 2.552vw;
    }

    &__list-item:nth-child(4)>.solve__list-bg img {
        width: 16.563vw;
        height: 16.354vw;
    }

    &__list-item:nth-child(5)>.solve__list-bg {
        padding-top: 1.458vw;
        padding-left: 2.969vw;
    }

    &__list-item:nth-child(5)>.solve__list-bg img {
        width: 14.531vw;
        height: 17.552vw;
    }

    &__list-item:nth-child(6)>.solve__list-bg {
        padding-top: 2.031vw;
    }

    &__list-info {
        padding: 2.083vw 2.083vw;
        padding-top: 1.771vw;
        position: absolute;
        top: 51%;
        height: 16.354vw;
    }

    &__list-title {
        max-width: 14.583vw;
        font-weight: 700;
        font-size: 2.083vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__list-desc {
        max-width: 15.938vw;
        font-weight: 400;
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-top: 0.417vw;
    }

    &__list-btn {
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 10.938vw;
        height: 3.646vw;
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
    }

    &__info-list {
        display: flex;
        justify-content: space-between;
        margin-top: 4.427vw;
    }

    &__info-item {
        width: 16.667vw;
        height: 12.031vw;
        background: #F4F4F4;
        border-radius: 1.302vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
    }

    &__info-item:hover {
        background: #B82BF6;
        box-shadow: 0vw 2.865vw 3.385vw rgba(0, 0, 0, 0.08);
        transform: translate3d(0px, -0.521vw, 0px);
    }

    &__info-title {
        font-weight: 700;
        font-size: 2.083vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__info-title span {
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
    }

    &__info-desc {
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__info-item:hover .solve__info-title {
        color: #FFFFFF;
        background: linear-gradient(95.33deg, #fff 6.24%, #fff 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__info-item:hover .solve__info-desc {
        color: #FFFFFF;
    }
}


.feedback {
    padding-top: 8.073vw;
    position: relative;

    &__left-bg {
        background: url(../img/feedback-left.webp) no-repeat left top / cover;
        width: 35.695vw;
        height: 58.549vw;
        position: absolute;
        left: -5.292vw;
        top: -25.052vw;
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left svg {
        position: absolute;
        left: 38.365vw;
        top: 6.594vw;
    }

    &__left-title {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 100%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: rgba(0, 0, 0, 0);
        margin-bottom: 2.604vw;

    }

    &__left-title span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__left-form {
        max-width: 35.417vw;
    }

    &__form-input {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        padding-bottom: 0.781vw;
        margin-top: 1.979vw;
        width: 35.417vw;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #DBD6DD;
    }

    &__form-input::placeholder {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__form-check {
        margin-top: 2.708vw;
        width: 1.302vw;
        height: 1.302vw;
        margin-right: 0.781vw;
    }

    &__left-form label {
        font-size: 0.833vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        display: flex;
        align-items: flex-end;
        position: relative;
        bottom: 0.308vw;
    }

    &__left-form label a {
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        text-decoration: underline;
    }

    &__form-btn {
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 15.625vw;
        height: 5.208vw;
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-top: 2.188vw;
        cursor: pointer;
    }

    &__right {
        position: relative;
    }

    &__right-bg1 {
        background: url(../img/feedback-bg1.webp) no-repeat center top / cover;
        width: 29.167vw;
        height: 33.958vw;
        z-index: -1;
        position: absolute;
        top: 2.042vw;
        right: 0;
        transform: rotate(346deg);
    }

    &__right-bg2 {
        background: url(../img/feedback-bg2.webp) no-repeat center top / cover;
        width: 29.167vw;
        height: 36.667vw;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.questions {
    padding-top: 9.063vw;
    padding-bottom: 4.74vw;
    position: relative;
    overflow: hidden;

    &__bg {
        background: url(../img/questions-bg.webp) no-repeat right top / cover;
        width: 55.964vw;
        height: 55.964vw;
        position: absolute;
        right: -24.354vw;
        top: 1.698vw;
        animation: 40s linear 0s normal none infinite running rot;
        -webkit-animation: 40s linear 0s normal none infinite running rot;
    }

    &__title {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 100%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 4.531vw;
    }

    &__title span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__list {
        display: flex;
    }

    &__list-item {
        margin-right: 2.031vw;
    }


    &__item-header {
        width: 16.667vw;
        height: 4.688vw;
        background: #F4F4F4;
        border-radius: 1.302vw;
        padding: 0.365vw;
        display: flex;
        align-items: center;
    }

    &__header-img {
        width: 3.958vw;
        height: 3.958vw;
    }

    &__header-title {
        margin-left: 1.042vw;
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__item-list {
        width: 16.667vw;
        height: 18.438vw;
        border: 1px solid #DBD6DD;
        border-radius: 1.302vw;
        margin-top: 1.563vw;
        padding: 2.135vw 1.563vw;
    }

    &__text-item {

        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-bottom: 2.344vw;
        position: relative;
    }

    &__text-item::before {
        content: '';
        width: 2.969vw;
        height: 0.156vw;
        background: #9733EE;
        border-radius: 0.573vw;
        transform: rotate(90deg);
        display: block;
        position: absolute;
        left: -3.100vw;
        top: 1.625vw;
    }

    &__item-btn {
        font-size: 0.833vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16.719vw;
        height: 4.688vw;
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        margin-top: 1.563vw;
        transition: 0.3s;
    }

    &__item-btn:hover {
        box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -webkit-box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -moz-box-shadow: -0.104vw .521vw 2.5vw -0.469vw rgba(151, 51, 238, .76);
    }
}

.portfolio {
    padding-bottom: 8.177vw;
    position: relative;

    &__fon {
        width: 100%;
        position: absolute;
        top: 20.844vw;
        z-index: -1;
        left: 0;
        height: 136.302vw;
        background: linear-gradient(162.79deg, #FFFFFF 14.77%, rgba(229, 224, 232, 0.3) 79.83%);
    }

    &__bg {
        background: url(../img/portfolio-bg.webp) no-repeat center top / cover;
        width: 100%;
        height: 8.833vw;
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 3.646vw;
    }

    &__content {
        margin-top: 13.25vw;
    }

    &__title {
        font-weight: 700;
        font-size: 7.76vw;
        line-height: 120%;
        text-align: left;
        letter-spacing: -0.03em;
        background: url(../img/solution-bg.webp) no-repeat;
        background-size: cover;
        background-position-x: -73px;
        background-position-y: -65.854vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        display: -webkit-box;
        margin-bottom: 1.198vw;
    }

    &__tab-list {
        display: flex;
        align-items: center;
        margin-bottom: 3.646vw;
    }

    &__tab-list li {
        margin-right: 4.427vw;
    }

    &__tab-list li a {
        font-weight: 700;
        font-size: 1.354vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__tab-list li a.act {
        color: #272727;
    }

    &__tabsWrap {
        max-width: 72.917vw;
    }

    &__gallery1 .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: 0.3s;
    }

    &__gallery1 img {
        width: 35.26vw;
        height: 35.26vw;
        margin-bottom: 1.615vw;
        filter: grayscale(100%);
        transition: 0.3s;
        border-radius: 3.472vw;
    }

    &__gallery1 a:nth-child(3)>img {
        width: 100%;
        height: 41.042vw;
    }

    &__gallery1 a:nth-child(6)>img {
        width: 22.865vw;
        height: 22.396vw;
    }

    &__gallery1 a:nth-child(7)>img {
        width: 22.865vw;
        height: 22.396vw;
    }

    &__gallery1 a:nth-child(8)>img {
        width: 22.865vw;
        height: 22.396vw;
    }

    &__gallery1 a:hover img {
        filter: grayscale(0%);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 4.583vw;
    }

    &__footer p {
        width: 34.433vw;
        font-weight: 300;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        display: flex;
    }

    &__footer p::before {
        content: '';
        background: url(../img/circle.svg) no-repeat right top / cover;
        width: 6.177vw;
        height: 0.881vw;
        display: block;
        margin-right: 1.615vw;
    }

    &__footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 16.615vw;
        height: 5.208vw;
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        transition: 0.3s;
    }

    &__footer a:hover {
        box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -webkit-box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -moz-box-shadow: -0.104vw .521vw 2.5vw -0.469vw rgba(151, 51, 238, .76);
    }

    &__gallery2 {
        flex-direction: column;
    }

    &__gallery2.act>.portfolio__fon {
        height: 81.458vw;
    }

    &__gallery2-item {
        width: 72.917vw;
        height: 26.927vw;
        background: linear-gradient(285.26deg, #071825 39.29%, #0F314A 100%);
        border-radius: 1.302vw;
        margin-bottom: 2.083vw;
        padding-top: 3.333vw;
        padding-bottom: 3.854vw;
        padding-left: 3.333vw;
        padding-right: 3.646vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__gallery2-item:nth-child(2)::after {
        background: url(../img/mask1.webp) no-repeat center top / cover;
        filter: blur(0.651vw);
        z-index: 1;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 1;
        border-radius: 1.302vw;
    }

    &__gallery2-item:nth-child(3) {
        background: linear-gradient(105.26deg, #D0AB80 0%, #B69269 60.71%);
        border-radius: 1.302vw;
    }

    &__gallery2-item:nth-child(3) .portfolio__item-results .results {
        background: #D7AF81;
    }

    &__gallery2-item:nth-child(3) .portfolio__item-desc {
        color: #fff;
    }

    &__gallery2-item:nth-child(3) .portfolio__item-bottom p {
        color: #fff;
    }

    &__gallery2-info {
        z-index: 9999999;
    }

    &__gallery2-img {
        z-index: 9999999;
    }

    &__item-title {
        font-weight: 700;
        font-size: 2.083vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }

    &__item-desc {
        font-weight: 400;
        font-size: 0.885vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }

    &__item-results {
        margin-top: 1.927vw;
    }

    &__item-results p {
        font-size: 1.042vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
    }

    &__item-results .results {
        margin-top: 2.5vw;
        font-size: 1.042vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 17.292vw;
        height: 5.208vw;
        background: #113450;
        border-radius: 0.781vw;
        padding: 0.938vw 1.042vw;
        padding-right: 3.073vw;
    }

    &__item-bottom {
        margin-top: 2.344vw;
        display: flex;
        align-items: center;
    }

    &__item-bottom p {
        font-weight: 300;
        font-size: 0.729vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-right: 1.042vw;
    }

    &__gallery2-img {
        width: 38.854vw;
        height: 20.833vw;
    }

    &__gallery2-img img {
        width: 100%;
        height: 100%;
    }
}

#tabsWrap .tab {
    display: none;
    transition: 0.3s;
}

#tabsWrap .tab.act {
    display: flex;
    transition: 0.3s;
}

.implement {
    position: relative;
    padding-bottom: 10.156vw;

    &__bg {
        background: url(../img/implement-bg.webp) no-repeat left top / cover;
        position: absolute;
        width: 39.301vw;
        height: 54.142vw;
        left: -3.344vw;
        top: -31.24vw;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        position: relative;
    }

    &__illustration {
        background: url(../img/implement-anim.webp) no-repeat left top / cover;
        width: 29.219vw;
        height: 26.927vw;
        position: relative;
        margin-left: 2.396vw;
    }

    &__group1 {
        background: url(../img/group1.webp) no-repeat left top / cover;
        width: 29.323vw;
        height: 29.323vw;
        left: 0px;
        top: 0px;
        z-index: -1;
        position: absolute;
        animation: 15s linear 0s normal none infinite running rot;
        -webkit-animation: 15s linear 0s normal none infinite running rot;
    }

    &__group2 {
        background: url(../img/group2.webp) no-repeat left top / cover;
        width: 25.573vw;
        height: 25.885vw;
        left: 0;
        z-index: -1;
        position: absolute;
        left: 6.5%;
        top: 6.5%;
        animation: 15s linear 0s normal none infinite running rot2;
        -webkit-animation: 15s linear 0s normal none infinite running rot2;
    }

    &__right {
        margin-left: 5.781vw;
    }

    &__right-title {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 100%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: rgba(0, 0, 0, 0);
        margin-bottom: 1.771vw;
    }

    &__right-title span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__right-desc {
        width: 22.031vw;
        height: 3.75vw;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-bottom: 2.604vw;
    }

    &__right-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 15.625vw;
        height: 5.208vw;
        left: 51.042vw;
        top: 541.719vw;
        background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
        border-radius: 2.865vw;
        transition: 0.3s;
    }

    &__right-btn:hover {
        box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -webkit-box-shadow: -0.104vw 0.521vw 2.5vw -0.469vw rgb(151 51 238 / 76%);
        -moz-box-shadow: -0.104vw .521vw 2.5vw -0.469vw rgba(151, 51, 238, .76);
    }
}

.team {
    overflow: hidden;
    position: relative;
    padding-bottom: 11.823vw;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 3.594vw;
    }

    &__top h2 {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__top p {
        width: 29.427vw;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-left: 2.604vw;
    }

    &__swiper .swiper-slide {
        width: 22.917vw;
        background: linear-gradient(180deg, #FFFFFF 0%, #F3F0F4 100%);
        border-radius: 1.302vw;
        padding: 1.198vw;
        padding-bottom: 2.865vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__swiper .swiper-slide .ibg {
        width: 20.521vw;
        height: 12.656vw;
        border-radius: 1.302vw;
        margin-bottom: 1.927vw;
    }

    &__swiper .swiper-slide img {
        width: 100%;
        height: 100%;
    }

    &__slide-info {
        text-align: center;
    }

    &__slide-info h4 {
        font-weight: 700;
        font-size: 2.083vw;
        line-height: 120%;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__slide-info p {
        font-weight: 400;
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }
}

.cooperation {
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 3.906vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.03em;
        background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__title span {
        background: linear-gradient(315deg, #9733EE 0%, #DA22FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__wrapper {
        margin-top: 6.146vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper-item {
        width: 10.417vw;
        height: 10.417vw;
        background: url(../img/cooperation-1.svg) no-repeat center top / cover;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper-item svg {
        width: 3.75vw;
        height: 3.75vw;
    }

    &__wrapper-item svg .bg1 {
        transition: 0.3s;
    }

    &__wrapper-item svg .bg2 {
        transition: 0.3s;
    }

    &__wrapper-item:hover>svg .bg1 {
        stop-color: #9733EE;
        stop-opacity: 1;
    }

    &__wrapper-item:hover>svg .bg2 {
        stop-color: #DA22FF;
        stop-opacity: 1;
    }

    &__wrapper-item .cooperation__elipse {
        transition: 0.3s;
    }

    &__wrapper-item:hover .cooperation__elipse {
        transform: rotate(360deg);
    }

    &__elipse {
        background: url(../img/cooperation-elipse.svg) no-repeat center top / cover;
        width: 14.583vw;
        height: 14.583vw;
        display: block;
        position: absolute;
    }
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer {
    margin-top: 14.01vw;
    width: 100vw;
    height: 10.417vw;
    background: #F7F7F7;
    padding: 3.906vw 0;

    &__logo img {
        width: 6.771vw;
        height: 2.448vw;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__copyright {
        font-size: 0.885vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
        margin-left: 2.344vw;
    }

    &__menu {
        width: 29.167vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-link {
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #7C7A7D;
    }
}


.popup {
    z-index: 1000000000000000100000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(51, 51, 51, .58);
    display: none;
}

.popup.active {
    display: flex;
}

.popup-inner {
    width: 48.073vw;
    height: 29.792vw;
    background: url(../img/popup-bg.webp) no-repeat center top / cover;
    position: relative;
    border-radius: 1.302vw;
    padding-top: 44px;
    padding-bottom: 60px;
    padding-left: 59px;
}

.popup__close {
    position: absolute;
    top: 1.563vw;
    right: 1.406vw;
}

.popup__content h4 {
    font-weight: 700;
    font-size: 2.083vw;
    line-height: 120%;
    letter-spacing: -0.03em;
    background: linear-gradient(95.33deg, #272727 6.24%, #5A585B 65.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.popup__content-desc {
    font-weight: 400;
    font-size: 0.885vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-top: 0.417vw;
    color: #7C7A7D;
    margin-bottom: 1.667vw;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__form-input {
    font-size: 0.885vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #7C7A7D;
    padding: 1.146vw 2.083vw;
    width: 18.125vw;
    border: 0.052vw solid #DBD6DD;
    border-radius: 2.865vw;
    margin-bottom: 10px;
}

.popup__form-input::placeholder {
    font-size: 0.885vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #7C7A7D;
}


.popup__form-btn {
    font-size: 0.885vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 15.625vw;
    height: 3.646vw;
    background: linear-gradient(276.18deg, #9733EE 0%, #DA22FF 100%);
    border-radius: 2.865vw;
    margin-top: 1.563vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.popup__social {
    display: flex;
    align-items: center;
}

.popup__social-item {
    margin-right: 0.521vw;
    width: 4.688vw;
    height: 3.646vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.052vw solid #DBD6DD;
    border-radius: 2.865vw;
}

.popup__social-item:hover>svg .hover1 {
    stop-color: #9733EE;
    stop-opacity: 1;
}

.popup__social-item:hover>svg .hover2 {
    stop-color: #DA22FF;
    stop-opacity: 1;
}

.popup__social-text {
    font-size: 0.885vw;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #7C7A7D;
    margin-left: 0.625vw;
}

.thanks .footer {
    margin-top: 0;
}

@media screen and (max-width: 920px) {
    .container {
        max-width: 194.445vw;
        padding: 0 31.306px;
    }

    h2 {
        font-size: 9.722vw !important;
    }

    .intro {
        background: url(../img/intro-bg.webp) no-repeat left top/cover;
        height: 125vw;
        background-size: 220%;
    }

    .header {
        padding-top: 4.583vw;
        padding-bottom: 15.416vw;
    }

    .header-hide {
        padding-bottom: 4.583vw;
    }

    .header__logo img {
        width: 18.055vw;
        height: 6.528vw;
    }

    .header__menu-item {
        margin-right: 3.75vw;
    }

    .header__menu-link {
        font-size: 2.701vw;
    }

    .header__lang-text {
        font-size: 2.701vw;
    }

    .header__lang-btn {
        width: 6.666vw;
        height: 3.611vw;
        border-radius: 2.48vw;
        padding: 0.566vw;
    }

    .intro__left h1 {
        width: 81.25vw;
        height: 37.5vw;
        font-size: 10.416vw;
    }

    .header__lang-btn span {
        width: 2.222vw;
        height: 2.222vw;
    }

    .intro__desc-text {
        font-size: 3.334vw;
    }

    .intro__desc-blob {
        margin-right: 3.055vw;
    }

    .intro__desc-blob span {
        width: 2.083vw;
        height: 2.083vw;
        margin-right: 0.36vw !important;
    }

    .intro__btns-btn.active {
        width: 41.667vw;
        height: 13.889vw;
        border-radius: 7.639vw;
        font-size: 3.334vw;
    }

    .intro__btns-btn {
        width: 33.194vw;
        height: 13.889vw;
        border-radius: 7.639vw;
        margin-right: 2.083vw;
        font-size: 3.334vw;
    }

    .intro__btns-btn::after {
        top: -0.2vw;
        bottom: -0.2vw;
        left: -0.267vw;
        right: -0.267vw;
        border-radius: 7.639vw;
    }

    .intro__btns-btn p {
        font-size: 3.334vw;
    }

    .intro__down {
        margin-top: 3.042vw;
    }

    .intro__down-btn {
        font-size: 2.222vw;
        margin-left: 2.501vw;
    }

    .intro__down svg {
        width: 2.361vw;
        height: 23.889vw;
    }

    .intro__desc-wrap {
        margin-left: 10.156vw;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 3.561vw;
    }


    .solution {
        padding: 0;
    }

    .solution__header-desc {
        letter-spacing: -0.03em;
        margin-right: 2.083vw;
        font-size: 8.417vw;
    }

    .solution__header-title {
        font-size: 7.76vw;
        background-position-y: -42.854vw;
        margin-top: 8.861vw;
    }

    .solution__header-title::after {
        width: 11.520vw;
    }

    .solution__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .solution__list-item {
        width: 38.908vw;
        height: 53.333vw;
        margin-right: 0;
        margin-bottom: 5.556vw;
        padding: 5.278vw 5.556vw;
    }

    .solution__list-item .solution__list-title {
        font-size: 3.333vw;
    }

    .solution__list-item .solution__list-desc {
        font-size: 2.361vw;
    }

    .solve__header-left {
        width: 43.611vw;
        padding-right: 1.556vw;
    }

    .solve__content-title {
        font-size: 6.417vw;
    }

    .solve__content-desc {
        font-size: 3.333vw;
    }

    .solve__right-desc {
        font-size: 2.361vw;
        width: 38.656vw;
    }

    .solve__author-bg {
        width: 20.278vw;
        height: 20.278vw;
    }

    .solve__header-right {
        width: 47%;
    }

    .solve__right-img {
        width: 12.5vw;
        height: 12.5vw;
        left: 7.7vw;
        top: 3.9vw;
    }

    .solve__right-name {
        font-size: 2.5vw;
    }

    .solve__right-info {
        font-size: 1.944vw;
    }



    .solve__list-item {
        width: 40.111vw;
        height: 86.385vw;
        border-radius: 3.472vw;
    }

    .solve__list-info {
        height: 44.5vw;
        top: 42%;
        padding-left: 2.778vw;
        padding-top: 1.667vw;
        padding-bottom: 2.778vw;
    }

    .solve__list-title {
        font-size: 5.556vw;
        max-width: 38.889vw;
    }

    .solve__list-desc {
        font-size: 2.361vw;
        max-width: 42.5vw;
        margin-top: 1.111vw;
    }

    .solve__list-btn {
        width: 29.167vw;
        height: 9.722vw;
        border-radius: 7.639vw;
        font-size: 2.361vw;
    }

    .solve__list-item:nth-child(3)>.solve__list-bg {
        padding: 2.5vw;
    }

    .solve__list-item .solve__list-bg {
        padding: 2.5vw;
    }

    .solve__list-item:nth-child(3)>.solve__list-bg img {
        width: auto;
        height: auto;
        position: relative;
        right: -2.5vw;
        top: -2.939vw;
    }

    .solve__list-item:nth-child(4)>.solve__list-bg img {
        width: auto;
        height: auto;
    }

    .solve__list-item:nth-child(5)>.solve__list-bg img {
        width: 29.75vw;
        height: 34.806vw;
    }

    .solve__list-item:nth-child(6)>.solve__list-bg img {
        width: auto;
        height: auto;
    }


    .solve__info-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .solve__info-item {
        width: 25.444vw;
        height: 20.083vw;
        margin-bottom: 2.778vw;
        padding: 10px;
    }

    .solve__info-title {
        font-size: 4.556vw;
    }

    .solve__info-title span {
        font-size: 2.361vw;
    }

    .solve__info-desc {
        font-size: 2.361vw;
    }

    .feedback__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .feedback__right {
        display: none;
    }

    .feedback__left svg {
        left: 83.365vw;
        top: 6.594vw;
        height: 4.583vw;
        width: 4.583vw;
    }

    .feedback__left-title {
        font-size: 10.417vw;
    }

    .feedback__left-form {
        max-width: 100%;
    }

    .feedback__form-input {
        font-size: 3.333vw;
        width: 100%;
        border-bottom: 0.278vw solid #dbd6dd;
        padding-top: 2.083vw;
        padding-bottom: 2.083vw;
        margin-bottom: 5.278vw;
    }

    .feedback__form-input::placeholder {
        font-size: 3.333vw;
    }

    .feedback__form-check {
        width: 3.472vw;
        height: 3.472vw;
    }

    .feedback__left-form label {
        font-size: 2.222vw;
    }

    .feedback__left-form label a {
        font-size: 2.222vw;
    }

    .feedback__form-btn {
        width: 41.667vw;
        height: 13.889vw;
        font-size: 3.333vw;
        border-radius: 7.639vw;
        margin-top: 5.833vw;
    }

    .questions__title {
        max-width: 80.028vw;
        margin-bottom: 8.111vw;
    }

    .questions__list {
        justify-content: space-between;
    }

    .questions__list-item {
        margin-right: 0;
    }

    .questions__item-header {
        width: 26.667vw;
        height: 12.5vw;
    }

    .questions__header-img {
        width: 6.556vw;
        height: 6.556vw;
    }

    .questions__header-title {
        font-size: 2.833vw;
    }

    .questions__item-list {
        width: 26.667vw;
        height: 48.438vw;
        margin-top: 4.167vw;
    }

    .questions__text-item {
        font-size: 2.361vw;
    }

    .questions__text-item::before {
        width: 7.969vw;
        height: 0.156vw;
        left: -5.71vw;
        top: 5.625vw;
    }

    .questions__item-btn {
        width: 24.583vw;
        height: 6.5vw;
        font-size: 1.822vw;
        border-radius: 7.639vw;
        margin-top: 4.167vw;
    }
}