@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SegoeUI.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SegoeUI-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SegoeUI-Bold.woff") format("woff");
    font-display: swap;
}
