body {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    color: #000;
    background: #FBF9FF;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: #d96def;
    padding-top: 39px;
    padding-bottom: 35px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__menu li {
    margin-right: 40px;
}

.header__menu li:nth-child(5) {
    margin-right: 0px;
}

.header__menu li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}

.header__menu-right {
    display: flex;
    align-items: center;
}

.header__menu-right li {
    margin-right: 23px;
}

.header__menu-right li:nth-child(3) {
    margin-right: 0px;
}

.header__menu-right li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}


.intro {
    padding-bottom: 195px;
    overflow: hidden;
}

.intro .wrapper {
    display: flex;
    position: relative;
}

.intro__info {
    background: url(../img/intro-info.png) no-repeat left top;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    width: 832px;
    height: 661px;
    position: absolute;
    top: -110px;
    left: -65px;
    z-index: -1;
}

.intro__back {
    background: url(../img/intro-back.png) no-repeat right top / cover;
    width: 469px;
    height: 499px;
    position: absolute;
    right: 0;
    margin-top: 41px;
}

.intro__info-block {
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.intro__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    margin-top: 138px;
}

.intro__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 57px;
    letter-spacing: -0.05em;
    margin-bottom: 56px;
}

.intro__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    max-width: 382px;
    margin-bottom: 49px;
}

.intro__nav {
    display: flex;
    align-items: center;
}

.intro__nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    height: 41px;
    background: #D918FF;
    box-shadow: 4px 4px 9px rgba(217, 24, 255, 0.22);
    border-radius: 22px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
}

.intro__nav-btn:nth-child(5) {
    margin-right: 0;
}


.process .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.process__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 42px;
}

.process__desc {
    font-size: 20px;
    line-height: 27px;
    max-width: 997px;
}

.process__back {
    background: url(../img/process__back.png) no-repeat center top / cover;
    width: 569px;
    height: 569px;
    position: absolute;
    top: -130px;
}



.services {
    margin-top: 70px;
}

.services .wrapper {
    position: relative;
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}

.services-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 40px;
}

.services-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    max-width: 522px;
}

.services__img-1 {
    background: url(../img/services-img-1.jpg) no-repeat right top / cover;
    width: 631px;
    height: 507px;
}

.services__img-2 {
    background: url(../img/services-img-2.jpg) no-repeat right top / cover;
    width: 631px;
    height: 507px;
}

.services__img-3 {
    background: url(../img/services-img-3.jpg) no-repeat right top / cover;
    width: 631px;
    height: 507px;
}

.services__item-back {
    background: url(../img/services__item-back.png) no-repeat center top / cover;
    width: 444px;
    height: 444px;
    position: absolute;
    top: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
}


.services__back-2 {
    background: url(../img/process__back-2.png) no-repeat right top / cover;
    width: 517px;
    height: 700px;
    position: absolute;
    top: 421px;
    right: -148px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}


.works {
    padding-top: 104px;
    overflow: hidden;
}

.works .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.works__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 40px;
}

.works__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    max-width: 771px;
}

.works__back {
    background: url(../img/work-back.png) no-repeat right top / cover;
    height: 480px;
    width: 477px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    position: absolute;
    right: -110px;
    top: 16px;
}

.works__items {
    margin-top: 190px;
}

.works__items .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work__item {
    max-width: 390px;
}

.work__item-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 40px;
}

.work__item-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.reviews {
    margin-top: 159px;
}

.reviews .wrapper {
    display: flex;
    justify-content: space-evenly;
}

.review-item {
    max-width: 541px;
    height: auto;
    background: #D918FF;
    border-radius: 34px;
    padding: 52px 90px;
    position: relative;
}

.author-img {
    border-radius: 100%;
    height: 76px;
    width: 76px;
}

.review__author {
    display: flex;
    align-items: center;
}

.review__author-info {
    margin-left: 16px;
}

.author__name {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.author__contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0;
}

.swiper-wrapper {
    max-width: 361px;
}

.review__text {
    max-width: 361px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-top: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    display: block;
    top: 68% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 57px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 47px;
}

.swiper-button-next,
.swiper-button-prev {
    display: block;
    top: 68% !important;
}


.swiper2-button-next,
.swiper2-button-prev {
    display: block;
    top: 65% !important;
}

.swiper2-button-next:after,
.swiper2-button-prev:after {
    display: none !important;
}

.swiper2-button-next,
.swiper-rtl .swiper2-button-prev {
    right: 57px;
}

.swiper2-button-prev,
.swiper-rtl .swiper2-button-next {
    left: 47px;
}

.swiper2-button-next,
.swiper2-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.started {
    padding-top: 110px;
    padding-bottom: 41px;
}

.started .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
}

.started-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 40px;
}

.started-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
}

.started__nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.started__nav-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: auto;
    height: 41px;
    background: #D918FF;
    border-radius: 22px;
    margin-right: 40px;
}

.started-back {
    background: url(../img/started-back.png) no-repeat left top / cover;
    width: 455px;
    height: 770px;
    position: absolute;
    left: -127px;
    top: -353px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}


.footer {
    width: 100%;
    padding-top: 52px;
    padding-bottom: 45px;
    background: #eac3f7
}

.footer__nav {
    display: flex;
    align-items: center;
}

.footer__menu-1 {
    margin-right: 185px;
}

.footer__menu-item {
    margin-bottom: 20px;
}

.footer__menu-item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    opacity: 0.73;
}

.footer__bottom {
    margin-top: 32px;
    display: flex;
}

.footer__bottom-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    height: 39px;
    background: #D918FF;
    border-radius: 31px;
    margin-right: 18px;
}

.burger,
.mobile__menu {
    display: none;
}

.footer__logo {
    display: none;
}

@media screen and (max-width: 1320px) {
    .wrapper {
        max-width: 1160px;
    }

    .services__img {
        width: 500px;
        height: 435px;
    }

    .works__back {
        display: none;
    }

    .works__items .wrapper {
        justify-content: space-around;
    }

    .work__item {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1180px) {
    .wrapper {
        max-width: 1024px;
    }

    .intro__back {
        background-size: 360px;
    }

    .review-item {
        max-width: 470px;
    }

    .header__menu li {
        margin-right: 26px;
    }
}

@media screen and (max-width: 1025px) {
    .wrapper {
        max-width: 960px;
    }

    .header__menu,
    .header__menu-wrapper {
        display: none;
    }

    .burger {
        display: block;
    }

    .mobile__menu {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(-150%);
        height: 100%;
        max-width: 694px;
        width: 100%;
        background-color: #D918FF;
        padding: 40px;
        z-index: 999999;
        transition: .3s;
        display: block;
    }

    .burger__close {
        float: right;
    }

    .mobile__menu.active {
        transform: translate(0%);
    }

    .header__menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .header__menu-item {
        margin-bottom: 20px;
    }

    .header__menu-item a {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 0 40px;
    }

    .intro__back {
        background-size: 300px;
    }

    .services__img {
        width: 390px;
        height: 260px;
        margin-left: 40px;
    }

    .works__items .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .reviews .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .review-item {
        margin-bottom: 20px;
    }

    .started__nav {
        justify-content: center;
    }

    .started__nav-btn {
        margin-bottom: 20px;
    }

    .started__nav-btn:nth-child(5) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 830px) {
    .logo img {
        height: 30px;
    }

    h3 {
        font-weight: 600 !important;
        font-size: 20px !important;
        line-height: 21px !important;
    }

    .intro__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        margin-top: 29px;
    }

    .intro__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 35px;
        letter-spacing: -0.05em;
        margin-bottom: 20px;
    }

    .intro__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .intro__nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .intro__nav-btn {
        width: 123px;
        height: 41px;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        padding: 10px 3px;
        margin-bottom: 10px;
    }

    .intro__info {
        top: -224px;
        left: -242px;
        height: 508px;
    }

    .intro__back {
        background-size: 190px;
        width: 230px;
        height: 250px;
        top: 215px;
    }

    .intro {
        padding-bottom: 28px;
    }

    .process__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .process__desc {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: left;
    }

    .services-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        max-width: 190px;
    }

    .services-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 38px;
    }

    .services__img {
        background-size: contain;
        width: 135px;
        height: 114px;
        margin-left: 0;
        position: absolute;
        right: 0;
        margin-bottom: 206px;
        border-radius: 9px;
        z-index: 99999999;
    }

    .services-title {
        margin-bottom: 54px;
    }

    .services-item:nth-child(3) {
        margin-bottom: 0 !important;
    }

    .process__back {
        top: 0px;
        right: 100px;
    }

    .works {
        padding-top: 39px;
    }

    .works__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .works__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        text-align: left;
    }

    .works__items {
        margin-top: 35px;
    }

    .work__item-title {
        margin-bottom: 10px;
    }

    .work__item-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
    }


    .reviews {
        margin-top: 39px;
    }

    .review-item {
        max-width: 348px;
        padding: 32px 40px;
    }

    .author__name {
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
    }

    .author__contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.56;
    }

    .review__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        opacity: 0.8;
    }

    .author-img {
        width: 59px;
        height: 59px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 18px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 11px;
    }

    .swiper2-button-next,
    .swiper-rtl .swiper2-button-prev {
        right: 18px;
    }

    .swiper2-button-prev,
    .swiper-rtl .swiper2-button-next {
        left: 11px;
    }

    .started {
        padding-top: 38px;
    }

    .started-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .started-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }

    .started__nav {
        flex-direction: column;
        margin-top: 35px;
    }

    .started__nav-btn {
        margin-right: 0;
        width: 123px;
        height: 41px;
        padding: 10px 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        color: #000000;
    }

    .services__item-back {
        width: 69px;
        top: -110px;
    }

    .services__back-2 {
        width: 135px;
        height: 303px;
        top: 197px;
        right: 0px;
    }

    .services__img-3 {
        margin-bottom: 137px;
    }


    .footer {
        background: #d96def;
    }

    .footer__bottom-btn {
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        padding: 5px 10px;
        width: 66px;
        height: 23px;
        background: #fff;
        color: #000;
    }

    .footer__logo {
        margin-bottom: 10px;
        display: block;
    }

    .footer__nav {
        align-items: initial;
    }

    .footer__menu-1 {
        order: 2;
        position: relative;
        bottom: 42px;
    }

    .footer__menu-2 {
        order: 1;
        margin-right: 27px;
    }

    .footer__menu-item a {
        white-space: nowrap;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
    }

    .footer__bottom {
        margin-top: 0px;
        justify-content: center;
    }
}


@media screen and (max-width: 410px) {
    .services-title {
        max-width: 160px;
    }

    .services__img-3 {
        margin-bottom: 147px;
    }
}

@media screen and (max-width: 360px) {
    .services__img {
        background-size: 100px;
    }
}