@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background: #171717;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.header {
    padding-top: 116px;
    width: 100%;

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 1170px;
    }

    &__menu-link {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        background: linear-gradient(90deg, #CB99FE 0%, #FABF79 25.68%, #DC27EC 55.03%, #F82D8E 83.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    position: relative;
}

.intro .container {
    display: flex;
    position: relative;
    max-width: 1360px;
}

.sidebar__right {
    background: #242424;
    display: flex;
    justify-content: center;
    width: 129px;
    height: 100%;
    float: right;
    z-index: 1;
    top: 0;
    right: 0;
    position: -webkit-sticky;
    position: fixed;
    overflow-x: hidden;
}

.sidebar__right-cart {
    margin-top: 116px;
}

.intro {
    padding-bottom: 87px;

    &__left {
        margin-top: 192px;
        margin-left: 83px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 135.6%;
        letter-spacing: -0.01em;
        color: #F00283;
    }

    &__title span {
        color: #FF99E2;
    }

    &__desc {
        font-size: 23px;
        line-height: 31px;
        color: #FFCCF1;
        max-width: 680px;
        margin-top: 24px;
    }

    &__desc-vertical {
        font-weight: 300;
        font-size: 25px;
        line-height: 135.6%;
        letter-spacing: 0.155em;
        color: #FFCCF1;
        transform: rotate(-90deg);
        position: absolute;
        left: -20px;
        top: 31em;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 931px;
        margin-top: 91px;
    }

    &__btns-btn {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #F77DA9;
        width: 220px;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__inst-bg {
        background: url(../images/inst-bg.png) no-repeat right top / cover;
        width: 303px;
        height: 441px;
        position: absolute;
        right: 0;
        top: 95px;
    }

    &__stone-right {
        background: url(../images/intro__stone-right.png) no-repeat;
        position: absolute;
        width: 300.38px;
        height: 253px;
        right: 0;
        top: 113px;
        z-index: -1;
    }

    &__stone-wrapper {
        max-width: 2300px;
        margin: 0 auto;
        position: relative;
        top: -150px;
        left: -41px;
    }

    &__stone-left {
        background: url(../images/sphere-gold.png) no-repeat;
        position: absolute;
        width: 185px;
        height: 198px;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__question {
        margin-top: 734px;
        position: relative;
        left: 370px;
    }
}

.working .container {
    border-top: 2px solid #262525;
    padding-top: 93px;
}

.working {
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-left: 196px;
    }

    &__title::after {
        content: '';
        width: 160px;
        height: 2px;
        background: #EB8BAD;
        display: block;
        position: relative;
        left: 200px;
    }

    &__info {
        font-weight: 400;
        font-size: 35px;
        line-height: 57px;
        letter-spacing: 0.01em;
        color: #FFCCF1;
        margin-top: 54px;
        display: flex;
        align-items: center;
    }

    &__info::before {
        content: url(../images/working-like.png);
        margin-right: 68px;
    }

    &__text {
        font-weight: 400;
        font-size: 35px;
        line-height: 57px;
        letter-spacing: 0.01em;
        color: #FFCCF1;
        margin-left: 75px;
    }
}


.options {
    padding-top: 110px;

    &__header {
        margin-left: 123px;
        margin-bottom: 115px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 35px;
    }

    &__desc {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.09em;
        color: #FFCCF1;
        max-width: 1245px;
    }

    &__form-wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__form-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-img {
        width: 421px;
        height: 421px;
    }

    &__form-desc {
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: 0.17em;
        color: #FF66D4;
        margin-top: 30px;
    }

    &__form-right {
        width: 600px;
        height: 491px;
        padding-top: 90px;
        padding-bottom: 81px;
        padding-left: 43px;
        padding-right: 72px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        position: relative;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__form-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-input {
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #A0538B;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        padding-bottom: 11px;
        padding-top: 11px;
        width: 485px;
    }

    &__form-input:nth-child(2) {
        margin-top: 124px;
    }

    &__form-input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form-btn {
        width: 222px;
        height: 64px;
        background: #EB8BAD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: 0.09em;
        color: #CC0093;
        margin-top: 66px;
        cursor: pointer;
    }

    &__form-rigth-desc {
        position: absolute;
        bottom: -31px;
        right: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 204, 241, 0.42);
    }
}

.stages .container {
    padding-left: 160px;
}

.stages {
    padding-top: 222px;
    padding-bottom: 178px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 46px;
    }

    &__desc {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #FFCCF1;
    }

    &__img-one {
        margin-top: 60px;
    }

    &__img-two {
        margin-top: 44px;
        margin-left: 573px;
    }

    &__img-desc {
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: 0.17em;
        color: #FF66D4;
        margin-top: 27px;
    }

    &__stages-item:nth-child(2) {
        margin-top: 144px;
        position: relative;
    }
}


.implementation {
    &__info {
        margin-left: 160px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 26px;
    }

    &__title::after {
        content: '';
        width: 260px;
        height: 2px;
        background: #EB8BAD;
        display: block;
        position: relative;
        left: 486px;
        margin-top: 5px;
    }

    &__desc {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        color: #FFCCF1;
    }

    &__list {
        padding-top: 116px;
        padding-bottom: 93px;
    }

    &__list-item {
        margin-left: 160px;
    }

    &__list-item:nth-child(2) {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 0;
    }

    &__list-item:nth-child(2)::before {
        content: url(../images/likes.png);
        width: 319px;
        height: 319px;
        margin-right: 125px;
        position: relative;
        top: 20px;
    }

    &__list-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #E85A8D;
        margin-bottom: 29px;
    }

    &__list-desc {
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        color: #FFCCF1;
        margin-left: 48px;
    }

    &__list-item:nth-child(2) .implementation__list-desc {
        margin-left: 0;
    }

    &__list-item:nth-child(3) {
        margin-top: 90px;
    }
}

.reviews .container {
    max-width: 1180px;
}

.reviews {
    padding-bottom: 145px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 46px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {

        display: flex;
    }

    &__author-img {
        width: 72px;
        height: 72px;
        border-radius: 100%;
    }

    &__author-name {
        font-weight: 600;
        font-size: 22px;
        line-height: 160.9%;
        color: #FFCCF1;
    }

    &__content {
        max-width: 72%;
        margin-left: 18px;
    }

    &__content-text {
        font-weight: 400;
        font-size: 30px;
        line-height: 48px;
        color: #C57CF1;
    }

    &__content-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    &__content-star {
        content: url('../images/star.svg');
        height: 30px;
        width: 30px;
        display: block;
        margin-right: 2px;
    }

    &__start {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }

    &__start-btn {
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: 605px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 28px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }
}

.footer .container {
    max-width: 1547px;
}

.footer {
    width: 100%;
    background: #282828;
    padding-top: 41px;
    padding-bottom: 63px;
    z-index: 999999;
}

.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu-item {
        margin-bottom: 15px;
    }

    &__menu-link {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        background: linear-gradient(90deg, #CB99FE 0%, #FABF79 25.68%, #DC27EC 55.03%, #F82D8E 83.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__btns {
        display: flex;
        position: relative;
        top: 125px;
    }

    &__btns-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 12px;
        height: 37.83px;
        border: 1px solid #F77DA9;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 204, 241, 0.42);
        margin-right: 5px;
    }

    &__pay {
        margin-left: 90px;
    }

    &__copyright {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: rgba(255, 204, 241, 0.32);
        margin-top: 55px;
        margin-left: 90px;
    }
}

/* buy */

.buy .container {
    max-width: 1250px;
}

.buy .intro__desc-vertical {
    top: 29em;
}

.buy .intro__stone-right {
    right: -290px;
    top: -120px;
}

.buy .intro__stone-wrapper {
    top: -270px;
}

.buy {
    padding-top: 63px;
    padding-bottom: 197px;

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 1250px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        letter-spacing: 0.09em;
        color: #FF66D4;
        text-align: center;
        margin-bottom: 8px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

    &__tarif-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 41px;
    }

    &__tarif-item {
        position: relative;
        padding-top: 43px;
        padding-bottom: 43px;
        padding-left: 58px;
        padding-right: 10px;
        width: 600px;
        height: 485.95px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__tarif-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #F77DA9;
        text-align: center;
        margin-right: 40px;
    }

    &__tarif-list {
        margin-top: 35px;
    }

    &__tarif-list-item {
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

    &__tarif-list-item::after {
        content: url('../images/plus.svg');
        width: 25px;
        height: 25px;
        display: block;
        margin-left: 13px;
    }

    &__tarif-item svg {
        position: relative;
        right: -459px;
        bottom: 24px;
    }

    &__tarif-crown {
        background: url(../images/crown.png);
        position: absolute;
        height: 126px;
        width: 141px;
        top: -90px;
        right: -60px;
    }

    &__tarif-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tarif-btns {
        max-width: 973px;
        margin-top: 36px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__tarif-btn {
        width: 230px;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24px 20px;
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        color: #EB8BAD;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        margin-bottom: 21px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__tarif-btn.active {
        color: #FFCCF1;
        border: none;
        background: linear-gradient(89.96deg, #FF5454 6.06%, #B454FF 72.91%);
    }

    &__tarif-price {
        font-weight: 600;
        font-size: 49px;
        line-height: 67px;
        color: #F77DA9;
    }

    &__tarif-buy {
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: 290px;
        height: 93px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 34px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__question {
        position: absolute;
        top: 1260px;
        right: -90px;
    }
}

.boost .container {
    max-width: 1500px;
    border-top: 2px solid #262525;
    padding-top: 78px;
    padding-bottom: 84px;
    position: relative;
}

.boost {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #FF3A81;
        text-align: center;
        margin-bottom: 14px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        text-align: center;
        margin-bottom: 78px;
        max-width: 1180px;
    }

    &__left-wrapper {
        max-width: 2300px;
        margin: 0 auto;
        position: relative;
        top: -200px;
        left: -51px;
    }

    &__cube {
        background: url('../images/cube.png') no-repeat;
        width: 190.01px;
        height: 189.63px;
        position: absolute;
        top: 260px;
    }

    &__list-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-right {
        background: url('../images/boost-bg.png') no-repeat right top;
        width: 323px;
        height: 323px;
        margin-right: 43px;
    }

    &__list-item {
        margin-bottom: 63px;
    }

    &__list-title {
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.075em;
        color: #E85A8D;
        margin-bottom: 14px;
    }

    &__list-desc {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        margin-left: 38px;
    }
}

.buyfaq .container {
    max-width: 1580px;
}

.buyfaq {
    padding-bottom: 13px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 81px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 14px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        max-width: 1180px;
    }
}

.buy__dropdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.buy__dropdown_block {
    margin-bottom: 103px;
}

.buy__dropdown img {
    width: 259px;
    height: 238px;

}

.buy__dropdown_block:nth-child(1) {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.buy__dropdown_block:nth-child(1)::before {
    content: url('../images/faq-buy-like.png');
    width: 259px;
    height: 238px;
    display: block;
    position: absolute;
    left: 0;
}

.buy__dropdown_block:nth-child(1) .buy__dropdown_block_header {
    justify-content: flex-end;
    margin-right: 140px;
}

.buy__dropdown_block:nth-child(3) {
    margin-left: auto;
}

.buy__dropdown_block:nth-child(3) .buy__dropdown_block_header {
    justify-content: flex-end;
    margin-right: 140px;
}

.buy__dropdown_block:nth-child(3) .buy__dropdown_block_header_text {
    order: 2;
}

.buy__dropdown_block:nth-child(3) .buy__dropdown_block_header_arrow {
    order: 1;
}



.buy__dropdown_block:nth-child(5) {
    margin-left: auto;
}

.buy__dropdown_block:nth-child(5) .buy__dropdown_block_header {
    justify-content: flex-end;
    margin-right: 140px;
}

.buy__dropdown_block:nth-child(5) .buy__dropdown_block_header_text {
    order: 2;
}

.buy__dropdown_block:nth-child(5) .buy__dropdown_block_header_arrow {
    order: 1;
}

.buy__dropdown_block:nth-child(7) {
    margin-left: auto;
}

.buy__dropdown_block:nth-child(7) .buy__dropdown_block_header {
    justify-content: flex-end;
}

.buy__dropdown_block:nth-child(7) .buy__dropdown_block_header_text {
    order: 2;
}

.buy__dropdown_block:nth-child(7) .buy__dropdown_block_header_arrow {
    order: 1;
}

.buy__dropdown_block_header {
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.buy__dropdown_block_header_text {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.075em;
    color: #E85A8D;
    margin: 0 30px;
}

.buy__dropdown_block_header_arrow {
    background: url(../images/buy-plus.svg);
    transition: .3s;
    width: 31px;
    height: 30px;
}

.buy__dropdown_block_header-active>.buy__dropdown_block_header_arrow {
    background: url(../images/buy-minus.svg);
    transition: .3s;
    width: 31px;
    height: 1px;
}


.buy__dropdown_block_main {
    max-width: 952px;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: rgba(255, 204, 241, 0.74);
    padding: 0px 18px 0px 28px;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.buy__dropdown_block_header-active {
    border-radius: 20px 20px 0px 0px;
}

.buy__dropdown_block_header-active .often-q__dropdown_block_header_arrow {
    transform: rotateX(180deg);
}

.buy__dropdown_block_main-active {
    max-height: 900px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.buyreviews .container {
    max-width: 1580px;
}

.buyreviews {
    padding-bottom: 182px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        text-align: center;
        margin-bottom: 20px;
    }

    &__desc {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        margin-bottom: 77px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 600px;
        padding-top: 36px;
        padding-bottom: 54px;
        padding-left: 43px;
        padding-right: 43px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__left-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
        margin-bottom: 61px;
        text-align: center;
    }

    &__left-form {
        display: flex;
        flex-direction: column;

    }

    &__left-form input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #A0538B;
        padding-bottom: 18px;
        padding-top: 18px;
        width: 485px;
        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        margin-bottom: 21px;
    }

    &__left-form input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__left-rating {
        display: flex;
        margin-top: 16px;
    }

    &__left-rating p {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        margin-right: 6px;
    }

    &__left-rating .rating {
        display: flex;
        align-items: center;
    }

    &__left-rating .rating .rating-star {
        background: url('../images/rating-form-star.svg') no-repeat;
        width: 25px;
        height: 25px;
        margin-right: 7px;
        cursor: pointer;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__left-btn {
        margin-top: 74px;
        width: 328px;
        background: #EB8BAD;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: 0.09em;
        color: #CC0093;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        cursor: pointer;
    }

    &__list {
        max-width: 772px;
    }

    &__list-item {
        margin-bottom: 17px;
        max-width: 782px;
    }

    &__list-header {
        display: flex;
        align-items: center;
    }

    &__list-img {
        border-radius: 100%;
        width: 68px;
        height: 68px;
        margin-right: 10px;
    }

    &__list-author .author-email {
        font-weight: 600;
        font-size: 22px;
        line-height: 119.4%;
        color: #FFCCF1;
        margin-top: 7px;
    }


    &__author-name {
        font-weight: 600;
        font-size: 22px;
        line-height: 119.4%;
        color: #FFCCF1;
    }

    &__review-info {
        display: flex;
    }

    &__review-rating {
        display: flex;
        margin-left: 14px;
    }

    &__review-star {
        background: url(../images/buyreviews__review-star.svg) no-repeat;
        width: 25px;
        height: 25px;
        display: block;
    }

    &__review-text {
        font-weight: 400;
        font-size: 30px;
        line-height: 48px;
        color: #C57CF1;
        margin-top: 9px;
    }
}

.faq .container {
    max-width: 1256px;
    position: relative;
}

.faq {
    padding-top: 94px;
    padding-bottom: 83px;

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        width: 100px;
        height: 45px;
        margin-bottom: 126px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left-btn {
        width: 340px;
        height: 131px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #EB8BAD;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        margin-bottom: 13px;
    }

    &__left-btn.active {
        width: 339px;
        color: #FFCCF1;
        border: none;
        background: linear-gradient(89.96deg, #FF5454 6.06%, #B454FF 72.91%);
    }

    &__left img {
        width: 374px;
        height: 374px;
        position: absolute;
        left: -114px;
        margin-top: 133px;
    }

    &__bottom {
        margin-top: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bottom p {
        max-width: 1180px;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

}

.faq__dropdown {
    margin-left: 84px;
}

.faq__dropdown_block {
    margin-bottom: 66px;
}

.faq__dropdown_block:nth-child(4) {
    margin-bottom: 109px;
}

.faq__dropdown_block_header {
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    width: max-content;
}

.faq__dropdown_block_header_text {
    margin: 0 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #FF3A81;
}

.faq__dropdown_block_header_arrow {
    margin-left: auto;
    transition: .3s;
}

.faq__dropdown_block_main {
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: rgba(255, 204, 241, 0.74);
    padding: 0px 0px 0px 33px;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}

.faq__dropdown_block_header-active .often-q__dropdown_block_header_arrow {
    transform: rotateX(180deg);
}

.faq__dropdown_block_main-active {
    max-height: 900px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.faq__dropdown_block_header_arrow {
    background: url(../images/buy-plus.svg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 31px;
    height: 30px;
}

.faq__dropdown_block_header-active>.faq__dropdown_block_header_arrow {
    background: url(../images/buy-minus.svg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 31px;
    height: 1px;
}

.contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    padding-top: 29px;
    padding-bottom: 229px;

    &__title {
        width: 255px;
        height: 45px;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 18px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        margin-bottom: 71px;
    }

    &__wrapper {
        width: 1176px;
        height: 868px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        padding-top: 101px;
        padding-bottom: 166px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 776px;
    }

    &__form-input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #A0538B;
        padding: 14px 0;
        margin-bottom: 41px;
        width: 776px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        outline: none;
    }

    &__form-input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form-textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid #A0538B;
        padding: 14px 0;
        margin-top: 12px;
        width: 776px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        outline: none;
    }

    &__form-textarea::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form-btn {
        background: transparent;
        margin-top: 162px;
        width: 776px;
        height: 117px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        font-weight: 600;
        font-size: 45px;
        line-height: 61px;
        color: #EB8BAD;
        cursor: pointer;
    }
}

.page__header .container {
    max-width: 1565px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__content .container {
    max-width: 1405px;
}

.page {
    padding-bottom: 146px;

    &__header {
        padding-top: 95px;
    }

    &__title {
        margin-bottom: 27px;
        width: 489px;
        height: 45px;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

    &__content {
        padding-top: 71px;
    }

    &__content h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: #FF3A81;
        margin-bottom: 54px;
        margin-top: 27px;
    }

    &__content p {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }
}


.for {
    padding-top: 83px;
    padding-bottom: 173px;

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 79px;
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        letter-spacing: 0.09em;
        width: 540px;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__info {
        font-weight: 400;
        font-size: 33px;
        line-height: 45px;
        letter-spacing: 0.02em;
        color: #FF66D4;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        margin-top: 63px;
    }

    &__gallery img {
        width: 395px;
        height: 493px;
        margin-right: 32px;
        margin-bottom: 30px;
    }

    &__more-btn {
        width: 449px;
        height: 114px;
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        padding: 32px 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btns {
        display: flex;
        margin-top: 62px;
    }

    &__btns-btn {
        width: 293px;
        height: 97px;
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        color: #EB8BAD;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        margin-right: 38px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 27px 34px;
    }

    &__btns-btn.active {
        border: none;
        color: #FFCCF1;
        background: linear-gradient(89.96deg, #FF5454 6.06%, #B454FF 72.91%);
    }
}

.cart .container {
    position: relative;
}

.cart {
    padding-top: 98px;
    padding-bottom: 108px;

    &__header-wrapper {
        max-width: 1550px;
        margin: 0 auto;
        position: relative;
    }

    &__back {
        position: absolute;
        font-weight: 600;
        font-size: 22px;
        line-height: 119.4%;
        color: rgba(255, 204, 241, 0.45);
        top: 20px;
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 215px;
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__wrapper-name {
        font-weight: 400;
        font-size: 33px;
        line-height: 45px;
        letter-spacing: 0.02em;
        color: #FF66D4;
        margin-top: 111px;
    }

    &__wrapper-item {
        display: flex;
        margin-top: 60px;
        margin-bottom: 45px;
    }

    &__img {
        margin-right: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img img {
        width: 145px;
        height: 145px;
        border-radius: 100%;
    }

    &__username {
        font-weight: 600;
        font-size: 22px;
        line-height: 119.4%;
        color: #FFCCF1;
        margin-top: 9px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 79%;
        position: relative;
    }

    &__package {
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

    &__price {
        font-weight: 600;
        font-size: 49px;
        line-height: 67px;
        color: #F77DA9;
    }

    &__info-close {
        position: absolute;
        right: -105px;
        top: -20px;
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 120px;
    }

    &__total-header {
        display: flex;
        align-items: center;
        margin-bottom: 62px;
    }

    &__total-title {
        font-weight: 400;
        font-size: 33px;
        line-height: 45px;
        letter-spacing: 0.02em;
        color: #FF66D4;
        margin-right: 24px;
    }

    &__total-items {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        margin-right: 91px;
    }

    &__total-price {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

    &__total-order {
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 25px 110px;
        width: 321px;
        height: 102px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        display: block;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__question {
        position: absolute;
        right: -60px;
    }
}

.pay .container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.pay {
    padding-top: 124px;
    padding-bottom: 197px;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 495px;
        padding-right: 60px;
        border-right: 1px solid rgba(181, 0, 244, 0.53);
    }

    &__left-title {
        font-weight: 700;
        font-size: 45px;
        line-height: 61px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 42px;
    }

    &__left-price {
        font-weight: 600;
        font-size: 49px;
        line-height: 67px;
        color: #F77DA9;
        margin-bottom: 23px;
    }

    &__left-code {
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.02em;
        color: #FF66D4;
    }

    &__left img {
        width: 286px;
        height: 286px;
        margin-top: 45px;
    }


    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 875px;
    }

    &__right-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        color: #E66291;
        margin-bottom: 11px;
    }

    &__right-desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
    }

    &__right img {
        margin-top: 37px;
    }

    &__right-btn {
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 26px 120px;
        width: 321px;
        height: 102px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        display: block;
        margin-top: 56px;
        margin-left: 374px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__question {
        position: absolute;
        bottom: -141px;
        right: -70px;
    }
}

.thanks .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.thanks {
    padding-top: 78px;
    padding-bottom: 154px;

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 61px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 109px;
    }

    &__desc {
        font-weight: 400;
        font-size: 40px;
        line-height: 61px;
        letter-spacing: 0.1em;
        color: #FFCCF1;
    }

    &__desc span {
        font-weight: 700;
        color: #F77DA9;
    }

    &__img {
        position: relative;
        right: 500px;
        top: -60px;
    }
}

.reviewspage .container {
    position: relative;
}

.reviewspage {
    padding-top: 117px;
    padding-bottom: 248px;

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.09em;
        background: linear-gradient(90deg, #A955FD 0%, rgba(255, 0, 138, 0.64) 48.31%, #FF00F5 99.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-align: center;
        margin-bottom: 28px;
    }

    &__desc {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(255, 204, 241, 0.74);
        text-align: center;
        margin-bottom: 75px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 40px;
        line-height: 58px;
        letter-spacing: 0.1em;
        color: #F77DA9;
        text-align: center;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 141px;
        width: 822px;
        margin-top: 108px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__rating-value {
        font-weight: 600;
        font-size: 230px;
        line-height: 144.41%;
        letter-spacing: 0.005em;
        background: linear-gradient(88.89deg, rgba(255, 0, 138, 0.64) 2.96%, rgba(197, 124, 241, 0.64) 90.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__rating-stars {
        display: flex;
    }

    &__rating-star {
        background: url(../images/review-star.svg) no-repeat;
        width: 58px;
        height: 58px;
        margin-right: 15px;
    }

    &__rating-items {
        font-weight: 400;
        font-size: 37px;
        line-height: 50px;
        letter-spacing: 0.02em;
        color: #FFCCF1;
        margin-top: 36px;
    }

    &__list {
        max-width: 1221px;
        margin-top: 166px;
        margin-left: 94px;
    }

    &__list-item {
        margin-bottom: 85px;
    }

    &__author-img {
        width: 108px;
        height: 108px;
        border-radius: 100%;
        margin-right: 23px;
    }

    &__author-info {
        display: flex;
        align-items: flex-start;
    }

    &__author-header {
        display: flex;
    }

    &__author-name {
        font-weight: 600;
        font-size: 30px;
        line-height: 119.4%;
        color: #FFCCF1;
        margin-right: 19px;
    }

    &__author-rating {
        display: flex;
    }

    &__author-star {
        background: url(../images/star.svg) no-repeat;
        width: 33px;
        height: 33px;
    }

    &__author-email {
        font-weight: 600;
        font-size: 30px;
        line-height: 119.4%;
        color: #FFCCF1;

    }

    &__author-text {
        font-weight: 400;
        font-size: 40px;
        line-height: 160.9%;
        color: #C57CF1;
    }

    &__more-review {
        font-weight: 600;
        font-size: 45px;
        line-height: 61px;
        background: linear-gradient(90deg, #FF33C6 0%, #FFB11B 23.27%, rgba(125, 167, 230, 0.906939) 49.74%, rgba(226, 48, 255, 0.76) 66.72%, rgba(255, 4, 64, 0.84) 83.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 43px 150px;
        padding-left: 189px;
        width: 600px;
        height: 152.34px;
        display: block;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        margin-left: 100px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
    }

    &__add-center {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__add {
        margin-top: 200px;
        width: 600px;
        height: 607px;
        border-image-slice: 26;
        border-style: solid;
        border-width: 3px;
        border-image-source: linear-gradient(90deg, rgba(254, 47, 208, 0.53) 11.46%, rgba(255, 87, 87, 0.536875) 37.5%, rgba(255, 139, 3, 0.45) 60.94%, rgba(255, 18, 32, 0.54) 81.25%);
        padding-top: 49px;
        padding-bottom: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__add-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #E85A8D;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    &__form input {
        padding: 18px 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid #A0538B;
        width: 485px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form input::placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
    }

    &__form-rating {
        margin-top: 34px;
        display: flex;
    }

    &__form-rating p {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.09em;
        color: rgba(255, 255, 255, 0.36);
        margin-right: 18px;
    }

    &__form-stars {
        display: flex;
    }

    &__form-star {
        background: url(../images/reviewspage__form-star.svg) no-repeat;
        margin-right: 8px;
        width: 25px;
        height: 25px;
    }

    &__form-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 74px;
    }

    &__form-btn {
        cursor: pointer;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: 0.09em;
        color: #CC0093;
        background: #EB8BAD;
        border: none;
        padding: 20px 42px;
        padding-left: 62px;
    }
}



@media screen and (max-width: 1500px) {}