@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background: #F5F5F5;
}

.header {
    width: 100%;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    padding-top: 1.042vw;
    position: fixed;
    top: 0;
    z-index: 9999999999999999999999;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        border-bottom: 0.104vw solid #666666;
        max-width: 93.75vw;
        padding-bottom: 1.042vw;

        a {
            img {
                width: 8.125vw;
                height: 2.604vw;
            }
        }
    }

    &__logo {
        margin-left: 3.646vw;
    }

    &__menu {
        display: flex;
        align-items: center;

        li {
            display: inline-flex;
            margin-right: 4.167vw;
        }

        li::before {
            display: none;
        }

        li:last-child {
            margin-right: 3.646vw;
        }

        li.active>a {
            font-weight: 700;
            color: #480B9B;
        }

        li:hover>a {
            color: #480B9B;
        }

        li {
            a {
                font-family: 'Oxanium';
                font-weight: 500;
                font-size: 1.042vw;
                line-height: 140%;
                color: #303030;
            }
        }
    }
}

.header.active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(144.8%, rgba(255, 255, 255, 0.06)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
    -webkit-backdrop-filter: blur(0.391vw);
    backdrop-filter: blur(0.391vw);

    .container {
        border-bottom: none;
    }
}


.offer {
    background: url('../img/offer.png') no-repeat center top / cover;
    width: 100%;
    z-index: 9999;
    padding-top: 14.948vw;
    padding-bottom: 18.177vw;

    &__title {
        width: 42.708vw;
        font-weight: 700;
        font-size: 2.813vw;
        line-height: 140%;
        background: linear-gradient(86.87deg, #460B9D 0.75%, #D4034E 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__desc {
        width: 42.708vw;
        font-size: 1.25vw;
        line-height: 150%;
        color: #434343;
    }
}


.solutions__bg {
    width: 100%;
    height: 26.745vw;
    position: absolute;
    right: 0;
    top: 34.948vw;
}

.solutions__bg svg {
    width: 100%;
    height: 66.745vw;
}

.solutions {
    background: url('../img/solutions.png') no-repeat center top / cover;
    width: 100%;
    height: 48.802vw;

    padding-top: 8.333vw;
    padding-bottom: 5.469vw;

    .container {
        position: relative;
    }

    &__title {
        width: 35.417vw;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(86.87deg, #460B9D 0.75%, #D4034E 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__desc {
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
    }

    &__list li {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
        display: flex;
        align-items: center;
    }


    &__text {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 2.344vw;
        margin-bottom: 1.042vw;
    }


    &__items {
        width: 38.229vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 12.24vw;
        height: 7.292vw;
        background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.130vw solid #fff;
        border-radius: 0.521vw;
        margin-bottom: 0.781vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1.563vw;
        padding-right: 1.563vw;
        cursor: pointer;
        transition: 0.3s;

    }

    &__item .triangle {
        width: 1.927vw;
        height: 1.927vw;
        position: absolute;
        top: -0.09vw;
        right: -0.1vw;
    }

    &__item .solutions__name {
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        color: #434343;
    }

    &__item .solutions__arrow {
        transition: 0.3s;
        padding: 0.417vw;
    }

    &__item .solutions__arrow svg {
        width: 1.563vw;
        height: 1.563vw;
        display: block;
        transition: 0.3s;
    }

    &__item.active>.solutions__name {
        color: #9C066D;
    }

    &__item.active>.solutions__arrow {
        padding: 0.417vw;
        background: #FFFFFF;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item.active>.solutions__arrow svg {
        transform: rotate(45deg);
    }

    &__item.active>.solutions__arrow svg path {
        fill: #9C066D;
    }


    &__item:hover>.solutions__name {
        color: #9C066D;
    }

    &__item:hover>.solutions__arrow {
        padding: 0.396vw;
        background: #FFFFFF;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item:hover>.solutions__arrow svg {
        transform: rotate(45deg);
    }

    &__item:hover>.solutions__arrow svg path {
        fill: #9C066D;
    }
}

.institutions {
    background: url('../img/institutions.png') no-repeat center top / cover;
    width: 100%;
    height: 53.229vw;
    padding-top: 12.24vw;

    .container {
        position: relative;
    }

    &__content {
        position: absolute;
        right: 0;

        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 25.104vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            width: 20.833vw;
            margin-top: 0.521vw;
            display: flex;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
        }

        .icons svg {
            width: 1.563vw;
            height: 1.563vw;
            margin-right: 1.042vw;
        }

    }

    &__desc {
        width: 29.167vw;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
    }

    &__list {
        width: 32.969vw;
    }

    &__list li {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
    }

    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        margin-top: 1.302vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
    }

    &__btn:hover>svg {
        margin-left: 0.725vw;
    }
}


.carriers {
    background: url('../img/carriers.png') no-repeat center top / cover;
    width: 100%;
    height: 55.208vw;
    padding-top: 13.021vw;

    &__content {
        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 9.427vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            width: 20.833vw;
            margin-top: 0.521vw;
            display: flex;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
        }

        .icons svg {
            width: 1.563vw;
            height: 1.563vw;
            margin-right: 1.042vw;
        }
    }

    &__desc {
        width: 28.125vw;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
    }

    &__desc a {
        color: #9C066D;
    }


    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        margin-top: 1.302vw;
        width: 6.823vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
        position: relative;
    }

    &__btn:hover {
        width: 7.823vw;
    }

    &__btn:hover>svg {
        margin-left: 0.725vw;
    }


    &__items {
        display: flex;
        margin-top: 2.604vw;
    }

    &__item {
        padding-left: 1.563vw;
        padding-right: 1.458vw;
        width: 13.542vw;
        height: 7.292vw;
        background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.134vw solid #FFFFFF;
        border-radius: 0.521vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1.042vw;
        cursor: pointer;

        .triangle {
            width: 1.927vw;
            height: 1.927vw;
            position: absolute;
            top: -0.09vw;
            right: -0.2vw;
        }
    }

    &__item:nth-child(2) {
        width: 15.625vw;
    }

    &__item-name {
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        color: #434343;
    }

    &__item-icon {
        width: 2.604vw;
        height: 2.604vw;
    }
}

.forwarders {
    background: url('../img/forwarders.png') no-repeat center top / cover;
    width: 100%;
    height: 53.802vw;
    padding-top: 9.375vw;

    .container {
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        text-align: right;

        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 22.865vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            margin-top: 0.521vw;
            display: flex;
            justify-content: flex-end;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
            width: 20.833vw;
        }

        .icons svg {
            width: 1.563vw;
            height: 1.563vw;
            margin-right: 1.042vw;
        }
    }

    &__desc {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
        width: 20.833vw;
    }

    &__desc a {
        color: #9C066D;
    }


    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.302vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
    }

}


.customs {
    background: url('../img/customs.png') no-repeat center top / cover;
    width: 100%;
    height: 60.208vw;
    padding-top: 11.823vw;

    .carriers__title {
        width: 10.417vw;
    }

    .carriers__desc {
        width: 38.698vw;
    }
}


.ready {
    background: url('../img/ready.png') no-repeat center top / cover;
    width: 100%;
    padding-top: 17.448vw;
    padding-bottom: 19.688vw;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        width: 31.25vw;
    }

    p {
        width: 42.708vw;
        font-size: 1.25vw;
        line-height: 150%;
        text-align: center;
        color: #434343;
        margin-bottom: 2.604vw;

        a {
            color: #9C066D;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 1.25vw;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13.385vw;
        height: 3.125vw;
        background: radial-gradient(100% 372.91% at 0% 100%, #D822FE 0%, #9933EF 100%);
        border-radius: 1.563vw;
    }

}


.about {
    background: url('../img/about.png') no-repeat center top / cover;
    width: 100%;
    height: 55.313vw;
    padding-top: 13.073vw;
    margin-top: 5.156vw;

    .container {
        position: relative;
    }


    &__content {
        width: 39.063vw;
        position: absolute;
        right: 0;

        h2 {
            width: 10.781vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

        }

        p {
            font-weight: 400;
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 1.302vw;
        }
    }
}


.contact {
    background: url('../img/contact.png') no-repeat center top / cover;
    width: 100%;
    height: 59.167vw;
    padding-top: 9.167vw;
    padding-bottom: 8.333vw;

    &__content {
        width: 32.835vw;

        h2 {
            width: 9.323vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .contact__desc {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.781vw;
        }

        .contact__phone {
            font-weight: 700;
            font-size: 1.042vw;
            line-height: 150%;
            color: #9C066D;
            margin-top: 1.042vw;
            display: block;
            margin-bottom: 2.083vw;
        }

        .contact__form {
            input {
                width: 28.125vw;
                height: 2.083vw;
                opacity: 0.4;
                border: none;
                background: transparent;
                border-bottom: 0.104vw solid #434343;
                font-size: 1.042vw;
                line-height: 150%;
                color: #000;
                margin-bottom: 1.042vw;
                padding-bottom: 0.417vw;

                ::placeholder {
                    color: #434343;
                }
            }

            textarea {
                width: 28.125vw;
                height: 4.083vw;
                opacity: 0.4;
                border: none;
                background: transparent;
                border-bottom: 0.104vw solid #434343;
                font-size: 1.042vw;
                line-height: 150%;
                color: #000;
                margin-bottom: 1.042vw;
                padding-bottom: 0.417vw;
                resize: none;

                ::placeholder {
                    color: #434343;
                }
            }

            button {
                font-weight: 700;
                font-size: 0.938vw;
                line-height: 150%;
                text-align: center;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 7.813vw;
                height: 2.083vw;
                background: radial-gradient(100% 372.91% at 0% 100%, #D822FE 0%, #9933EF 100%);
                border-radius: 1.563vw;
                border: none;
                cursor: pointer;
            }
        }

        .contact__download {
            display: flex;
            margin-top: 6.198vw;
        }

        .contact__download-item {
            width: 13.542vw;
            height: 7.292vw;
            background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            border: 0.104vw solid #FFFFFF;
            border-radius: 0.521vw;
            margin-right: 1.042vw;
            padding-left: 1.563vw;
            padding-right: 1.042vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-weight: 600;
                font-size: 1.042vw;
                line-height: 140%;
                color: #434343;
            }

            svg {
                width: 2.604vw;
                height: 2.604vw;
            }
        }
    }
}

.footer {
    background: url('../img/footer.png') no-repeat center top / cover;
    width: 100%;
    height: 28.385vw;
    padding-top: 4.167vw;
    padding-bottom: 1.042vw;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4.531vw;
    }

    &__left {
        width: 32.167vw;

        .footer__logo img {
            width: 8.125vw;
            height: 2.604vw;
        }

        .footer__left-menu {
            display: flex;
            margin-top: 0.781vw;
        }

        .footer__left-menu li {
            margin-right: 2.604vw;
        }

        .footer__left-menu li::before {
            display: none;
        }

        .footer__left-menu li:last-child {
            margin-right: 0;
        }

        .footer__left-menu li a {
            font-size: 1.042vw;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.5;
        }

        .footer__form {
            p {
                font-weight: 700;
                font-size: 1.042vw;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 1.823vw;
            }

            h4 {
                font-weight: 700;
                font-size: 2.5vw;
                line-height: 140%;
                color: #FFFFFF;
                margin-top: 0.521vw;
                margin-bottom: 1.563vw;
            }

            form {
                position: relative;

                input {
                    width: 29.167vw;
                    height: 2.083vw;
                    background: transparent;
                    font-size: 1.042vw;
                    line-height: 150%;
                    color: #FFFFFF !important;
                    border: none;
                    padding-bottom: 0.417vw;
                    border-bottom: 0.104vw solid #FFFFFF;
                    display: block;

                    ::placeholder {
                        font-size: 1.042vw;
                        line-height: 150%;
                        color: #FFFFFF !important;
                        opacity: 1;
                    }
                }

                button {
                    display: block;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    top: 0vw;
                    right: 2.458vw;

                    svg {
                        width: 1.563vw;
                        height: 1.563vw;
                    }
                }
            }
        }
    }

    &__right {
        width: 35.573vw;
    }
}