@import 'fonts';
@import 'reset';
@import 'global';

body {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    background: #F5F5F5;
}

.header {
    width: 100%;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    padding-top: 1.042vw;
    position: fixed;
    top: 0;
    z-index: 9999999999999999999999;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        border-bottom: 0.104vw solid #666666;
        max-width: 93.75vw;
        padding-bottom: 1.042vw;

        a {
            img {
                width: 8.125vw;
                height: 2.604vw;
            }
        }
    }

    &__logo {
        margin-left: 3.646vw;
    }

    &__menu {
        display: flex;
        align-items: center;

        li {
            display: inline-flex;
            margin-right: 4.167vw;
            position: relative;
        }

        li::before {
            display: none;
        }

        li:last-child {
            margin-right: 3.646vw;
        }

        li.active>a {
            font-weight: 700;
            color: #480B9B;
        }

        li:hover>a {
            color: #480B9B;
        }

        li {
            a {
                font-family: 'Oxanium';
                font-weight: 500;
                font-size: 1.042vw;
                line-height: 140%;
                color: #303030;
            }
        }
    }

    .dropdown {
        position: absolute;
        cursor: pointer;
        height: auto;
        z-index: 9999999999999999999999999999;
        visibility: hidden;
        transition: 0.3s;
        opacity: 0;
        width: 5.594vw;
    }

    .dropdown-content {
        position: relative;
        border-radius: 0.500vw;
        top: 8.1vw;
        background: #fff;
        min-width: 16.333vw;
        z-index: 1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
        -webkit-backdrop-filter: blur(0.391vw);
        backdrop-filter: blur(0.391vw);


        li {
            padding: 0.625vw 0.833vw;
        }
    }

    .droplink:hover .dropdown {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.header.active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(144.8%, rgba(255, 255, 255, 0.06)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
    -webkit-backdrop-filter: blur(0.391vw);
    backdrop-filter: blur(0.391vw);

    .container {
        border-bottom: none;
    }
}


.offer {
    background: url('../img/offer.png') no-repeat center top / cover;
    width: 100%;
    z-index: 9999;
    padding-top: 14.948vw;
    padding-bottom: 18.177vw;

    &__title {
        width: 42.708vw;
        font-weight: 700;
        font-size: 2.813vw;
        line-height: 140%;
        background: linear-gradient(86.87deg, #460B9D 0.75%, #D4034E 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__desc {
        width: 42.708vw;
        font-size: 1.25vw;
        line-height: 150%;
        color: #434343;
    }
}


.solutions__bg {
    width: 100%;
    height: 26.745vw;
    position: absolute;
    right: 0;
    top: 34.948vw;
}

.solutions__bg svg {
    width: 100%;
    height: 66.745vw;
}

.solutions {
    background: url('../img/solutions.png') no-repeat center top / cover;
    width: 100%;
    height: 48.802vw;

    padding-top: 8.333vw;
    padding-bottom: 5.469vw;

    .container {
        position: relative;
    }

    &__title {
        width: 35.417vw;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(86.87deg, #460B9D 0.75%, #D4034E 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__desc {
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
    }

    &__list li {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
        display: flex;
        align-items: center;
    }


    &__text {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 2.344vw;
        margin-bottom: 1.042vw;
    }


    &__items {
        width: 38.229vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 12.24vw;
        height: 7.292vw;
        background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.130vw solid #fff;
        border-radius: 0.521vw;
        margin-bottom: 0.781vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1.563vw;
        padding-right: 1.563vw;
        cursor: pointer;
        transition: 0.3s;

    }

    &__item .triangle {
        width: 1.927vw;
        height: 1.927vw;
        position: absolute;
        top: -0.09vw;
        right: -0.1vw;
    }

    &__item .solutions__name {
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        color: #434343;
    }

    &__item .solutions__arrow {
        transition: 0.3s;
        padding: 0.417vw;
    }

    &__item .solutions__arrow svg {
        width: 1.563vw;
        height: 1.563vw;
        display: block;
        transition: 0.3s;
    }

    &__item.active>.solutions__name {
        color: #9C066D;
    }

    &__item.active>.solutions__arrow {
        padding: 0.417vw;
        background: #FFFFFF;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item.active>.solutions__arrow svg {
        transform: rotate(45deg);
    }

    &__item.active>.solutions__arrow svg path {
        fill: #9C066D;
    }


    &__item:hover>.solutions__name {
        color: #9C066D;
    }

    &__item:hover>.solutions__arrow {
        padding: 0.396vw;
        background: #FFFFFF;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item:hover>.solutions__arrow svg {
        transform: rotate(45deg);
    }

    &__item:hover>.solutions__arrow svg path {
        fill: #9C066D;
    }
}

.institutions {
    background: url('../img/institutions.png') no-repeat center top / cover;
    width: 100%;
    height: 53.229vw;
    padding-top: 12.24vw;

    .container {
        position: relative;
    }

    &__content {
        position: absolute;
        right: 0;

        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 25.104vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            width: 20.833vw;
            margin-top: 0.521vw;
            display: flex;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
        }

        .icons img {
            width: auto;
            height: 1.563vw;
        }

    }

    &__desc {
        width: 29.167vw;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
    }

    &__list {
        width: 32.969vw;
    }

    &__list li {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 0.781vw;
    }

    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        margin-top: 1.302vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
    }

    &__btn:hover>svg {
        margin-left: 0.725vw;
    }
}


.carriers {
    background: url('../img/carriers.png') no-repeat center top / cover;
    width: 100%;
    height: 55.208vw;
    padding-top: 13.021vw;

    &__content {
        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 9.427vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            width: 20.833vw;
            margin-top: 0.521vw;
            display: flex;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
        }

        .icons img {
            width: auto;
            height: 1.563vw;
        }
    }

    &__desc {
        width: 28.125vw;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
    }

    &__desc a {
        color: #9C066D;
    }


    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        margin-top: 1.302vw;
        width: 6.823vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
        position: relative;
    }

    &__btn:hover {
        width: 7.823vw;
    }

    &__btn:hover>svg {
        margin-left: 0.725vw;
    }


    &__items {
        display: flex;
        margin-top: 2.604vw;
    }

    &__item {
        padding-left: 1.563vw;
        padding-right: 1.458vw;
        width: 13.542vw;
        height: 7.292vw;
        background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        border: 0.134vw solid #FFFFFF;
        border-radius: 0.521vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1.042vw;
        cursor: pointer;

        .triangle {
            width: 1.927vw;
            height: 1.927vw;
            position: absolute;
            top: -0.09vw;
            right: -0.2vw;
        }
    }

    &__item:nth-child(2) {
        width: 15.625vw;
    }

    &__item-name {
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        color: #434343;
    }

    &__item-icon {
        width: 2.604vw;
        height: 2.604vw;
    }
}

.forwarders {
    background: url('../img/forwarders.png') no-repeat center top / cover;
    width: 100%;
    height: 53.802vw;
    padding-top: 9.375vw;

    .container {
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        text-align: right;

        .subtitle {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.26vw;
        }

        h2 {
            width: 22.865vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .icons {
            margin-top: 0.521vw;
            display: flex;
            justify-content: flex-end;
            border-bottom: 0.052vw solid #9C066D;
            padding-bottom: 1.563vw;
            width: 20.833vw;
        }

        .icons img {
            width: auto;
            height: 1.563vw;
        }
    }

    &__desc {
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
        margin-bottom: 0.781vw;
        width: 20.833vw;
    }

    &__desc a {
        color: #9C066D;
    }


    &__btn {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.302vw;
    }

    &__btn svg {
        width: 1.25vw;
        height: 1.25vw;
        margin-left: 0.521vw;
        transition: 0.3s;
    }

}


.customs {
    background: url('../img/customs.png') no-repeat center top / cover;
    width: 100%;
    height: 60.208vw;
    padding-top: 11.823vw;

    .carriers__title {
        width: 10.417vw;
    }

    .carriers__desc {
        width: 38.698vw;
    }
}


.ready {
    background: url('../img/ready.png') no-repeat center top / cover;
    width: 100%;
    padding-top: 17.448vw;
    padding-bottom: 19.688vw;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        width: 31.25vw;
    }

    p {
        width: 42.708vw;
        font-size: 1.25vw;
        line-height: 150%;
        text-align: center;
        color: #434343;
        margin-bottom: 2.604vw;

        a {
            color: #9C066D;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 1.25vw;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13.385vw;
        height: 3.125vw;
        background: radial-gradient(100% 372.91% at 0% 100%, #D822FE 0%, #9933EF 100%);
        border-radius: 1.563vw;
    }

}


.about {
    background: url('../img/about.png') no-repeat center top / cover;
    width: 100%;
    height: 55.313vw;
    padding-top: 6.073vw;
    margin-top: 5.156vw;

    .container {
        position: relative;
    }


    &__content {
        width: 39.063vw;
        position: absolute;
        right: 0;

        h2 {
            width: 10.781vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

        }

        p {
            font-weight: 400;
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 1.302vw;

            span {
                color: #480b9b;
                font-weight: bold;
            }
        }

        p.mission {
            margin-top: 2.604vw;
        }
    }
}


.contact {
    background: url('../img/contact.png') no-repeat center top / cover;
    width: 100%;
    height: 70.167vw;
    padding-top: 9.167vw;
    padding-bottom: 8.333vw;

    &__content {
        width: 32.835vw;

        h2 {
            width: 9.323vw;
            font-weight: 700;
            font-size: 2.5vw;
            line-height: 140%;
            background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        .contact__desc {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-bottom: 0.781vw;
        }

        .contact__phone {
            font-weight: 700;
            font-size: 1.042vw;
            line-height: 150%;
            color: #9C066D;
            margin-top: 1.042vw;
            display: block;
            margin-bottom: 2.083vw;
        }

        .contact__form {
            input {
                width: 28.125vw;
                height: 2.083vw;
                opacity: 0.4;
                border: none;
                background: transparent;
                border-bottom: 0.104vw solid #434343;
                font-size: 1.042vw;
                line-height: 150%;
                color: #000;
                margin-bottom: 1.042vw;
                padding-bottom: 0.417vw;
            }

            input::placeholder {
                color: #434343;
            }

            textarea {
                width: 28.125vw;
                height: 6.083vw;
                opacity: 0.4;
                border: none;
                background: transparent;
                border-bottom: 0.104vw solid #434343;
                font-size: 1.042vw;
                line-height: 150%;
                color: #000;
                margin-bottom: 1.042vw;
                padding-bottom: 0.417vw;
                resize: none;
            }

            textarea::placeholder {
                color: #434343;
            }

            .contact__form-btns {
                display: flex;
            }

            button {
                font-weight: 700;
                font-size: 0.938vw;
                line-height: 150%;
                text-align: center;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2.083vw;
                width: auto;
                height: 2.083vw;

                padding-left: 1.043vw;
                padding-right: 1.043vw;
                margin-right: 0.821vw;

                background: radial-gradient(100% 372.91% at 0% 100%, #8322FE 0%, #451DB7 100%)
                    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
                    , radial-gradient(100% 372.91% at 0% 100%, #D822FE 0%, #9933EF 100%)
                    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
                ;
                border-radius: 1.563vw;
                border-radius: 1.563vw;
                border: none;
                cursor: pointer;
            }
        }

        .contact__download {
            display: flex;
            margin-top: 6.198vw;
        }

        .contact__download-item {
            width: 13.542vw;
            height: 7.292vw;
            background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            border: 0.104vw solid #FFFFFF;
            border-radius: 0.521vw;
            margin-right: 1.042vw;
            padding-left: 1.563vw;
            padding-right: 1.042vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-weight: 600;
                font-size: 1.042vw;
                line-height: 140%;
                color: #434343;
            }

            svg {
                width: 2.604vw;
                height: 2.604vw;
            }
        }
    }
}

.footer {
    background: url('../img/footer.png') no-repeat center top / cover;
    width: 100%;
    height: 28.385vw;
    padding-top: 4.167vw;
    padding-bottom: 1.042vw;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4.531vw;
    }

    &__left {
        width: 32.167vw;


        .footer__right-menu {
            display: flex;
            margin-top: 3.781vw;
            margin-bottom: 5.467vw;
        }

        .footer__right-menu li {
            margin-right: 2.604vw;
        }

        .footer__right-menu li::before {
            display: none;
        }

        .footer__right-menu li:last-child {
            margin-right: 0;
        }

        .footer__right-menu li a {
            font-size: 1.042vw;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.5;
        }

        .footer__logo img {
            width: 8.125vw;
            height: 2.604vw;
        }

        .footer__form {
            p {
                font-weight: 700;
                font-size: 1.042vw;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 1.823vw;
            }

            h4 {
                font-weight: 700;
                font-size: 2.5vw;
                line-height: 140%;
                color: #FFFFFF;
                margin-top: 0.521vw;
                margin-bottom: 1.563vw;
            }

            form {
                position: relative;

                input {
                    width: 29.167vw;
                    height: 2.083vw;
                    background: transparent;
                    font-size: 1.042vw;
                    line-height: 150%;
                    color: #FFFFFF !important;
                    border: none;
                    padding-bottom: 0.417vw;
                    border-bottom: 0.104vw solid #FFFFFF;
                    display: block;
                }

                input::placeholder {
                    font-size: 1.042vw;
                    line-height: 150%;
                    color: #FFFFFF !important;
                    opacity: 1;
                }

                button {
                    display: block;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    top: 0vw;
                    right: 2.458vw;

                    svg {
                        width: 1.563vw;
                        height: 1.563vw;
                    }
                }
            }
        }
    }

    &__right {
        width: 35.573vw;

        .footer__right-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 6.65vw;

            .item {
                font-size: 0.833vw;
                line-height: 1.5vw;
                color: #FFFFFF;
            }
        }

        .footer__subscribe {
            margin-top: 4.219vw;

            .title {
                font-weight: 600;
                font-size: 1.042vw;
                line-height: 150%;
                color: #FFFFFF;
            }

            .desc {
                font-size: 0.833vw;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.5;
                margin-top: 0.781vw;
                margin-bottom: 1.042vw;
            }

            .footer__subscribe-form {
                display: flex;
                position: relative;

                input {
                    width: 23.073vw;
                    height: 1.979vw;
                    padding-bottom: 0.417vw;
                    border: none;
                    border-bottom: 0.104vw solid #fff;
                    background: transparent;
                    font-size: 1.042vw;
                    line-height: 150%;
                    color: #FFFFFF;
                }

                input::placeholder {
                    font-size: 1.042vw;
                    line-height: 150%;
                    color: #FFFFFF;
                }

                button {
                    font-weight: 700;
                    font-size: 0.938vw;
                    line-height: 150%;
                    text-align: center;
                    color: #9C066D;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7.813vw;
                    height: 2.083vw;
                    background: #FFFFFF;
                    border-radius: 1.563vw;
                    border: none;
                    margin-left: 2.604vw;
                    cursor: pointer;
                }

                .error {
                    position: absolute;
                    top: 1.963vw;
                    color: #fff;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-weight: 700;
            font-size: 0.833vw;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 0.26vw;
        }
    }
}

.popup {
    z-index: 9999999999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(51, 51, 51, .58);
    backdrop-filter: blur(0.2vw);
    display: none;

    &__inner {
        width: 57.292vw;
        height: auto;
        background: #FFFFFF;
        border-radius: 1.563vw;
        padding: 2.604vw;
        position: relative;
        animation: SearchResultsAnonRestricted-module_message-fade-in-4XVrS .2s linear .1s backwards;
    }

    &__inner h4 {
        font-weight: 700;
        font-size: 1.667vw;
        line-height: 140%;
        color: #9C066D;
    }

    &__inner p {
        font-size: 1.25vw;
        line-height: 150%;
        color: #434343;
        margin-bottom: 1.198vw;
    }

    &__inner .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0vw;
        width: 4.115vw;
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        cursor: pointer;

        svg {
            width: 1.25vw;
            height: 1.25vw;
            margin-right: 0.26vw;
        }
    }

    &__inner .close {
        position: absolute;
        top: 1.563vw;
        right: 1.563vw;
        cursor: pointer;

        svg {
            width: 1.302vw;
            height: 1.302vw;
        }
    }
}



.popup__video {
    .back {
        margin-top: 1.800vw;
    }

    iframe {
        height: 29.625vw;
    }
}

.popup.active {
    display: flex;
}

@keyframes SearchResultsAnonRestricted-module_message-fade-in-4XVrS {
    0% {
        opacity: 0;
        transform: scale(.95) translateY(1em)
    }
}

/* institutions */

.info-section {
    background: url('../img/institutions-page.png') no-repeat center top / cover;
    width: 100%;
    height: auto;
    padding-bottom: 7.708vw;


    .carriers__title {
        width: 25.104vw;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        text-fill-color: transparent;
    }

    .desc {
        font-weight: 600;
        font-size: 1.042vw;
        line-height: 150%;
        color: #434343;
        margin-top: 1.042vw;
    }

    .carriers__desc span {
        color: #9C066D;
        font-weight: 600;
    }

    .carriers__btn {
        margin-top: 2.564vw;
        svg {
            margin-left: 0;
            margin-right: 0.321vw;
        }
    }

    .carriers__btn:hover>svg {
        margin-left: 0;
    }

    .icons img {
        width: auto;
        height: 1.563vw;
    }
}


.contact.reverse {
    background: url('../img/contact-reverse.png') no-repeat center top / cover;

    .contact__content {
        position: absolute;
        right: 0;
    }

}

.forwarders-page .contact.contact-page {
    margin-top: 25.381vw;
}

.contact.contact-page {
    padding-top: 0;

    .container {
        position: relative;
    }

    h2 {
        width: 30.26vw;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(86.87deg, #460B9D 0.75%, #D4034E 94.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: rgba(0, 0, 0, 0);
    }
}



.info-section.carriers {
    background: url('../img/carriers-page.png') no-repeat center top / cover;
    width: 100%;
    height: 73.375vw;
    padding-bottom: 0;
    background-position-x: 4vw;

    .container {
        position: relative;
    }

    .carriers__desc {
        width: 39.698vw;
    }

    .carriers__right-text {
        position: absolute;
        right: 0;
        top: 34.208vw;
        width: 21.875vw;
        border-right: 0.104vw solid #434343;
        padding-right: 0.521vw;

        p {
            font-weight: 400;
            font-size: 1.042vw;
            line-height: 150%;
            text-align: right;
            color: #434343;
        }
    }
}

.info-section.forwarders {
    background: url('../img/forwarders-page.png') no-repeat center top / cover;
    width: 100%;
    height: 69.844vw;
    margin-top: 6.927vw;
    padding-top: 4.531vw;
    padding-bottom: 0;

    .carriers__desc {
        width: 36.406vw;
    }

    .carriers__right-text {
        width: 35.646vw;
        position: absolute;
        right: 0;
        top: 16.875vw;
        border-right: 0.104vw solid #434343;
        padding-right: 0.521vw;
    }

    .carriers__right-text p {
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 150%;
        text-align: right;
        color: #434343;
    }

    .carriers__items {
       // float: right;
    }
}

.customs-page {
    background: url('../img/customs-sec-1.png') no-repeat center top / cover;
    width: 100%;
    height: auto;
    padding-top: 12.135vw;
    padding-bottom: 19.833vw;

    .customs__title {
        width: 10.417vw;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 140%;
        background: linear-gradient(89.53deg, #460B9D 0.12%, #D4034E 69.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: rgba(0, 0, 0, 0);
    }

    .icons img {
        width: auto;
        height: 1.563vw;
    }

    .customs__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.563vw;
        margin-bottom: 4.167vw;
    }

    .customs__img img {
        width: 78.125vw;
        height: 35vw;
    }

    .customs__info {
        width: 50vw;

        .customs__info-desc {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
        }

        .customs__info-text {
            font-size: 1.042vw;
            line-height: 150%;
            color: #434343;
            margin-top: 0.781vw;
            margin-bottom: 1.042vw;
            width: 35.417vw;
        }

        .movie {
            width: 13.542vw;
            height: 7.292vw;
            background: linear-gradient(73.83deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            border: 0.104vw solid #FFFFFF;
            border-radius: 0.521vw;
            padding: 1.563vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            margin-top: 1.563vw;

            p {
                font-weight: 600;
                font-size: 1.042vw;
                line-height: 140%;
                color: #434343;
            }

            svg {
                width: 2.604vw;
                height: 2.604vw;
            }

        }
    }
}

.request__popup {
    .popup__inner {
        width: 44.292vw;
        height: auto;
        background: #fff;
        border-radius: 1.563vw;
        padding: 2.604vw;
        position: relative;
        -webkit-animation: SearchResultsAnonRestricted-module_message-fade-in-4XVrS .2s linear .1s backwards;
        animation: SearchResultsAnonRestricted-module_message-fade-in-4XVrS .2s linear .1s backwards;

        .contact__form {
            display: flex;
        }

        .contact__form input {
            width: 28.125vw;
            height: 2.083vw;
            opacity: .4;
            border: none;
            background: rgba(0, 0, 0, 0);
            border-bottom: 0.104vw solid #434343;
            font-size: 1.042vw;
            line-height: 150%;
            color: #000;
            margin-bottom: 1.042vw;
            padding-bottom: 0.417vw;
        }

        .contact__form button {
            font-weight: 700;
            font-size: .938vw;
            line-height: 150%;
            text-align: center;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7.813vw;
            height: 2.083vw;
            width: 9.375vw;
            height: 2.083vw;
            background: -o-radial-gradient(0% 100%, 100% 372.91%, #8322FE 0%, #451DB7 100%), -o-radial-gradient(0% 100%, 100% 372.91%, #D822FE 0%, #9933EF 100%);
            background: radial-gradient(100% 372.91% at 0% 100%, #8322FE 0%, #451DB7 100%), radial-gradient(100% 372.91% at 0% 100%, #D822FE 0%, #9933EF 100%);
            border-radius: 1.563vw;
            border-radius: 1.563vw;
            border: none;
            cursor: pointer;
            margin-left: 1.243vw;
        }
    }
}






.error {
    margin-top: 0.781vw;
}

.fancybox__container {
    z-index: 9999999999999999999999999999999;
}

.header__burger {
    display: none;
}

.mobile__menu {
    display: none;
}

@media screen and (max-width: 920px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 2.135vw;
        line-height: 120% !important;
    }

    h2 {
        font-size: 9.417vw !important;
        width: 100% !important;
    }

    .dropdown {
        display: none !important;
    }


    .container {
        max-width: 194.445vw;
        padding: 0 6.778vw;
    }

    .header {
        padding-top: 4.583vw;
    }

    .header.active {
        backdrop-filter: blur(2.391vw);
    }

    .header .container {
        padding-bottom: 2.042vw;
    }

    .header__logo {
        margin-left: 0;
    }

    .header .container a img {
        width: 22.125vw;
        height: 7.604vw;
    }

    .header__menu {
        display: none;
    }

    .header__burger {
        display: block;

        svg {
            display: block;
            width: 5.917vw;
            height: 5.917vw;
            cursor: pointer;
        }
    }

    .mobile__menu {
        position: fixed;
        top: 13.865vw;
        bottom: 0;
        right: 0;
        -webkit-transform: translate(-150%);
        -ms-transform: translate(-150%);
        transform: translate(-150%);
        height: 100%;
        max-width: 694px;
        width: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(144.8%, rgba(255, 255, 255, 0.06)));
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.06) 144.8%);
        -webkit-backdrop-filter: blur(0.391vw);
        backdrop-filter: blur(1.391vw);
        padding: 14.917vw;
        z-index: 999999;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        display: block;
        z-index: 999999999999999800000000000000000000000;
    }

    .mobile__menu.active {
        transform: translate(0%);
    }

    .mobile__menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .mobile__menu li {
        margin-bottom: 6.083vw;
    }

    .mobile__menu li::before {
        display: none;
    }

    .mobile__menu li.active>a {
        font-weight: bold;
        color: #480b9b;
    }

    .mobile__menu li a {
        color: #303030;
    }

    .mobile__menu li.droplink {
        flex-direction: column !important;
    }

    .dropdown-mob {
        margin-top: 4.521vw;
    }

    .dropdown-mob-content li a {
        font-size: 3.677vw !important;
    }

    .dropdown-mob-content li.active>a {
        color: #480b9b;
    }

    .offer {
        padding-top: 24.948vw;
        padding-bottom: 38.177vw;
    }

    .offer__title {
        width: auto;
        font-size: 10.3vw;
    }

    .offer__desc {
        font-size: 3.334vw;
        width: auto
    }


    .solutions {
        padding-top: 0;
    }

    .solutions__bg {
        display: none;
    }

    .solutions__title {
        font-size: 9.417vw;
        width: auto;
        text-align: center;
    }

    .solutions__desc {
        font-size: 3.334vw;
        margin-bottom: 2.781vw;
    }

    .solutions__list li {
        font-size: 3.334vw;
        margin-bottom: 2.781vw;
    }

    li::before {
        width: 1.417vw;
        height: 1.417vw;
        margin-right: 1.521vw;
    }


    .solutions {
        height: 166.802vw;
    }

    .solutions__text {
        font-size: 3.334vw;
        margin-bottom: 4.042vw;
    }

    .solutions__items {
        width: 100%;
    }

    .solutions__item .solutions__name {
        font-size: 3.042vw;
    }

    .solutions__item .solutions__arrow svg {
        width: 3.563vw;
        height: 6.563vw;
    }

    .solutions__item {
        width: 41.24vw;
        height: 23.292vw;
        margin-bottom: 4.781vw;
    }


    .institutions {
        height: auto;
        background-position-x: 25vw;
        padding-bottom: 12.24vw;
    }

    .institutions__content {
        position: initial;
    }

    .institutions__content .subtitle {
        font-size: 4.042vw;
        margin-bottom: 1.46vw;
    }

    .institutions__content .icons {
        width: 100%;
        padding-bottom: 2.563vw;
    }

    .institutions__content .icons svg {
        width: 5.563vw;
        height: 5.563vw;
        margin-right: 4.042vw;
    }

    .institutions__desc {
        font-size: 3.334vw;
        width: 100%;
        margin-top: 2.042vw;
        margin-bottom: 1.781vw;
    }

    .institutions__list {
        width: 100%;
    }

    .institutions__list li {
        font-size: 3.334vw;
        margin-bottom: 3.781vw;
    }

    .institutions__btn {
        font-size: 3.334vw;
        margin-top: 6.302vw;
    }

    .institutions__btn svg {
        width: 4.25vw;
        height: 3.25vw;
    }


    .carriers {
        height: auto;
        background-position-x: 10.208vw;
        padding-bottom: 12.24vw;
    }

    .carriers__content .subtitle {
        font-size: 4.042vw;
        margin-bottom: 1.46vw;

    }

    .carriers__content .icons {
        width: 100%;
        padding-bottom: 2.563vw;
    }

    .carriers__content .icons svg {
        width: 5.563vw;
        height: 5.563vw;
        margin-right: 4.042vw;
    }

    .carriers__desc {
        font-size: 3.334vw;
        width: 100%;
        margin-top: 2.042vw;
        margin-bottom: 1.781vw;
    }

    .carriers__btn {
        font-size: 3.334vw;
        margin-top: 6.302vw;
        width: 40%;
    }

    .carriers__btn:hover {
        width: auto;
    }

    .carriers__btn:hover>svg {
        margin-left: 0.521vw !important;
    }

    .carriers__btn svg {
        width: 4.25vw;
        height: 3.25vw;
    }

    .carriers__items {
        margin-top: 3.604vw;
        justify-content: space-between;
    }

    .carriers__item {
        width: 47%;
        height: 20.292vw;
        padding-left: 6.563vw;
        padding-right: 6.458vw;
    }

    .carriers__item:nth-child(2) {
        width: 47%;
    }

    .carriers__item-name {
        font-size: 3.042vw;
    }

    .carriers__item-icon {
        width: 5.604vw;
        height: 5.604vw;
    }

    .forwarders {
        height: auto;
        padding-bottom: 12.24vw;
        padding-top: 13.021vw;
        background-position-x: -122.813vw;
    }

    .forwarders__content .subtitle {
        font-size: 4.042vw;
        margin-bottom: 1.46vw;
    }

    .forwarders__content .icons {
        width: 100%;
        padding-bottom: 2.563vw;
    }

    .forwarders__content .icons svg {
        width: 5.563vw;
        height: 5.563vw;
        margin-right: 4.042vw;
    }

    .forwarders__desc {
        font-size: 3.334vw;
        width: 100%;
        margin-top: 2.042vw;
        margin-bottom: 1.781vw;
    }

    .forwarders__btn {
        font-size: 3.334vw;
        margin-top: 6.302vw;
        width: auto;
    }

    .forwarders__btn svg {
        width: 4.25vw;
        height: 3.25vw;
    }

    .forwarders__content {
        position: initial;
    }

    .forwarders .carriers__items {
        width: -webkit-fill-available;
        display: flex;
        justify-content: flex-end;
    }


    .customs {
        height: auto;
        padding-top: 13.021vw;
        padding-bottom: 12.24vw;
    }

    .customs .carriers__desc {
        width: 100%;
    }

    .ready {
        padding-top: 17.448vw;
        padding-bottom: 9.688vw;
    }

    .ready p {
        font-size: 3.334vw;
        width: 100%;
        margin-bottom: 4.604vw;
    }

    .ready__btn {
        width: 37.385vw;
        height: 10.125vw;
        border-radius: 6.563vw;
        font-size: 3.25vw;
    }

    .about {
        height: auto;
        padding-bottom: 12.24vw;
        background-position-x: 100%;
    }

    .about__content {
        width: 100%;
        position: initial;
    }

    .about__content p {
        font-size: 3.334vw;
    }

    .about__content p.mission {
        margin-top: 6.604vw;
    }


    .contact {
        height: auto;
        padding-top: 12.24vw;
        padding-bottom: 10.333vw;
    }

    .contact__content {
        width: 100%;
    }

    .contact__content .contact__desc {
        font-size: 3.334vw;
    }

    .contact__content .contact__phone {
        font-size: 3.334vw;
        margin-top: 3.042vw;
        margin-bottom: 7.083vw;
    }

    .contact__content .contact__form input {
        width: 100%;
        height: 8.083vw;
        font-size: 3.042vw;
        margin-bottom: 4.042vw;
        padding-bottom: 3.417vw;
    }

    .contact__content .contact__form textarea {
        width: 100%;
        height: 23.083vw;
        font-size: 3.042vw;
        margin-bottom: 4.042vw;
        padding-bottom: 3.417vw;
    }

    .contact__content .contact__form button {
        width: 48.375vw;
        height: 11.083vw;
        border-radius: 8.563vw;
        font-size: 3.938vw;
    }

    .contact__content .contact__download {
        margin-top: 9.198vw;
        justify-content: space-between;
    }

    .contact__content .contact__download-item {
        width: 47%;
        height: 20.292vw;
        padding-left: 5.563vw;
        padding-right: 5.042vw;
    }

    .contact__content .contact__download-item p {
        font-size: 3.042vw;
    }

    .contact__content .contact__download-item svg {
        width: 5.604vw;
        height: 5.604vw;
    }


    .popup__inner {
        width: 90%;
        height: auto;
        border-radius: 3.563vw;
        padding: 5.604vw;
    }


    .popup__inner h4 {
        font-size: 5.667vw;
    }

    .popup__inner p {
        font-size: 3.25vw;
        margin-bottom: 2.198vw;
    }

    .popup__inner .back {
        width: auto;
        font-size: 3.042vw;
        align-items: center;
    }

    .popup__inner .back svg {
        width: 3.25vw;
        height: 3.25vw;
        margin-right: 1.26vw;
    }

    .popup__inner .close svg {
        display: flex;
        width: 3.302vw;
        height: 3.302vw;
    }

    .popup__inner .close {
        top: 2.563vw;
        right: 2.563vw;
    }

    .footer {
        height: auto;
        padding-top: 10.167vw;
        padding-bottom: 2.342vw;
    }

    .footer__content {
        flex-direction: column;
        padding-bottom: 7.531vw;
    }

    .footer__left .footer__logo img {
        width: 22.125vw;
        height: 7.604vw;
    }

    .footer__left {
        width: 100%;
    }

    .footer__left .footer__left-menu {
        margin-top: 2.781vw;
        width: 100%;
    }

    .footer__left .footer__left-menu li {
        margin-right: 6.604vw;
    }

    .footer__left .footer__left-menu li a {
        font-size: 3.042vw;
    }

    .footer__left .footer__form p {
        font-size: 3.042vw;
        margin-top: 4.823vw;
    }

    .footer__left .footer__form h4 {
        font-size: 5.5vw;
        margin-top: 2.521vw;
        margin-bottom: 4.563vw;
    }

    .footer__left .footer__form form input {
        width: 100%;
        height: 6.083vw;
        background: rgba(0, 0, 0, 0);
        font-size: 3.042vw;
        padding-bottom: 2.417vw;
    }

    .footer__left .footer__form form input::placeholder {
        font-size: 3.042vw;
    }

    .footer__left .footer__form form button {
        right: -0.542vw;
    }

    .footer__left .footer__form form button svg {
        width: 4.563vw;
        height: 4.563vw;
        display: flex;
    }

    .footer__right {
        width: 100%;
    }

    .footer__right .footer__right-info {
        margin-top: 5.208vw;
    }

    .footer__right .footer__right-info .item {
        font-size: 2.833vw;
        line-height: 4.5vw;
    }

    .footer__right .footer__subscribe {
        margin-top: 9.219vw;
    }

    .footer__right .footer__subscribe .title {
        font-size: 4.042vw;
    }

    .footer__right .footer__subscribe .desc {
        font-size: 3.042vw;
        margin-top: 1.781vw;
        margin-bottom: 3.042vw;
    }

    .footer__right .footer__subscribe .footer__subscribe-form input {
        width: 100%;
        height: 6.083vw;
        background: rgba(0, 0, 0, 0);
        font-size: 3.042vw;
        padding-bottom: 2.417vw;
    }

    .footer__right .footer__subscribe .footer__subscribe-form input::placeholder {
        font-size: 3.042vw;
    }

    .footer__right .footer__subscribe .footer__subscribe-form button {
        font-size: 3.238vw;
        width: 34.813vw;
        height: 7.083vw;
        border-radius: 4.563vw;
        margin-left: 4.604vw;
    }

    .footer__copyright p {
        font-size: 2.833vw;
    }


    .info-section {
        height: auto;
        padding-top: 27.021vw;
        background-position-x: -73.792vw;
    }

    .contact.reverse .contact__content {
        position: initial;
    }

    .contact__content .contact__desc {
        margin-bottom: 4.781vw;
    }

    .info-section .desc {
        font-size: 2.833vw;
        margin-top: 5.042vw;
    }

    .info-section .icons img {
        height: 100%;
    }

    .info-section.carriers {
        height: auto;
        padding-bottom: 15vw;
    }

    .info-section.carriers .carriers__desc {
        width: 100%;
    }

    .info-section.carriers .carriers__right-text {
        position: initial;
        width: 100%;
        padding-right: 3.521vw;
        margin-top: 8.208vw;
    }

    .info-section.carriers .carriers__right-text p {
        font-size: 3.334vw;
    }

    .info-section.forwarders .carriers__desc {
        width: 100%;
    }

    .info-section.forwarders {
        height: auto;
        padding-top: 19.531vw;
        padding-bottom: 10vw;
        background: none;
    }

    .info-section.forwarders .carriers__right-text {
        position: initial;
        width: 100%;
        padding-right: 3.521vw;
        margin-top: 8.208vw;
    }

    .info-section.forwarders .carriers__right-text p {
        font-size: 3.334vw;
    }

    .info-section.forwarders .carriers__content {
        padding: 0 6.778vw;
        backdrop-filter: blur(17.391vw);
        padding: 4.521vw;
        height: auto;

        .carriers__desc {
            width: 100% !important;
            margin-top: 8vw !important;
        }
    }

    .info-section.forwarders .carriers__items {
        top: 4.467vw;
    }

    .info-section.forwarders .container {
        padding: 0;
    }

    .customs-page {
        padding-top: 19.135vw;
    }

    .customs-page .icons img {
        height: 6.563vw;
    }

    .customs-page .customs__info {
        width: 100%;
    }

    .customs-page .customs__info .customs__info-desc {
        font-size: 3.334vw;
        width: 100%;
    }

    .customs-page .customs__info .customs__info-text {
        font-size: 3.334vw;
        width: 100%;
        margin-top: 2.781vw;
        margin-bottom: 2.042vw;
    }

    .customs-page .customs__img img {
        width: 100%;
        height: 100%;
    }

    .customs-page .customs__info .movie {
        width: 37.542vw;
        height: 20.292vw;
        padding: 5.563vw;
        margin-top: 6.563vw;
    }

    .customs-page .customs__info .movie p {
        font-size: 3.042vw;
    }

    .customs-page .customs__info .movie svg {
        width: 5.604vw;
        height: 5.604vw;
    }

    .icons img {
        height: 5.563vw !important;
    }

    .popup__video {

        iframe {
            height: 43.625vw;
        }
    }

    .footer__left .footer__right-menu li {
        margin-right: 8.604vw;
    }

    .footer__left .footer__right-menu li a {
        font-size: 3.042vw;
    }
}