@import 'reset';
@import 'global';

body {
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    background: #282C33;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    padding-top: 2.222vw;

    &__logo img {
        width: 7.986vw;
        height: 2.639vw;
    }

    &__lang {
        display: flex;
        cursor: pointer;
    }

    &__lang a {
        font-weight: 600;
        font-size: 1.111vw;
        line-height: 1.458vw;
        color: #ABB2BF;
    }

    &__lang svg {
        width: 0.694vw;
        height: 0.347vw;
        position: relative;
        top: 0.408vw;
        left: 0.278vw;
    }
}

.intro .container {
    position: relative;
}

.intro {
    padding-top: 4.375vw;

    &__bg {
        position: absolute;
        left: 72.153vw;
        top: -1.806vw;
    }

    &__bg svg {
        width: 5.903vw;
        height: 5.903vw;
    }

    &__title {
        font-weight: 500;
        font-size: 2.222vw;
        line-height: 2.917vw;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }

    &__title::after {
        content: '';
        display: block;
        width: 22.153vw;
        height: 0.069vw;
        background: #C778DD;
        margin-left: 1.111vw;
    }

    &__desc {
        font-weight: 500;
        font-size: 1.111vw;
        line-height: 1.736vw;
        color: #ABB2BF;
        margin-top: 2.222vw;
    }

    &__btn {
        display: block;
        padding: 1.667vw 2.222vw 1.667vw 0vw;
        padding-left: 18.056vw;
        width: 100%;
        height: 5.486vw;
        background: #C778DD;
        border: 1px solid #ABB2BF;
        font-weight: 500;
        font-size: 1.667vw;
        line-height: 2.153vw;
        color: #FFFFFF;
        margin-top: 4.444vw;
    }
}


.works .container {
    position: relative;
}

.works {
    padding-top: 2.222vw;

    &__bg-right {
        position: absolute;
        left: -17.403vw;
        top: 17.319vw;
    }

    &__bg-right svg {
        width: 16.806vw;
        height: 16.806vw;
    }

    &__bg-left {
        position: absolute;
        left: 72.597vw;
        top: 17.319vw;
    }

    &__bg-left svg {
        width: 15.903vw;
        height: 12.847vw;
    }

    &__title {
        font-weight: 500;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #FFFFFF;
    }

    &__desc {
        font-weight: 400;
        font-size: 1.111vw;
        line-height: 1.736vw;
        color: #ABB2BF;
        margin-top: 0.764vw;
    }

    &__list {
        margin-top: 2.222vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list-item {
        width: 35.069vw;
        height: 27.917vw;
        border: 0.069vw solid #ABB2BF;
        margin-bottom: 1.389vw;
    }

    &__item-img {
        width: 35.069vw;
        height: 13.958vw;
        border-bottom: 0.069vw solid #ABB2BF;
    }

    &__item-img img {
        width: 100%;
        height: 100%;
    }

    &__item-pretitle {
        border-bottom: 0.069vw solid #ABB2BF;
        width: 100%;
        height: 2.569vw;
        font-weight: 400;
        font-size: 1.111vw;
        line-height: 1.458vw;
        color: #ABB2BF;
        padding: 0.556vw;
    }

    &__item-bottom {
        padding: 1.111vw;
    }

    &__item-bottom h3 {
        font-weight: 500;
        font-size: 2.222vw;
        line-height: 2.917vw;
        color: #FFFFFF;
    }

    &__item-bottom p {
        font-weight: 500;
        font-size: 1.111vw;
        line-height: 1.458vw;
        color: #ABB2BF;
        display: block;
        margin-top: 1.111vw;
        margin-bottom: 1.111vw;
    }

    &__item-bottom a {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0.486vw;
        width: 11.597vw;
        height: 2.569vw;
        border: 0.069vw solid #C778DD;
        font-weight: 500;
        font-size: 1.111vw;
        line-height: 1.458vw;
        color: #FFFFFF;
    }

}

.contacts .container {
    position: relative;
}

.contacts {
    padding-top: 4.167vw;

    &__list {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    &__list-left {
        position: relative;
    }

    &__list-left-title {
        font-weight: 500;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #FFFFFF;
    }

    &__app img {
        width: 10.694vw;
        height: 10.694vw;
        margin-top: 6.667vw;
    }

    &__list-left-title .n {
        width: 0.972vw;
        height: 2.014vw;
        position: relative;
        top: 0.413vw;
    }

    &__list-left-title .arrow-1 {
        width: 15.584vw;
        height: 8.749vw;
        position: absolute;
        left: 10vw;
        top: 1.37vw;
    }

    &__list-left-title .light {
        font-weight: 300;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #FFFFFF;
    }

    &__app {
        display: flex;
        justify-content: space-between;
        width: 24.097vw;
    }

    &__app .app-svg {
        width: 17.177vw;
        height: 4.377vw;
        position: absolute;
        top: 8.417vw;
    }

    &__app .app__link .wing-svg {
        width: 3.873vw;
        height: 4.341vw;
        position: absolute;
        left: 3.9vw;
    }

    &__app .app__link .app__link-text {
        font-weight: 600;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #C778DD;
        margin-top: 5.347vw;
    }

    &__app .telegram-link .telegram-svg {
        width: 2.958vw;
        height: 4.931vw;
        position: absolute;
        left: 19.431vw;
        top: 22.069vw;
    }

    &__app .telegram-link .telegram__link-text {
        width: 19.097vw;
        font-weight: 600;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #C778DD;
        transform: rotate(18.71deg);
        position: absolute;
        top: 27.142vw;
        left: 14.869vw;
    }

    &__list-right {
        background: url(../img/batman.png) no-repeat right top / cover;
        width: 40.278vw;
        height: 31.24vw;
        position: relative;
    }

    &__list-right .drive {
        position: absolute;
        top: 0;
        font-weight: 600;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #333333;
    }

    &__list-right .drive .drive-1 {
        position: absolute;
        left: 4.681vw;
        top: 2.347vw;
        width: 17.778vw;
    }

    &__list-right .drive .drive-2 {
        width: 19.097vw;
        position: absolute;
        top: 6.694vw;
        left: 3.694vw;
    }

    &__list-right .drive .drive-3 {
        position: absolute;
        top: 8.3vw;
        left: 6.5vw;
    }

    &__list-right .waths svg {
        width: 3.873vw;
        height: 4.341vw;
        position: absolute;
        top: 26.944vw;
        left: 11.944vw;
    }

    &__list-right .waths p {
        font-weight: 600;
        font-size: 1.528vw;
        line-height: 2.014vw;
        color: #C778DD;
        position: absolute;
        top: 29.833vw;
        left: 5vw;
    }
}